[2020-09-16 17:48] dakrownie opened #1100 "G.h Website: Map at a Glance - no link"
Link to G.h Map: Cases - map image loads too slowly (will be slow for beta)

[Link to beta testing blocker list](https://docs.google.com/spreadsheets/d/1wM6se-GPNic3xxyggXPEsk0W6qMo6zl_RRcEwU6OcoU/edit#gid=1506108781)

[2020-09-16 17:49] dakrownie opened #1101 "G.h Website: Get involved link broken"
Get involved content - consolidated to 1 menu item.
Need to reduce menu options:
Map, List, Project, About

[Link to beta testing blocker list](https://docs.google.com/spreadsheets/d/1wM6se-GPNic3xxyggXPEsk0W6qMo6zl_RRcEwU6OcoU/edit#gid=1506108781)

[2020-09-16 17:58] attwad commented on #1043
Seems our contract cover us for the next 12 months, so removing the launch blocker bit. Pfew.

[2020-09-16 17:58] shroothless commented on #1092
Let's add to the menu under account - Let's put it under About
![image](https://user-images.githubusercontent.com/67452108/93374402-a640d800-f824-11ea-997f-87e7b173d99d.png)

[2020-09-16 18:07] gtuli commented on #1043
Just to clarify, our contract covers total 12 months. We have utilized almost 6 months of it and have six remaining. Having a local lookup engine does make sense long term. We may have weigh it with other pressing requirements before launch.

[2020-09-16 18:11] shroothless commented on #1069
@acansler @sratcliffe118 I think this also should be at the account menu.

[2020-09-16 18:44] sratcliffe118 commented on #1069
Sgtm, think we should have a link somewhere visible on the line list of
download area too

On Wed, 16 Sep 2020, 19:11 shroothless, <notifications@github.com> wrote:

[2020-09-16 18:45] sratcliffe118 commented on #1092
I do think we need it somewhere on line list view too even if it's terms of
use which links out to the copy.

Could we include on the first time user dialogue too

On Wed, 16 Sep 2020, 18:59 shroothless, <notifications@github.com> wrote:

[2020-09-16 20:40] shroothless commented on #1092
+1 for first time use as well. Adding.

On Wed, Sep 16, 2020 at 2:45 PM Stephen Ratcliffe <notifications@github.com>
wrote:

[2020-09-16 20:44] lmanul commented on #1077
I wouldn't know how to fix the portal :-) If you give me a different link, I'm glad to switch to that.

[2020-09-16 20:48] lmanul commented on #1065
What is Tommy's Github handle? This probably shouldn't be assigned to me just yet.

[2020-09-16 20:49] lmanul commented on #1064
What is Tommy's Github handle? This probably shouldn't be assigned to me just yet.

[2020-09-16 20:49] lmanul commented on #1075
This isn't very actionable -- what is the bug here exactly?

[2020-09-16 20:50] lmanul commented on #1060
I would argue font face is not P0? If everything is P0, nothing is ;-P

[2020-09-16 20:51] lmanul commented on #1063
I have no idea what this means. "Remove download"? What is "download" and from where should it be removed?

[2020-09-16 21:30] sratcliffe118 opened #1102 "G.h Map visual: Adjust all typefaces to Inter or Mabry"
Adjust all typefaces to Inter on G.h Map view

[2020-09-16 21:31] sratcliffe118 opened #1103 "G.h Map: Color adjustment for all map views"
Color adjustment for all map views as per spec: https://docs.google.com/presentation/d/1YExjOd8qDXQ-yZm0LDJJXw3doI_V9cQGtPnHipX9FiU/edit?pli=1#slide=id.g978baf5528_0_46

[2020-09-16 21:32] sratcliffe118 commented on #1076
Yes, we can close this

[2020-09-16 21:32] #1076 closed

[2020-09-16 21:33] sratcliffe118 commented on #1080
Forms part of the transition to individual cases issue so closing

[2020-09-16 21:33] #1080 closed

[2020-09-16 21:34] sratcliffe118 commented on #1075
Agree, this is covered in the other raised issues around individual case view so closing.

[2020-09-16 21:34] #1075 closed

[2020-09-16 21:35] sratcliffe118 commented on #1077
link works for me, not sure as to the issue here

[2020-09-16 21:36] sratcliffe118 commented on #1082
This has been descoped and not required for MVP

[2020-09-16 21:36] #1082 closed

[2020-09-16 21:39] #1094 closed

[2020-09-16 22:08] sratcliffe118 commented on #1093
closing as this is the uber bug for visuals and not needed

[2020-09-16 22:08] #1093 closed

[2020-09-16 22:15] sratcliffe118 commented on #1095
As of today we are at 10

[2020-09-16 22:16] #1073 closed

[2020-09-16 22:16] #1078 closed

[2020-09-16 22:17] #1081 closed

[2020-09-16 22:17] #1062 closed

[2020-09-16 22:18] sratcliffe118 commented on #1060
This is duplicate of #1102

Not a P0 either, agreed, 1102 is a P1

[2020-09-16 22:18] #1060 closed

[2020-09-16 22:19] sratcliffe118 commented on #1059
Duplicate of #1074

[2020-09-16 22:19] #1059 closed

[2020-09-16 22:19] sratcliffe118 commented on #1058
Duplicate of #1074

[2020-09-16 22:19] #1058 closed

[2020-09-16 22:20] sratcliffe118 commented on #1061
duplicate of #1084

[2020-09-16 22:20] #1061 closed

[2020-09-16 23:40] leslieleland commented on #1076
Thanks - I was going to triage these issues today since there were some
that were resolved from our discussion and others that were duplicates.
The tags on the github issues are more effective than the spreadsheet (our
first pass on sorting and prioritizing).  Appreciate everyone pitching in
to get our Launch list clarified.

On Wed, Sep 16, 2020 at 2:32 PM Stephen Ratcliffe <notifications@github.

[2020-09-17 01:35] shroothless commented on #1092
See mock [here](https://www.figma.com/file/gIpIu2cyO3MWXQ86Npb0ab/G.h-Map?node-id=1085%3A829)
![image](https://user-images.githubusercontent.com/67452108/93409284-8df0ad80-f864-11ea-8376-0be6e67ed67d.png)

[2020-09-17 01:38] shroothless commented on #1098
See mocks [here](https://www.figma.com/file/gIpIu2cyO3MWXQ86Npb0ab/G.h-Map?node-id=1085%3A1472)

We will need content from the marketing team. I've also added links to the terms of services and data dictionary

[2020-09-17 02:19] shroothless commented on #1072
See mock [here](https://www.figma.com/file/gIpIu2cyO3MWXQ86Npb0ab/G.h-Map?node-id=1085%3A829)
![image](https://user-images.githubusercontent.com/67452108/93412152-98ae4100-f86a-11ea-8762-dedd01e5c095.png)

[2020-09-17 02:22] shroothless commented on #1074
The filters should only be available on the "Individual cases" tab

[2020-09-17 02:22] axmb commented on #961
I've tested some changes locally that alleviate the memory pressure from `batchValidate` (and with enough cases, shift the OOM to `batchUpsert` -- which I imagine we could also make less memory sensitive). With the increase in prod memory, though, I think we'll be set here. There's also a large change to the controller structure in the works by Tim.

I think it's safe to consider this fixed. To be

[2020-09-17 02:28] shroothless commented on #1056
Cumulative cases should have the country list. See mock [here](https://www.figma.com/file/gIpIu2cyO3MWXQ86Npb0ab/G.h-Map?node-id=1088%3A431).

[2020-09-17 02:58] shroothless commented on #1088
Add the date updated in the header instead of per filter. Like [this](https://www.figma.com/file/gIpIu2cyO3MWXQ86Npb0ab/G.h-Map?node-id=1089%3A116)

[2020-09-17 03:00] axmb commented on #995
Winston and Pino are the most popular logg[ers|ing frameworks], AFAICT. Winston seems a bit much for the size of our app; I'll give Pino a swing and see how it plays locally and with our k8s setup. Looks pretty solid.

[2020-09-17 03:18] shroothless commented on #1079
Design is ready for eng.

[2020-09-17 05:40] rahul18cracker commented on #477
Hi Graham

Sorry i was not able to work on this, now i have time. i went thru the videos from Alex explaining Japan case data and how he copies the json file manually to the s3 bucket. What you are saying above is this would be done by the fetcher function. Can you please give me some examples where i can see this fetcher function at work, how to trigger it and how to see that in the S3 bucket?

I

[2020-09-17 08:03] Mougk commented on #518
Merged PR on imported cases.

I think admin3 is still useful. Not sure who is best place to implement @attwad @sratcliffe118

[2020-09-17 08:17] dakrownie commented on #1077
@acansler Can we close this?

[2020-09-17 08:40] dakrownie commented on #1064
I've asked Tommy if he is on Github, and would reassign once I get his handle.

[2020-09-17 08:43] dakrownie commented on #1086
@shroothless Any idea what visual details is referenced here?

[2020-09-17 08:58] sratcliffe118 commented on #518
Agree with @attwad we should not be including Residential building level data in any data.
@attwad any thoughts on how we can bring in the Admin 3 data. I know this it moving beyond scope for MVP but if we have thoughts good to document here.

[2020-09-17 09:29] attwad opened #1104 "Fetch multiple URLs for a given source"
**Is your feature request related to a problem? Please describe.**
Some data sets are spread accross multiple files (https://github.com/globaldothealth/list/issues/518 has an example): a file containing case data and a file containing fine grained location data for example.

**Describe the solution you'd like**
Currently the sources can only be configured with one URL that gets retrieved, if we we

[2020-09-17 09:29] attwad commented on #518
This is definitely out of MVP but a very good feature request nonetheless, I've filed https://github.com/globaldothealth/list/issues/1104 to track that.

[2020-09-17 09:33] sratcliffe118 commented on #1101
What is the expected behavior when a user clicks on the get involved button? Is there a form that they will in, or does the link take them to a page with more information and details on how to get involved?

@shroothless

[2020-09-17 09:50] lmanul commented on #1055
I believe the change in navigation UI is covered by other bug reports. Closing. For further changes to color bands, it would be nice to have a spec as to what number of cases those should correspond. I've tweaked those myself given the data, but UX input would be better :-)

[2020-09-17 09:50] #1055 closed

[2020-09-17 09:52] attwad commented on #1043
1 and 2 from my earlier comment are done. We can now think about storing the geocode results and re-using them.

[2020-09-17 09:52] lmanul commented on #1056
@shroothless The Figma link requires a login (no idea what I should be logging in with). Could you post openly accessible?

[2020-09-17 10:31] sratcliffe118 commented on #1099
@shroothless
Can we define the expected behavior for the headers and links. What is the expected behavior and needs eng fixes?

[2020-09-17 10:31] allysonjp715 commented on #1092
The page and links have been added. Please reassign me once the Terms text is finalized and I will update.

[2020-09-17 10:45] sratcliffe118 commented on #1085
@shroothless do we have more details here?

[2020-09-17 10:46] sratcliffe118 commented on #1083
Duplicate

[2020-09-17 10:46] #1083 closed

[2020-09-17 10:46] #1077 closed

[2020-09-17 10:47] sratcliffe118 commented on #1057
duplicate with #1079

[2020-09-17 10:47] #1057 closed

[2020-09-17 10:49] sratcliffe118 commented on #1046
@attwad thoughts on what is happening here and next steps to fix?

[2020-09-17 11:01] sratcliffe118 opened #1106 "Remove the home tab for reader access users"
There is no content on the home tab for a user with read access to the G.h list (see screenshot)

Change: For reader profiles remove the home tab and land users on the line list tab
![Screen Shot 2020-09-17 at 12 00 03 PM](https://user-images.githubusercontent.com/63205311/93461988-7acdf400-f8dd-11ea-9e24-52bc860ba517.png)

[2020-09-17 11:12] sratcliffe118 opened #1107 "Slow line list download speeds"
- Do we have a sense for the speeds when a user clicks the download button?
- I just tested on a 70-75Mb per second connection in UK for 137k entries and it is still running +2mins
- This feels too slow for users

@Mougk Are there any download speed benchmarks / datasets we can look to?

[2020-09-17 11:19] sratcliffe118 opened #1109 "Linelist very slow after clicking download button"
**Describe the bug**
Line list site becomes very slow once the download button is clicked

**To Reproduce**
1. Clicked download on the line list
2. navigated to home and then back to line list
3. Tabbed down a few pages

**Expected behavior**
Navigation and page loads are quick

[2020-09-17 11:23] sratcliffe118 opened #1110 "Line List data download user flow"
**Is your feature request related to a problem? Please describe.**
There is no visual indication as to the data download progress, time remaining or status. This plus the slow download rate makes it hard for the user to see what is going on and could result in multiple attempts to download thinking something is wrong, or give up and navigate away

**Describe the solution you'd like**
A UX treatmen

[2020-09-17 11:23] sratcliffe118 commented on #1110
@shroothless is this on your radar? Think this is a key user journey we need to make sure we have covered

[2020-09-17 11:31] sratcliffe118 opened #1111 "G.h Website: Line List dataset and product explainer content on homepage"
Open question: Do we need to put information about the group  and the product more front and centre on the website?

User journey
- I land on the website and want to find out more about the product (line list) and the dataset
- Currently there is the map and blank space on right with cases
- Is there a clear CTA for the line list dataset and explanation of the product and dataset

[2020-09-17 11:36] sratcliffe118 opened #1112 "Website Map at a glance: No anchoring / referencing to Covid-19"
Need to anchor what the map is displaying (covid-19 cases) and the dataset that underlies it, as users could land here form new articles where there is limit context about the group

![Screen Shot 2020-09-17 at 12 34 05 PM](https://user-images.githubusercontent.com/63205311/93465089-309b4180-f8e2-11ea-8955-eb1c9cff664c.png)

[2020-09-17 11:41] shroothless commented on #1111
We can use the left hand area for that or alternatively, add more
introduction text on G.h. below the 3 modules. The intention was to use
those areas to promote relevant work so whatever we want to add to be more
G.H LIst focused sounds good.

On Thu, Sep 17, 2020 at 7:31 AM Stephen Ratcliffe <notifications@github.com>
wrote:

[2020-09-17 11:42] sratcliffe118 opened #1113 "Line list table misaligned when the tab menu is minimized"
Line list table misaligned on screen when the tab menu is minimized, see screenshot below

![Screen Shot 2020-09-17 at 12 40 13 PM](https://user-images.githubusercontent.com/63205311/93465675-0b5b0300-f8e3-11ea-9046-4f31de011891.png)

[2020-09-17 11:43] shroothless commented on #1110
I'm not following I think:  Step 1 Click download Step 2 .csv downloads in
browser

If we want to add some orientation hovers to call out what the download
button does we can add that?

On Thu, Sep 17, 2020 at 7:24 AM Stephen Ratcliffe <notifications@github.com>
wrote:

[2020-09-17 11:44] shroothless commented on #1085
For each filter we need to show a rollover state and active state. Tommy is
working on these.

On Thu, Sep 17, 2020 at 6:45 AM Stephen Ratcliffe <notifications@github.com>
wrote:

[2020-09-17 11:45] sratcliffe118 opened #1114 "Content and website sections to explain the G.h products"
Content and website sections to explain the G.h products
G.h List
G.h Map

Currently
List and Map navigation links just redirect users to the line list and the map view. Need some content to explain the products and what they are / the data behind them

[2020-09-17 11:47] sratcliffe118 commented on #1110
I just went through this process for 137k cases and the button was spinning for 5mins before i gave up.

Either we need to speed the download process up, or have some UX to show that the download is happening and how long it will take otherwise users will just give up as it is too slow

[2020-09-17 11:49] sratcliffe118 commented on #1111
I think we need more content around the products and data. The GISAID [homepage](https://www.gisaid.org/) has sections that detail and explains the data and products they offer. I think we need something similar

[2020-09-17 11:55] shroothless commented on #1099
- Click **Get Involved** anchor link to About page at the **Get Involved** section
- Click **Map**  image or Map, go to G.h Map
- Click **List** , or List promo with cases (right module) go to G.h List
- Click **Projects** go to Projects page
- Click **About** go to About page
- Click a project/news/event item headline go to the detail page

[2020-09-17 11:55] sratcliffe118 opened #1115 "White screen after running a search on LineList"
**Describe the bug**
https://curator.ghdsi.org/cases showed a completely white screen after running a search query

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the line list view
2. Searched - Occupation:Builder
3. White screen appeared

**Expected behavior**
Search results displayed

![Screen Shot 2020-09-17 at 12 55 13 PM](https://user-images.githubusercontent.com/63205311/9346701

[2020-09-17 11:57] shroothless commented on #1056
Can you login with your Google account. Employees have reader access. I
don't know how to convert it to openly accessible :(

On Thu, Sep 17, 2020 at 5:52 AM Manu Cornet <notifications@github.com>
wrote:

[2020-09-17 11:58] shroothless commented on #1101
Captured in another bug as well.

*Get Involved* should anchor link to the Get Involved form on the About page

On Thu, Sep 17, 2020 at 5:34 AM Stephen Ratcliffe <notifications@github.com>
wrote:

[2020-09-17 11:59] attwad commented on #1107
Took me 1.4min to start the content download of 130K cases:

![image](https://user-images.githubusercontent.com/1255432/93466686-f2efe600-f8ec-11ea-8bf8-4c8189d2316c.png)

That's quite a long time.

After that network seems to be the bottleneck as the servers aren't using any crazy CPU or RAM at all

[code]

Download seems to have stopped altogether after 2.2min though and no sign of anything goin

[2020-09-17 12:03] lmanul commented on #1056
@shroothless Erm, I'm pretty sure there's all sorts of policies asking us not to enter our corp password into a non-google.com domain?

[2020-09-17 12:05] sratcliffe118 opened #1116 "Change upload list ordering from latest date to oldest"
**Describe the bug**
Change upload list ordering from latest date to oldest

Currently set from oldest to newest so need to scroll through to end to check out the latest uploads for verification
![Screen Shot 2020-09-17 at 1 03 24 PM](https://user-images.githubusercontent.com/63205311/93468113-66422980-f8e6-11ea-89ba-1b6809ad9768.png)

[2020-09-17 12:06] lmanul commented on #1056
We should probably also assume that someone who isn't @google.com (e.g. @rkassa ) may take this bug.

[2020-09-17 12:07] shroothless commented on #1056
You can sign in with Google, I believe, Stephen, Allyson, Tim all have been
able to access.

On Thu, Sep 17, 2020 at 8:03 AM Manu Cornet <notifications@github.com>
wrote:

[2020-09-17 12:08] sratcliffe118 opened #1117 "Upload 5f634e1d7c45bc3228102c1a showing as an error but cases added to line list"
Upload 5f634e1d7c45bc3228102c1a showing as an error but cases added to line list

1 case has been created despite the upload stating there was an error and showing 0 cases created
![Screen Shot 2020-09-17 at 1 05 43 PM](https://user-images.githubusercontent.com/63205311/93468402-d2249200-f8e6-11ea-9d75-1a1610e92d02.png)

![Screen Shot 2020-09-17 at 1 08 21 PM](https://user-images.githubusercontent

[2020-09-17 12:10] attwad commented on #1046
I might be wrong, but I think that Japan is a bit special in that the source URL changes every day (it has the current day built-in the URL), which makes our deduplication logic not happy somehow.

The two cases have the same sourceID and entryID but the URL changes between the twos so perhaps that matters...

https://raw.githubusercontent.com/reustle/covid19japan-data/master/docs/patient_data/202

[2020-09-17 12:15] sratcliffe118 commented on #1056
Screenshot attached

![Screen Shot 2020-09-17 at 1 14 41 PM](https://user-images.githubusercontent.com/63205311/93469025-cab1b880-f8e7-11ea-9330-9d5ab268f519.png)

[2020-09-17 12:15] attwad commented on #1117
So the way things are written currently, if an error occurs mid-way the upload doesn't get updated with the current created/updated counts, we should update it with those numbers.

[2020-09-17 12:15] shroothless commented on #1056
Robel has been accessing as well. If you don't have Figma you can follow
these steps here
<https://docs.google.com/presentation/d/1ZcWPkEQ_4o76r5SjUYhqu1tijgcbBgJuUgCLu-R2Aso/edit#slide=id.g5dacf448a6_23_88>

On Thu, Sep 17, 2020 at 8:06 AM Manu Cornet <notifications@github.com>
wrote:

[2020-09-17 12:20] shroothless commented on #1111
@dakrownie Can you help here please? If we can get the content we want to show from the Marketing folks, we can quickly design for it.

[2020-09-17 12:22] lmanul commented on #1056
Thank you @sratcliffe118 for the screenshot!

[2020-09-17 12:26] sratcliffe118 commented on #1065
Duplicate #1079

[2020-09-17 12:26] #1065 closed

[2020-09-17 12:28] sratcliffe118 commented on #1068
Duplicate #1103

[2020-09-17 12:28] #1068 closed

[2020-09-17 12:28] shroothless commented on #1110
Got it, I can add UX treatment. Does it spin before the download starts?

On Thu, Sep 17, 2020 at 7:47 AM Stephen Ratcliffe <notifications@github.com>
wrote:

[2020-09-17 12:32] shroothless commented on #1112
Will add COVID-19 label and global view. We are waiting on the 3D map color
adjustment to update the image however.

On Thu, Sep 17, 2020 at 7:36 AM Stephen Ratcliffe <notifications@github.com>
wrote:

[2020-09-17 12:34] sratcliffe118 commented on #1110
No, it starts spinning as soon as it's clicked

On Thu, Sep 17, 2020 at 1:29 PM shroothless <notifications@github.com>
wrote:

[2020-09-17 12:50] shroothless commented on #1110
Got it, adding to my list.

On Thu, Sep 17, 2020 at 8:34 AM Stephen Ratcliffe <notifications@github.com>
wrote:

[2020-09-17 12:50] shroothless commented on #1086
Making sure everything is pixel perfect and the right colors.

On Thu, Sep 17, 2020 at 4:44 AM dakrownie <notifications@github.com> wrote:

[2020-09-17 13:16] #1072 closed

[2020-09-17 13:43] dakrownie commented on #1111
@shroothless I sent miatort@google.com an email and copied you.

[2020-09-17 13:45] dakrownie commented on #1101
@shroothless Do we close this then?

[2020-09-17 14:06] attwad opened #1119 "Create GDPR compliance pop-up"
**Is your feature request related to a problem? Please describe.**
We will soon store user preferences (https://github.com/globaldothealth/list/issues/1098) and use cookies for user login, I am unsure at which point we will need the GDPR compliance popup that most website have now where they have to accept cookies or tune their settings somehow.

This issue is to investigate if we're subject to GD

[2020-09-17 14:21] shroothless commented on #1101
Yes. Its handled in another bug

On Thu, Sep 17, 2020 at 9:45 AM dakrownie <notifications@github.com> wrote:

[2020-09-17 14:23] #1101 closed

[2020-09-17 14:32] sratcliffe118 commented on #1119
Synced with Emily from BCH and they use https://www.iubenda.com/en/ for GDPR compliance across their product set and wish to use the same approach here. Are we able to support this?

[2020-09-17 14:35] emcohn commented on #1119
Let me know if I can be helpful setting this up. Mark from our team has set it up for other platforms in the past.

[2020-09-17 14:45] sratcliffe118 opened #1120 "Upload tab: Long Source URLs push the cases number off the screen"
@shroothless what would you suggest here for UX treatment, can we elipse the urls at 20 characters?

![Screen Shot 2020-09-17 at 3 43 28 PM](https://user-images.githubusercontent.com/63205311/93486901-9bf20d00-f8fc-11ea-9207-cf80fb36c60b.png)

[2020-09-17 14:47] attwad commented on #1119
Thanks, I'm happy to put those on the website once we have them generated but to start the process one needs an account it seems and I'd prefer someone who already did it to do it, @emcohn can you assign the right person to this please?

[2020-09-17 14:59] #1010 closed

[2020-09-17 15:08] shroothless commented on #1120
Sgtm

On Thu, Sep 17, 2020 at 10:46 AM Stephen Ratcliffe <notifications@github.com>
wrote:

[2020-09-17 15:12] sratcliffe118 commented on #1103
Let's keep open to check off when done

[2020-09-17 15:14] dakrownie commented on #1102
Avani to help out here

[2020-09-17 15:15] #1087 closed

[2020-09-17 15:19] #1056 closed

[2020-09-17 15:24] dakrownie commented on #1063
Add mocks that Avani would provide here

[2020-09-17 15:26] allysonjp715 commented on #1098
I have this code ready, but I don't think it makes sense to add to the build until we have the proper content to go in the dialog. Who will create that content?

[2020-09-17 15:26] #1088 closed

[2020-09-17 15:41] sratcliffe118 commented on #1098
@dakrownie who from marketing can pick this up?

[2020-09-17 15:42] sratcliffe118 opened #1121 "1M line list cases in the dataset"

[2020-09-17 15:43] sratcliffe118 opened #1122 "10M cases in the line list dataset"

[2020-09-17 15:52] axmb commented on #1121
Next step is establishing a figure for the number of line list cases _available_ globally. I'll carve up a draft looking at that by-country, then take a swing at categorizing percentages of cases as technically- blocked or feasible.

I loved a suggestion from the sync, which would be to create an ideally live KPI on the percentage of available cases included, but we can cross that bridge at a late

[2020-09-17 16:05] axmb commented on #1122
(For the time being, please see updates in #1121.)

[2020-09-17 16:36] axmb opened #1124 "Document a strategy for ingesting super-large (~100k+) data via ADI"
**Is your feature request related to a problem? Please describe.**
Countries that have all case data in a single file, and also have a large number of cases, can take a while to upload. With the current size of our prod server, the time it takes to upsert all of this data can exceed the time limit for our AWS Lambda parsing functions (15 minutes). This makes regular automation unable to backfill t

[2020-09-17 16:41] axmb opened #1125 "Basic k8s cluster monitoring"
**Is your feature request related to a problem? Please describe.**
With EKS, we don't really get any monitoring by default. We can use `kubectl` to get things like current resource usage and current logfile data, but we can't, for instance, look at when our servers stopped/started/CPU% over the past couple days.

**Describe the solution you'd like**
A way to view basic cluster metrics on a recent-

[2020-09-17 19:24] Mougk opened #1127 "Colours out of synch in curator portal"
**Describe the bug**
Colours are not in synch between panels in Curator Portal

<img width="1196" alt="Screenshot 2020-09-17 at 21 18 17" src="https://user-images.githubusercontent.com/8478551/93517631-08d0cb80-f92c-11ea-8c21-3d0ea8b75dd1.png">

**Expected behavior**
Colors between bar plot and pie chart in synch.

[2020-09-17 19:59] avanianchala commented on #1101
![Screen Shot 2020-09-17 at 2 47 49 PM](https://user-images.githubusercontent.com/71466164/93521905-4dda0b00-f8f6-11ea-977f-db427d84b643.png)

[2020-09-17 20:57] shroothless commented on #1069
I have it on the intro panel and in the account menu. I'm not sure how it
would fit hierarchically on the linelist page unless you want to pull it
out of the account menu and move it to the left hand nav. Is it that
important?

On Wed, Sep 16, 2020 at 2:44 PM Stephen Ratcliffe <notifications@github.com>
wrote:

[2020-09-17 21:54] axmb commented on #702
Circling back -- there were some issues around this, but we've mostly resolved them.

There's a separate issue tracking a related FR in ADI (#1124).

[2020-09-17 21:54] #702 closed

[2020-09-18 06:36] attwad opened #1131 "Ensure we do not go above geocoding rate limits"
**Is your feature request related to a problem? Please describe.**
https://docs.mapbox.com/api/#rate-limits
We can currently do max 600QPS to geocode but do not enforce this on our backend.
Considering we currently geocode things sequentially, I do not see us going over that limit anytime soon but still that'd be good to have.

**Describe the solution you'd like**
We only have one task right now s

[2020-09-18 07:06] attwad commented on #1125
I'd install the standard kubernetes dashboard first, we already have the metrics server installed to produce the cpu/mem metrics, the dashboard seems to give us a ncie graphical overview of what's going on:

https://kubernetes.io/docs/tasks/access-application-cluster/web-ui-dashboard/

I'll see if I can do that later today.

[2020-09-18 07:17] attwad commented on #1124
I can think of a few things:

- parsers could store a hash of the file they retrieved and the last position they were at in the upload model, so that they can resume if needs be.
- date filters do not work for that problem currently as we can ingest stuff "up to a date" and "on a given date" but the "up to a date", we would require a from-to-date filter type which we do not have now to be able to

[2020-09-18 07:36] dakrownie commented on #1098
matilde@google.com is handling this.
There is an email thread with @sratcliffe118 and @shroothless in copy.

[2020-09-18 07:54] attwad commented on #1124
I played a bit with adding QPS info to the logs of the parsing functions so that we have an idea of how fast they can go, here's what I have locally I think it's pretty useful, I'll fix the tests and send it for proper review later today:

[code]

[2020-09-18 09:36] allysonjp715 opened #1133 "Add a landing page for logged out users"
Logged out users currently see the following in the Curator Portal, which I would think was broken as a first time user.

![image](https://user-images.githubusercontent.com/30459667/93582499-79163600-f99a-11ea-9c9f-f843e2665aa7.png)

Even a simple about page with instructions to log in would be good. @shroothless could you design and assign back to eng?

[2020-09-18 09:48] allysonjp715 commented on #1098
I just filed #1133 and thought, what if this isn't a first time popup but instead the home page or about page? WDYT @shroothless ?

[2020-09-18 10:07] iamleeg commented on #477
@rahul18cracker [this file](https://github.com/globaldothealth/list/tree/main/ingestion/functions) documents the retrieval function and how to invoke it, and also how to set up the data source in your dev stack.

[2020-09-18 10:33] sratcliffe118 commented on #1069
I don't think it is worthy of the left hand nav. What about around the download button? My concern is the account nav doesn't feel like the natural place a user would look for this, having it around the download seems a bit fit.

[2020-09-18 10:43] #1106 closed

[2020-09-18 11:42] attwad opened #1134 "Perform batch geocoding in parallel"
**Is your feature request related to a problem? Please describe.**
Sub-task of #1124

**Describe the solution you'd like**
Currently `batchGeocode` method in data service goes sequentially over the cases, we should probably make it use the batch geocoding API of mapbox if we can, or at least use an arrray of promises that we'd resolve and then proceed.

Some concerns are around atomicity/threadsaf

[2020-09-18 13:59] shroothless commented on #1069
We could add another button in that row but that’s even more prominent than
the left nav. The download button is in a single row and we should try to
keep it that way. Also once a researcher has understood the data doc. It’s
unlikely they will want it each time.

Let me  mock ups some options. Maybe it’s in an alert? That’s dismissible?

On Fri, Sep 18, 2020 at 6:34 AM Stephen Ratcliffe <notificat

[2020-09-18 14:00] shroothless commented on #1098
I don’t think there’s enough content there to be a home page yet? We could
add this content to an about page as well though.

On Fri, Sep 18, 2020 at 5:48 AM allysonjp715 <notifications@github.com>
wrote:

[2020-09-18 14:05] axmb commented on #1121
[Working doc](https://docs.google.com/spreadsheets/d/1zsqkmTL39HeF9mb8bfSQgC2yFuWA6strGnlr0pBCfQc/edit?ts=5f64b5e5#gid=0) in which we're collecting some numbers on this.

[2020-09-18 15:10] #995 closed

[2020-09-18 15:53] sratcliffe118 opened #1136 "Copy title for website homepage mock"
Change the copy for the website title for g.h in the mock for the beta testing with researchers
![image](https://user-images.githubusercontent.com/63205311/93618645-76820380-f9cf-11ea-901b-0c74733ae882.png)

**New title:**  Our dataset contains detailed anonymized information on over **5 million Covid-19 cases** from around the globe.

Bold element make the light blue, rest of copy dark
Paragraph

[2020-09-18 16:45] allysonjp715 commented on #1115
@sratcliffe118, are you able to reproduce this? I just tried following your steps and could execute the search you mentioned and others in prod.

![Screen Shot 2020-09-18 at 5 43 13 PM](https://user-images.githubusercontent.com/30459667/93623304-6faabf00-f9d6-11ea-9c92-361afbcfcb37.png)

[2020-09-18 16:59] #1134 closed

[2020-09-18 18:11] dakrownie commented on #1115
I tried the steps and got the same screen as Allyson. The error is no longer apparent and I will close this out.

[2020-09-18 18:24] dakrownie commented on #1091
Isamar sent over content to Avani.

[2020-09-18 18:24] #1091 closed

[2020-09-18 18:27] allysonjp715 commented on #1116
Leaving open to track adding indexes for the fields that are sorted on.

[2020-09-18 18:55] #1120 closed

[2020-09-18 18:57] lmanul commented on #1103
So I _think_ all colors should be correct now. Can someone take a look and tell me if anything still needs changing?

http://covid-19.global.health/#casemap
http://covid-19.global.health/#cumulative

[2020-09-18 19:07] #1113 closed

[2020-09-18 20:44] z023 commented on #516
There are still Thailand location.admins not being translated.

[2020-09-18 22:39] z023 commented on #482
Germany isn't being ingested. A parser issue?

[2020-09-18 22:50] z023 commented on #517
Unique case IDs are not coming through in the line list and some location.admins not being translated.
Too many cases so possibly duplication??

[2020-09-20 10:02] Mougk opened #1142 "Adapt required entries"
**Describe the issue**
There are plenty of sources (Argentina, Colombia, ..) that may not have the case confirmation date but instead onset of symptom, clinical consultation or other.

**Expected behavior**
Make requirement that ONE of the dates is entered but not necessarily date of case confirmation.

<img width="620" alt="Screenshot 2020-09-20 at 11 58 10" src="https://user-images.githubusercon

[2020-09-20 22:11] z023 commented on #499
Paraiba data not being ingested.

[2020-09-20 23:23] rahul18cracker commented on #477
Hi @iamleeg : I was able to setup things locally to the place where when i do the fist sam build it shows me this error . Now i am not sure which file is it talking about .  I am following the Mac laptop based guidelines. My json file looks like this, is it talking about the JSON file or something else ?

File : valid_scheduled_event.json
{
    "env": "local",
    "sourceId": "5f589b22d9a72c0028ec

[2020-09-21 07:27] attwad commented on #477
"line 5 column 1" in the error message leads to an invalid json syntax yes, the file should look like:

[code]

also `"env": "brazil"` doesn't mean anything, envs are either local, prod or dev. Was that somewhere in the docs?

[2020-09-21 07:59] attwad commented on #483
Format changed, new data can be found at https://raw.githubusercontent.com/openZH/covid_19/master/fallzahlen_kanton_alter_geschlecht_csv/COVID19_Fallzahlen_Kanton_ZH_altersklassen_geschlecht.csv

I will fix the existing parser

[2020-09-21 08:33] sratcliffe118 commented on #1142
@Mougk if the clinical consultation is the event that confirms the case as Covid-19 is this not the case confirmed date? When we discussed this previously we scoped the dataset MVP to only confirmed cases, not suspected or discarded.

So in the below scenarios the entry would be:

**Onset of symptom:** These would not be included until it was a confirmed case. Once confirmed the case could be adde

[2020-09-21 08:34] sratcliffe118 commented on #1142
@Mougk assigning back to you

[2020-09-21 08:45] attwad commented on #1109
Is it though?
Perhaps my new computer is just too powerful.

![ezgif com-gif-maker](https://user-images.githubusercontent.com/1255432/93747847-95fb7500-fbf7-11ea-8989-ea18d4653a37.gif)

[2020-09-21 08:50] Mougk commented on #1142
Good points.

In a scenario where we have:
a) no date of confirmation
b) database indicates the case to be confirmed
c) date of onset is known

We have no way of entering it into the database without making a strong assumption on when the case was confirmed. Not sure what the best solution is but we could remove the 'required' on date of confirmation and allow data to be ingested with one of the a

[2020-09-21 09:02] attwad commented on #516
After dropping and reimporting data, all admins seem to be translated (I've looked at 10 random pages).

[2020-09-21 09:03] sratcliffe118 commented on #1142
**Confirmation date is date of laboratory result or when assessment is made based on clinical symptoms.**
Although technical this may be true, this is not how the current standard data model works. We allow a case to be created as a confirmed case based on clinical diagnosis, if the case is later found to be negative, then the case 'should' be removed from the dataset.

If we wish to pivot the dat

[2020-09-21 09:07] attwad commented on #482
The source configuration was pointing to the download page and not the actual data so the parser wasn't parsing anything indeed.

was: https://www.arcgis.com/home/item.html?id=f10774f1c63e40168479a1feb6c7ca74
should be: https://www.arcgis.com/sharing/rest/content/items/f10774f1c63e40168479a1feb6c7ca74/data

[2020-09-21 09:07] attwad commented on #482
I've changed it and triggered a retrieval.

[2020-09-21 09:07] sratcliffe118 commented on #1109
Definitely quicker than mine.

Just tried again and it is better but still a degree of lag. Will downgrade to a P2 so we can keep track

[2020-09-21 09:10] attwad commented on #517
There are no unique case IDs provided for Taiwan, most of the case data do not have a finer location granularity than "Taiwan" and the admins are now all translated (I had to drop all of them first to properly get the English translation this time).

[2020-09-21 09:11] Mougk commented on #1142
Let's pause here. I will develop doc for post fellowship to make these changes to allow flexibility and adaptability for general use.

[2020-09-21 09:13] attwad commented on #499
I'm seeing `time data 'Swab' does not match format '%Y-%m-%d'` in the logs, and indeed there are a lot of 'Swab' in the CSV, Anya the parser should account for it please.

[2020-09-21 09:14] attwad commented on #1013
@Mougk I'm not sure I get the "ID and Fields" combination here, do you mean that curators should be able to say "for these cases IDs, do not ingest these fields" ? or something else? please clarify, thank you.

[2020-09-21 09:26] allysonjp715 commented on #1142
One option could be to have a "confirmed" field with values yes/no and selecting yes is required rather than entering the date. Similar to how we have a "hospital admission" yes/no field and a separate "hospital admission date"

[2020-09-21 09:29] Mougk commented on #1142
I like that solution :)

[2020-09-21 09:30] Mougk commented on #1013
Yes: "for these case IDs, do not ingest these fields" OR if there has been a manual change to a field by a curator, block updating manually changed fields for specific IDs during automated ingestion.

[2020-09-21 09:37] #483 closed

[2020-09-21 09:38] sratcliffe118 commented on #1142
SG, we do need to look at this more holistically as well e.g. what would
you expect to see in the maps etc.

On Mon, Sep 21, 2020 at 10:29 AM Moritz Kraemer <notifications@github.com>
wrote:

[2020-09-21 09:39] attwad commented on #1013
Okay thanks, that's an interesting use-case.

We haven't thought of a way to do that, we don't even know if something's ingested manually or automatically (the automated "ingester" account is jut another user treated as any other curator).

The simplest approach would be to have curators be able to "lock" a whole case (making it read-only basically), that's simple but doesn't cover the field granu

[2020-09-21 09:42] sratcliffe118 commented on #1069
Sure an alert sounds good, with a note that details where the dictionary can be found post first time use

[2020-09-21 09:49] attwad commented on #1107
This might be relevant: https://nodejs.org/pt-br/docs/guides/backpressuring-in-streams/

Also, we should probably gzip the CSV before sending it, it will reduce the size of the download and maybe make it faster?
The stream pipeline stuff of node described in this website looks nice, perhaps we can use it in the curator service as well to do this?

[2020-09-21 09:53] Mougk commented on #1013
Would the "lock" suggestion allow manual changes from curators on that file? If so, that's great!

Id+fields would need to wait.

@attwad thoughts?

@z023 and @outbreakprepared FYI

[2020-09-21 09:57] attwad commented on #1013
I was thinking the curator would "lock" the case after having done the manual changes that were needed yes.

[2020-09-21 10:09] allysonjp715 commented on #1107
Just found this, could be part of the problem: https://github.com/axios/axios/issues/479

[2020-09-21 10:16] attwad commented on #1107
Also, I've looked a gzip and nginx already does gzip compression of responses for us (visible in the dev tools nettwork tab), although not for the download it seems, we should be able to configure it so that it does:

![image](https://user-images.githubusercontent.com/1255432/93755807-3bb4e100-fc04-11ea-9d78-199ae6626767.png)

[2020-09-21 10:17] attwad commented on #1107
I don't think it applies to us though? We're using node on the backend, not in the browser.

[2020-09-21 10:25] allysonjp715 commented on #1107
That bug is on axios. So IIUC, the response stream can't be handled while it's coming in (if it's going across the browser). So we couldn't start the download until all the data has come in. The slow UI after clicking download makes sense then because it's holding all the data in memory until the full response comes in, only then does the download happen.

Agreed we should try zipping the data.

[2020-09-21 10:26] sratcliffe118 commented on #1136
New copy
https://www.figma.com/file/tfBStxWn2bORj0RyJD0zaB/User-Study-Sept-21?node-id=0%3A1

[2020-09-21 10:34] sratcliffe118 commented on #1063
Download link removed
http://covid-19.global.health/#casemap

[2020-09-21 10:35] #1063 closed

[2020-09-21 10:36] sratcliffe118 commented on #1096
Static file: https://drive.google.com/file/d/1D0qgf8kWR8_BB5dAYEOuG0r-Syvs6Du1/view

[2020-09-21 10:36] #1096 closed

[2020-09-21 10:37] sratcliffe118 commented on #1079
Moving task to public launch milestone

Will use mocks for initial user testing: https://drive.google.com/file/d/1D0qgf8kWR8_BB5dAYEOuG0r-Syvs6Du1/view

[2020-09-21 10:41] allysonjp715 opened #1144 "Unclear error when bulk uploading csv without headers"
I accidentally tried to bulk upload a CSV without headers in the Curator Portal, and got the following error message:

![Screen Shot 2020-09-21 at 11 29 55 AM](https://user-images.githubusercontent.com/30459667/93757635-08bc1e80-fbff-11ea-9d1e-47bba965018f.png)

- `specified to be able to geocode:` looks like a cut off error message. Not sure if this would show up for actual geocode errors as well

[2020-09-21 10:47] allysonjp715 opened #1145 "Dancing scrollbar when uploading cases"
UX nit: the scrollbar has weird behavior when uploading cases in bulk upload form:

![ezgif com-gif-maker (1)](https://user-images.githubusercontent.com/30459667/93758297-13c37e80-fc00-11ea-8ee7-71bacb9eda90.gif)

[2020-09-21 10:48] allysonjp715 commented on #1145
This only happens when an error message from a previous upload is visible

[2020-09-21 10:48] sratcliffe118 commented on #1121
Data sources currently planned for ingestion [> 5M cases](https://docs.google.com/spreadsheets/d/1zsqkmTL39HeF9mb8bfSQgC2yFuWA6strGnlr0pBCfQc/edit?ts=5f6866aa#gid=0)

[2020-09-21 10:53] sratcliffe118 opened #1146 "Filtering by Country returning multiple country results"
**Describe the bug**
When filtering the line list by Country: Switzerland, cases with country = Japan are being returned in the results (see screenshot

**To Reproduce**
Steps to reproduce the behavior:
1. Go to line list
2. Search by country: Switzerland

**Expected behavior**
Only cases with country: Switzerland should be returned

**Screenshots**
![Screen Shot 2020-09-21 at 11 50 23 AM](https:/

[2020-09-21 10:55] sratcliffe118 commented on #1115
Just had this issue again:

Steps to recreate:
1. Searched line list by gender: male
2. Searched line list by gender: female
3. White screen

I was logged in under sratcliffe@google.com and form a chrome browser

[2020-09-21 10:56] sratcliffe118 commented on #1115
Note reloading the browser / refreshing it fixed the issue

[2020-09-21 11:04] sratcliffe118 opened #1148 "Searching / Filtering line list data: Data dictionary"
**Request**
Provide users with an easy way to access to the data dictionary from the filter / search functionality in line list

**Rationale**
Users will need to know the different values and entry options for the data dictionary to enable from to filter the line list down, providing them easy access to the dictionary will help them see the options they can filter by.

![Screen Shot 2020-09-21 at

[2020-09-21 11:27] sratcliffe118 opened #1149 "Filtering by Nationality: American brings back cases with no nationality included"
**Describe the bug**
Filtering the line list case set by nationality returns cases where there is no nationality set. Appears they may be pulled in because they have American in the notes of the case

Expected behavior should be that only cases with the nationality set as American should be returned

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the line list
2. Search by nationality:

[2020-09-21 11:27] z023 commented on #1013
But what if there is new information for the case that ingestion would have added? It would be missed if the case was locked?

[2020-09-21 11:31] sratcliffe118 opened #1150 "Functionality to delete existing set filters from line list box"
**Is your feature request related to a problem? Please describe.**
- Currently each time you enter a new filter criteria to the line list filtering box the existing ones remain set.

**Describe the solution you'd like**
- Add a simple one action way to clear all existing filters from the box

![Screen Shot 2020-09-21 at 12 28 21 PM](https://user-images.githubusercontent.com/63205311/93761779-4a03f

[2020-09-21 11:37] attwad commented on #1107
I've enabled gzipping of csv data in nginx, will send a PR for that.
![Uploading image.png…]()

[2020-09-21 11:38] attwad commented on #1107
I see, in that that's why the download don't work at all as we can't hold all the data in memory for sure.

[2020-09-21 11:45] attwad commented on #1144
That's a good test to have in cypress... trying to reproduce there first.

[2020-09-21 11:53] attwad commented on #1144
I can reproduce this easily with this test data

[code]

the error returned seems good however:

[code]

so the error seems to be in the parsing logic in the UI.

[2020-09-21 12:33] sratcliffe118 opened #1153 "Add location to Admin 1, 2 and 3 drop down options"
**Describe the bug**
Currently the filter drop down shows Admin 1,2 and 3. Add in location to make it clear to the user the fields are in reference to the location level of the case.
![Screen Shot 2020-09-21 at 12 32 08 PM](https://user-images.githubusercontent.com/63205311/93761955-9ea77780-fc06-11ea-91f0-4cc3a1e0b700.png)

[2020-09-21 13:20] calremmel opened #1155 "Add ability to ingest data sources stored in zip files"
The dataset for Mexico is stored as a zip file, as follows:
http://datosabiertos.salud.gob.mx/gobmx/salud/datos_abiertos/datos_abiertos_covid19.zip

It would be great if it were possible for data ingestion to automatically handle data sources that are stored as zip files or other compressed file formats.

Alternatively, we could rehost data sources stored this way somehow, and link to an extracted

[2020-09-21 13:52] attwad commented on #1155
The retrieval function could uncompress the data when it stores it, let me look at how we could do that.

[2020-09-21 13:53] allysonjp715 commented on #1069
Added it to the account menu. You can assign it back to me once we know where else we want the link to appear.

[2020-09-21 14:24] lmanul commented on #1103
Closing, please reopen with details on what needs changing if applicable. Thanks!

[2020-09-21 14:24] #1103 closed

[2020-09-21 14:29] rahul18cracker commented on #477
Hi @attwad

Thanks for taking the time to reply to this and suggesting a fix. It was in the docs, after creating the email it mentioned that generate and ID and put that in the json file . I named the source as "brazil" and took the id "5f67dc50ace517002f421ebe", was trying to add it to the JSON file.

From the readme ----------------
Go to the UI at http://localhost:3002/sources and add a new sou

[2020-09-21 14:37] dakrownie commented on #1136
Screenshot of the new copy from figma

![G h_Home_Add5M](https://user-images.githubusercontent.com/33044735/93780579-3d8c9d80-fc20-11ea-9788-a858374c2812.png)

[2020-09-21 14:56] dakrownie opened #1156 "Female results appear in male search"
**Describe the bug**
https://curator.ghdsi.org/cases showed a completely white screen after running a search query

**To Reproduce**
Steps to reproduce the behavior:

1. Go to the line list view
2. Searched - gender: male
3. 2 results female results appear

**Expected behavior**
Search male result displayed.

**Screenshots**
![Uploading bug.png…]()

**Environment (please complete the following inf

[2020-09-21 15:00] attwad commented on #1156
It should be `gender:male` and not `gender: male` (note the space)

[2020-09-21 15:12] dakrownie commented on #1006
Material  table is owned by external parties. May need to reach out

[2020-09-21 15:17] attwad commented on #477
The retrieval/valid_scheduled_event.json is already a "valid" file as the name implies so you need to change the existing ID that's in there, not "add" a new ID to it.

[2020-09-21 15:25] axmb commented on #1006
There've been a handful of PRs sent to address the material-table issue -- the owner is usually pretty responsive, but PR authors seem to ghost after changes are requested. The number of actual (source) lines changed to fix this issue is ~20. We could probably just write/send a change for this ourselves.

[2020-09-21 15:54] beoutbreakprepared commented on #1124
We think Japan could also be seeing similar issues

[2020-09-21 16:34] rahul18cracker commented on #477
Thanks a lot, let me do that.

[2020-09-21 17:19] axmb commented on #1015
Was this intentionally reassigned to me? Is there something particular I can help out with, @allysonjp715 ?

[2020-09-21 17:34] allysonjp715 commented on #1015
I was leaving it open for anyone to pick up when they had the time. I described what's needed in my last two comments.

[2020-09-22 07:04] #1144 closed

[2020-09-22 07:14] attwad commented on #1107
Reloaded dev, took me 7s to start the download then browser took it over and it worked nicely, thanks @allysonjp715 for the fix! (I sent you a PR to push to prod as well today).

[2020-09-22 07:14] attwad commented on #1107
![image](https://user-images.githubusercontent.com/1255432/93853332-fe0f9100-fcb3-11ea-8e19-1eb2a5b799fd.png)

[2020-09-22 07:19] attwad commented on #1117
Mid-upload fails are now reported correctly, we won't see uploads that ended up in ERROR with no associated cases if some cases were successfully uploaded.

[2020-09-22 07:19] #1117 closed

[2020-09-22 08:18] allysonjp715 commented on #1110
The data download progress is now shown on the browser's download object (e.g. the bottom bar in chrome).

[2020-09-22 08:18] #1110 closed

[2020-09-22 08:36] allysonjp715 commented on #1107
Unfortunately this isn't working in prod. For 100,000 cases it takes ~30s for the download to start. It shows the URL pending bar in the lower left hand corner, but we should show a loading spinner in the UX for that too.

I've also tried a couple times now and the download keeps hanging at ~46MB. The browser's download object shows continual spinning at that number and doesn't complete or increas

[2020-09-22 08:38] allysonjp715 commented on #1109
After the most recent change the UX is snappy and users can move to other tabs. However they cannot interact with the linelist table until the entire download is complete (it shows the table as loading until it is complete). Perhaps this is due to a connection to the Cases database already being used and we can't make two queries on the database at the same time?

[2020-09-22 08:44] attwad commented on #1109
We can definitely make two queries to the DB simulataneously, read queries shoudn't take a lock.

[2020-09-22 08:56] allysonjp715 opened #1164 "Nicer error messages in bulk upload"
Got error message that looks like this. It should be more human readable even if it's just "Internal Server Error". This error is another instance of OOM and socket hang up, but I've seen it previously with a different server problem as well.
![Screen Shot 2020-09-22 at 9 52 58 AM](https://user-images.githubusercontent.com/30459667/93862153-880e2880-fcb9-11ea-88e7-8113e9351eb2.png)

It appears to

[2020-09-22 09:40] attwad commented on #1149
Dupe of #1156

[2020-09-22 09:40] #1149 closed

[2020-09-22 10:05] #1164 closed

[2020-09-22 10:42] dakrownie commented on #1136
Thanks @rkassa for getting to this so quickly.

[2020-09-22 10:42] #1136 closed

[2020-09-22 10:58] #1156 closed

[2020-09-22 11:19] sratcliffe118 commented on #992
@shroothless ping

[2020-09-22 11:19] sratcliffe118 commented on #1133
@shroothless ping

[2020-09-22 11:20] sratcliffe118 commented on #1064
@shroothless any update here, please add mock to the issue

[2020-09-22 11:20] sratcliffe118 commented on #1070
@shroothless any update, please add mock to the issue

[2020-09-22 11:54] attwad commented on #1146
Fixed by #1168

[2020-09-22 11:54] #1146 closed

[2020-09-22 12:03] attwad commented on #1115
I abused my keyboard doing logs of searches and got a white screen in dev yes:

![image](https://user-images.githubusercontent.com/1255432/93879393-eb10b700-fcdb-11ea-870d-b258e01537a6.png)

The query was just "aaaa" though.

The error I see in the console is

[code]

That error is

[code]

so it seems we have some kind of race condition where an infinite loop creates infinitely nested children...

[2020-09-22 12:03] attwad commented on #1115
I will try to reproduce this in dev where we have the full stack trace/error.

[2020-09-22 12:07] allysonjp715 commented on #1107
The download is fully working after that last PR 👍  The browser download object shows up immediately and begins the download, and the full download succeeds with ~100,000 cases. The full response is streaming so it should succeed no matter how many cases there are.

[2020-09-22 12:08] allysonjp715 commented on #1109
After the last PR the download is fully functional, and any part of the UI can be interacted with during the download with no extra lag. This can be viewed now on prod 👍

[2020-09-22 12:08] #1109 closed

[2020-09-22 12:11] allysonjp715 commented on #1115
Perhaps we could try disabling the search bar input until the search HTTP response is returned.

[2020-09-22 12:13] attwad commented on #1115
Yup that's what I'm trying to do after failing to reproduce locally.

[2020-09-22 12:36] shroothless commented on #1133
See updated mock [here](https://www.figma.com/file/gIpIu2cyO3MWXQ86Npb0ab/G.h-Map?node-id=1157%3A4
)

![image](https://user-images.githubusercontent.com/67452108/93882796-b4707780-fcae-11ea-96fd-ee78f7299b78.png)

[2020-09-22 12:44] shroothless commented on #1070
See hover state [here](https://www.figma.com/file/tfBStxWn2bORj0RyJD0zaB/User-Study-Sept-21?node-id=1%3A843)

![image](https://user-images.githubusercontent.com/67452108/93883675-e2a28700-fcaf-11ea-9c9f-f84ad1a44028.png)

[2020-09-22 12:45] shroothless commented on #1064
See hover state [here](https://www.figma.com/file/tfBStxWn2bORj0RyJD0zaB/User-Study-Sept-21?node-id=1%3A843)

![image](https://user-images.githubusercontent.com/67452108/93883675-e2a28700-fcaf-11ea-9c9f-f84ad1a44028.png)

[2020-09-22 12:49] shroothless commented on #992
Have asked Avani to take a stab at this will have a mock today.

[2020-09-22 13:21] #1115 closed

[2020-09-22 13:36] lmanul commented on #1070
Hmm, the mock is a little confusing because:

* The bug title mentions "hover state for country" but the mocked up pop-up shows information about a city.
* The map shown looks like it's an aggregate map (2D, country-wide case numbers), so only with per-country info.
* A per-country pop-up would not show a single latitude/longitude pair.
* Stockholm is quite far away from where the pop-up is shown

[2020-09-22 13:39] lmanul commented on #1070
Fixed in https://github.com/globaldothealth/viz/commit/5de26846fe257f226130d22f94e556702fde9b9a -- please file more bugs if more things need to be tweaked :-)

[2020-09-22 13:39] #1070 closed

[2020-09-22 13:43] attwad commented on #1153
Do you mean "location admin 1", "location admin 2" etc?

[2020-09-22 13:43] attwad commented on #1145
imo we should just remove the loading spinner and use that toolbar thing, it looks great! :)

[2020-09-22 14:40] #1131 closed

[2020-09-22 14:42] #1155 closed

[2020-09-22 15:08] allysonjp715 commented on #1098
Closing out in favor of the homepage as per https://www.figma.com/file/gIpIu2cyO3MWXQ86Npb0ab?node-id=1085:1472#41702084

[2020-09-22 15:08] #1098 closed

[2020-09-22 15:10] dakrownie commented on #1071
@acansler Please add feedback from the beta testing that we'll need to work on.

[2020-09-22 15:16] sratcliffe118 commented on #1153
Yes correct, addition of location in front of each 'admin'

[2020-09-22 15:40] sratcliffe118 commented on #1071
https://docs.google.com/presentation/d/1z7dJvNBGhbg75Q5iZoTfdfwqzcNQIX8J2GxVSnjQcWY/edit#slide=id.p

[2020-09-22 15:42] sratcliffe118 commented on #1111
Duplicate bug closing

https://www.figma.com/file/tfBStxWn2bORj0RyJD0zaB/User-Study-Sept-21?node-id=1%3A1684

[2020-09-22 15:42] #1111 closed

[2020-09-22 15:44] sratcliffe118 commented on #1069
Mock for list view here: https://www.figma.com/file/TqqzDnXF4KTBAGUchpt4mQ/Global.Health-Marketing-Website?node-id=837%3A2571

[2020-09-22 16:05] allysonjp715 commented on #1148
Will #1069 cover this use case?

[2020-09-22 16:14] z023 commented on #502
Estonia is set up but isn't being ingested.

[2020-09-22 16:21] sratcliffe118 commented on #1148
Yes

Duplicate: #1069

[2020-09-22 16:21] #1148 closed

[2020-09-22 16:27] z023 opened #1176 "Sort sources list by name"
Sources are currently listed by oldest first and need to be most recent first.

[2020-09-22 16:30] attwad commented on #502
The parser is a CSV parser but it was setup with a JSON source, I've changed the URL to be https://opendata.digilugu.ee/opendata_covid19_test_results.csv, should be ingested in next run, feel free to trigger it yourself if you want before that.

[2020-09-23 07:22] attwad commented on #961
From today's Peru parsing logs:

[code]

that's exactly 60 seconds and socket hang up which is basically what this bug is about.

[2020-09-23 08:00] #1150 closed

[2020-09-23 08:11] #1133 closed

[2020-09-23 08:24] attwad commented on #1176
@z023 please note that we don't store (nor show) the creation time of sources, we could add that but we could also sort by other existing means instead like source name for example, would that be better perhaps when looking for a specific source to be sorted alphabetically?

[2020-09-23 08:46] attwad commented on #482
Looking at the ingestion logs, it seems we have issue with geocoding the cases:

[code]

I confirmed in their playground that mapbox prefers location to be written as "SK Flensburg, Schleswig-Holstein, Germany" instead.

@calremmel can you fix this please?

[2020-09-23 08:48] #1153 closed

[2020-09-23 09:33] sratcliffe118 opened #1181 "Website navigation is missing the get involved link"
Website navigation is missing the get involved link
![Screen Shot 2020-09-23 at 10 31 20 AM](https://user-images.githubusercontent.com/63205311/93994798-36809f00-fd88-11ea-9fb8-38372067787e.png)

[2020-09-23 10:48] z023 commented on #1176
By most recent would be easiest for editing sources.

[2020-09-23 10:58] Mougk opened #1184 "Import Scotland data"
https://www.opendata.nhs.scot/dataset/covid-19-in-scotland/resource/a38a4c21-7c75-4ecd-a511-3f83e0e8f0c3?inner_span=True

API available too.

Age and sex stratified case data. Columns will need to be made long.

[2020-09-23 11:17] attwad commented on #1184
https://www.opendata.nhs.scot/dataset/covid-19-in-scotland/resource/9393bd66-5012-4f01-9bc5-e7a10accacf4?inner_span=True
Seems to have sex and age

[2020-09-23 12:46] #1069 closed

[2020-09-23 12:46] attwad commented on #1184
Sorry can you explain what do you mean by "Columns will need to be made long"?

[2020-09-23 12:47] attwad commented on #1176
Okay thanks, @allysonjp715 is adding some indexes to the curator service for uploads, we can pick that up after she finishes that task.

[2020-09-23 12:47] allysonjp715 opened #1186 "Ensure data conversion script is up-to-date"
We're not sure if the script that converts data from spreadsheets to mongo data is completely up to date: https://github.com/globaldothealth/list/tree/main/data-serving/scripts/convert-data

[2020-09-23 12:55] Mougk commented on #1184
There are numbers cases (per age and sex and day) so the cases will need to expand to match line list style (each case one line).

[2020-09-23 13:02] attwad commented on #1184
Ah ok yes of course, many parsers already do that 👍

[2020-09-23 13:43] attwad commented on #961
I've bumped the RAM and CPU of prod data service, trying an import of Peru now and tailing the prod logs to see how it goes...

[2020-09-23 14:11] attwad commented on #961
So the function was running for 900s and got killed, but it only imported 1500 cases in 30 seconds and then got stuck, no more logs are shown until the task gets killed:

[code]

The prod server hasn't been killed due to OOM or anything:

[code]

Prod data logs show two interesting errors though:

[code]

Cases in question are https://curator.ghdsi.org/cases/view/5f62a0b90142a772cbaf9beb and https

[2020-09-23 14:30] attwad opened #1188 "Disable lambda automatic retries"
**Describe the bug**
Lambda at least when invoked from the UI seem to retry many times, I tried a run of the Peru parser in prod and the logs show:

https://console.aws.amazon.com/cloudwatch/home?region=us-east-1#logsV2:log-groups/log-group/$252Faws$252Flambda$252Fepid-ingestion-PeruParsingFunction-1QA5ZUYAQFX9U/log-events/2020$252F09$252F23$252F$255B$2524LATEST$255Dc38be447f8524cc4adb375ac70588bb

[2020-09-23 14:40] attwad commented on #1188
From https://docs.aws.amazon.com/lambda/latest/dg/invocation-retries.html

[code]

Seems like this is configurable though:

[code]

[2020-09-23 14:53] axmb commented on #1188
That aligns with what I've seen. Whenever there's an issue (and attempts fail), I've seen three attempts.

[2020-09-23 14:54] #1188 closed

[2020-09-23 14:56] axmb commented on #1125
The FR here is complete, unless you'd like to expand this to cover alerting, @attwad ?

[2020-09-23 14:58] axmb commented on #1015
Got it. I'm not actively working this, but will pick it up if I work through other issues.

[2020-09-23 14:59] axmb commented on #647
Unassigning myself, but this is still a nice-to-have we could consider in the future.

For these types of files, it'd be reasonable to chunk/batch the upload into multiple requests, like we're doing for ADI.

[2020-09-23 15:08] axmb opened #1191 "Add some sort of progress/estimate indication to the backfill form"
**Is your feature request related to a problem? Please describe.**
Backfill can take up to 15 minutes. Curators shouldn't submit a bunch of backfills simultaneously (because the data server will OOM). These expectations aren't well documented.

**Describe the solution you'd like**
Make these expectations clear in the backfill form. Either with a progress indicator, or at worst copy.

[2020-09-23 15:10] attwad commented on #1125
Well you only get 1H of data on the kubernetes dashboard (whatever the metrics server retains I think)

![image](https://user-images.githubusercontent.com/1255432/94031868-a2cac500-fdbf-11ea-9390-4846eb7b57be.png)

so it's not great... and doesn't provide any alerting either, I wouldn't close this FR just yet.

[2020-09-23 15:12] axmb commented on #1124
Backfill feature is added, which should provide this capability.

I'll write up a bit of documentation so that process is clear/well trodden for the curation team, and close this afterwards.

(A related FR that we'll probably implement in the near term, for reference: #1191.)

[2020-09-23 15:39] sratcliffe118 commented on #647
Ack and agree

[2020-09-23 15:55] AnyaLindstromBattle commented on #499
@z023 Changed some stuff in Paraiba parser, please let me know if still not ingesting.

[2020-09-23 17:14] allysonjp715 commented on #1176
Indexes have been added for existing needs now

[2020-09-23 17:17] allysonjp715 commented on #1176
We could potentially use the $natural sort order to reverse the current ordering: https://docs.mongodb.com/manual/reference/method/cursor.sort/#return-in-natural-order

Not ideal to depend on but might be easier than starting to store a creation date this late in the game

[2020-09-23 18:30] z023 commented on #516
There are 2 cases which are the same case ID duplicated (source case ID 3219), coming through with an Austria location. The original source states their nationality is Egyptian and possibly the positive detection location is unknown?

[2020-09-23 20:28] z023 commented on #517
Taiwan should have unique case IDs according to this: https://data.cdc.gov.tw/en/dataset/agstable-19cov/resource/27ed0b70-c28f-4a44-8a1b-ef13e487ed20

[2020-09-23 21:21] z023 commented on #499
Thanks Anya. Still not ingesting though.

[2020-09-23 21:28] AnyaLindstromBattle commented on #499
Strange - same error in the logs?

[2020-09-23 21:35] z023 commented on #499
<img width="1037" alt="Screenshot 2020-09-23 at 22 34 29" src="https://user-images.githubusercontent.com/65172419/94072143-0d462a00-fded-11ea-9747-989e2b6b633f.png">

[2020-09-24 06:20] attwad commented on #517
Unfortunately no, this is just the web widget that they use to display a CSV that adds row ids incrementally but the data set itself looks like this:

[code]

it doesn't have unique ids.

[2020-09-24 06:26] attwad commented on #499
Error seems unrelated to Paraiba:

[code]

that might be related to a PR @axmb sent yesterday for backfilling data, I will look into this now.

[2020-09-24 06:30] attwad commented on #499
Ah no that's expected, Paraiba doesn't have a confirmed date case

[code]

so we can't filter by dates... Because Paraiba doesn't have unique case IDs either we don't have a procedure to automatically ingest that source besides ingesting it once and not periodically :-(

@axmb your thoughts on this?

[2020-09-24 06:43] attwad commented on #516
Those are the 3 cases:
https://curator.ghdsi.org/cases/view/5f61cbe70142a772cba2df0f
https://curator.ghdsi.org/cases/view/5f61faf00142a772cba59d79
https://curator.ghdsi.org/cases/view/5f6858bccb263be4ff56b244

the raw entry is:

[code]

pretty printed:
[code]

The geolocation query that gets done with this case is
"เมือง, Unknown, Thailand"

and that "Unknown" seems to confuse the hell out of mapb

[2020-09-24 07:02] attwad commented on #1176
From what I can see natural sort is based on the _id sort, here are the details of the items on the first sources page:

[code]

So it isn't even true that sources are currently ordered by oldest first, it's just random...

[2020-09-24 07:39] attwad commented on #961
Since yesterday's memory and cpu bump the data server in prod hasn't restarted once, calling this done.

[2020-09-24 07:39] #961 closed

[2020-09-24 07:46] attwad commented on #1124
FTR we're at about 100+ cases per second, looking at Peru's last ingestion run:

[code]

So for any source that's more than ~80K cases we should rely on this backfill feature first.

[2020-09-24 08:05] attwad commented on #1186
Seems like the documents pass the schema validation

[code]

BUT nothing shows up in the line list UI...

http://localhost:3002/api/cases returns `{"cases":[],"total":0}`

So something is wrong...

[2020-09-24 08:05] attwad commented on #1186
Ah, it's importing in the test DB sorry... will try again now...

[2020-09-24 08:27] attwad commented on #516
I've deleted the two cases, they will be reimported correctly on next ingestion run.

[2020-09-24 08:27] #516 closed

[2020-09-24 08:32] attwad commented on #1186
Okay new import has only one document that fails validation (good luck finding which one...)

[code]

cases are showing up nicely in the line list table,  details page also seems to work but they can't be edited because they have no valid source associated with them and they also do not have a valid `revisionMetadata: {revisionNumber: 0}` (missing curator email) so edits fail with ` TypeError: Can

[2020-09-24 09:03] z023 commented on #517
Ok, @attwad could you delete all the Taiwan cases currently in the line list and I'll set up a back fill.

[2020-09-24 09:05] attwad commented on #517
There are only 2k cases for Taiwan, as a curator you should be able to search by country:Taiwan and delete them all, let me know if you encouter any hicups

[2020-09-24 09:06] z023 commented on #517
Ah yes I've just checked there aren't that many. Thanks.

[2020-09-24 09:08] z023 commented on #1176
Sorting by source name might be better as quite a few countries will need multiple sources set up so it would keep them together.

[2020-09-24 09:27] z023 opened #1198 "Sources updates not all passing through"
When parser date filtering is set up for a source but this date filtering needs clearing, pressing clear and saving the changes instead sets the date filtering to 'parse all data up to 1 day ago'.

Pressing clear should leave the date filtering column blank.

[2020-09-24 09:36] allysonjp715 commented on #1127
Fixed in mongo

![Screen Shot 2020-09-24 at 10 35 39 AM](https://user-images.githubusercontent.com/30459667/94128167-b3c41680-fe51-11ea-815c-14b89992ab09.png)

[2020-09-24 09:36] #1127 closed

[2020-09-24 09:37] attwad commented on #1198
Interesting, taking a look!

[2020-09-24 10:02] attwad commented on #1198
Must be something with how sources are updated in the backend because the UI sends the right info, but for example parsers cannot also not be cleared (modifications are ignored).

[2020-09-24 11:36] sratcliffe118 commented on #1092
@rkassa please confirm the production url we will be using for the website so we can close out the Terms of Use

[2020-09-24 11:40] sratcliffe118 opened #1201 "Finalized list of users for the Friends and Family launch"
Created a final list for users who will be given access to the global.health platform and website for the F&F launch

[2020-09-24 11:42] sratcliffe118 commented on #1121
As of 24th Sept @ 240k cases

[2020-09-24 11:48] sratcliffe118 opened #1202 "Curator portal landing page tweak: Login button"
1. Change the login string 'Login to get started'  to a button

![Screen Shot 2020-09-24 at 12 46 23 PM](https://user-images.githubusercontent.com/63205311/94141111-2b9b3c80-fe64-11ea-9047-fba43fc80d91.png)

[2020-09-24 12:33] attwad commented on #1198
Okay this is now fixed in prod.

[2020-09-24 12:33] #1198 closed

[2020-09-24 12:40] attwad commented on #1176
Okay this we can do easily :) Will send a PR.

[2020-09-24 13:22] sratcliffe118 commented on #1202
Spoke with @shroothless confirmed we are good to make the change

[2020-09-24 13:36] attwad commented on #1176
Needs to be pushed to prod before marking this as closed.

[2020-09-24 13:49] allysonjp715 opened #1205 "Redirect to home page or add custom 404 page?"
Currently only https://curator.ghdsi.org/ shows the welcome screen when logged out. https://curator.ghdsi.org/cases or anything else shows a blank screen. We should show the welcome screen on any https://curator.ghdsi.org/ URL when logged out.

[2020-09-24 14:36] iamleeg commented on #499
Maybe above and beyond for an early importer but some options to work around the lack of IDs:

1. they might be appending new cases to the top or bottom of the file, if we can compare files from different dates and see the diff it might be obvious that we can use a cursor-based approach.

2. I'm not sure how to integrate this into our architecture but the parser could be stateful and build a histo

[2020-09-24 15:08] AnyaLindstromBattle commented on #499
I have a suggestion - @Mougk made me aware of an alternative Brazilian state dataset a few days ago which, for Paraiba, actually has both a UUID and a date of confirmation. I could re-write the parser for this dataset if we think other solutions are infeasible/too complicated? Dataset here https://opendatasus.saude.gov.br/dataset/casos-nacionais

[2020-09-24 15:10] attwad commented on #499
If it has unique IDs then it's 200% preferred to use that dataset! Hope the rewrite isn't too cumbersome.

[2020-09-24 15:12] AnyaLindstromBattle commented on #499
Should be fine, will get to it ASAP!

[2020-09-24 15:23] z023 commented on #1198
I'm still getting the same problem @attwad ??

[2020-09-24 15:24] attwad commented on #1198
I checked in prod that I could clear the dates, did you save after clicking CLEAR ?

[2020-09-24 17:54] #1202 closed

[2020-09-24 18:30] avanianchala opened #1209 "Data dictionary/Terms of service placement"
![Screen Shot 2020-09-24 at 1 28 28 PM](https://user-images.githubusercontent.com/71466164/94184815-14f7e400-fe6a-11ea-80ba-76ac97fed076.png)

[2020-09-24 19:22] avanianchala opened #1210 "The U icon"
https://drive.google.com/file/d/1JrVKWw9jIZ9uKvnVX4Pz1mALyJX6tdq1/view?usp=sharing

[2020-09-24 20:59] avanianchala opened #1211 "Expand "Confirmed date" column width"
Expand "Confirmed date" column width

[2020-09-24 21:17] avanianchala opened #1212 "Favicon Mark for List - green dot with black letters"
https://drive.google.com/file/d/1KM8mZWDQt4jsrx_4fTHJAnOk5yNFyx2d/view?usp=sharing

[2020-09-24 21:44] avanianchala opened #1213 "Increase width of "Age" column"
Increase width of "Age" column

[2020-09-24 21:47] avanianchala opened #1214 "Design/format for Tool tip within form"
![Screen Shot 2020-09-24 at 4 45 22 PM](https://user-images.githubusercontent.com/71466164/94203647-66619c80-fe85-11ea-9600-7cd31ec9135e.png)

The box is 0E7569 at 100%
Text header is Mabry at 22pt
Body text is Mabry at 16pt

[2020-09-24 21:51] avanianchala opened #1215 ""?" hover state"
![Screen Shot 2020-09-24 at 4 48 10 PM](https://user-images.githubusercontent.com/71466164/94203908-e12ab780-fe85-11ea-932f-b6e645b63947.png)
![Screen Shot 2020-09-24 at 4 48 17 PM](https://user-images.githubusercontent.com/71466164/94203909-e1c34e00-fe85-11ea-836b-ee1f372d5845.png)

Green box is 0E7569 at 70%
The header text is Mabry bold 22pt
Subtext is Mabry 18pt bold
Body text Mabry 16pt regul

[2020-09-25 00:11] axmb commented on #1124
Updating here for posterity: backfill seems ready for primetime. We're planning to rely on it heavily for #1121, and the idea's to give it a full-scale test in dev before we drop existing prod data. I've tested it in dev, and it works as expected, but we can't give it a full-scale test until #1192 is approved/submitted.

[2020-09-25 00:12] #1124 closed

[2020-09-25 08:48] Mougk commented on #511
Will be a bit tricky to get updated links because they are stored in google drive but amazing information (>250k records as of Sept 24).

[2020-09-25 08:54] attwad commented on #511
Interesting, I have no idea how the source can be setup for that because URLs can't easily be guessed (docs have random uuid).

Seems like they already parse that data from somewhere as they include a "validation status" column that contains stuff like `Age or Birthdate is Invalid` or `"Health Status is ""Recovered"", but no Date Recovered is recorded
Removal Type is ""Recovered"", but no Recovere

[2020-09-25 08:56] attwad commented on #511
Also they seem to remove cases as they are found to be dupes:

[code]

[2020-09-25 10:09] #1210 closed

[2020-09-25 10:28] #1212 closed

[2020-09-25 12:39] #1211 closed

[2020-09-25 12:39] #1213 closed

[2020-09-25 12:57] z023 commented on #482
Is the geo coding resolved? Germany still isn't ingesting.

[2020-09-25 13:27] attwad commented on #482
Still some issues with it it seems, let me double check why...

[2020-09-25 13:35] attwad commented on #482
Hmmm mapbox has no results for "SK Flensburg, Schleswig-Holstein, Germany" when filtered by district (admin 2), it does provide a good one when no restrictions are set however:

[code]

We could remove the special restriction to admin2 and leave a note in the code, will send a PR to Chris.

[2020-09-25 13:37] Mougk commented on #482
I think this sounds good.

[2020-09-25 14:02] AnyaLindstromBattle commented on #500
@Mougk assigned you here to try and sort out the data download issue

[2020-09-25 15:08] sratcliffe118 commented on #1201
List of users proposed by Sam / Moritz

- Brandon Ogbunugafor, Yale, brandon.ogbunu@yale.edu
- Ana Bento, Indiana University, abento@iu.edu
- Dina Mistry, Institute for Disease Modeling, dina.c.mistry@gmail.com
- Michael Roytman, Kenna Security, michael@kennasecurity.com
- Dr. David Barros, IMSS, david.sierrac@imss.gob.mx
- Rafael Pereira, University of Sao Paolo, rafael.pereira@ipea.gov.br
- Hele

[2020-09-25 15:17] attwad commented on #1046
So after having deleted the cases they are back in the wrong location (united states, that's expected as they don't have a proper location set to them in the line list (just saying they got caught at the airport coming from the US).

The good part is that deduplication seems to work and those cases haven't been showing up more than twice as it was the case before (so my previous comment 8 days ago

[2020-09-25 15:17] #1046 closed

[2020-09-25 16:19] avanianchala commented on #1215
Similar treatment can be found in hover states in Tables as demonstrated in attached img.
<img width="449" alt="?_hover_example" src="https://user-images.githubusercontent.com/71466164/94291230-f56fc280-ff20-11ea-888e-e22b2e18a288.png">

[2020-09-25 16:40] allysonjp715 opened #1227 "Geocoder bug"
The geocoder takes a request with location field set to:
[code]

and turns it into
[code]

In #1226 I am removing the undefined's as they cause schema errors. But we appear to lose the admin levels after geocoding. This was found when running locally.

[2020-09-28 04:59] rahul18cracker commented on #477
Hi @attwad

Thanks for all the help above, i am now able to trigger the retrieval for the source. I am now stuck on a new problem, after the retrieval it's trying to upload it to an S3 bucket. Now when i had requested an S3 key and id from Alex he mentioned that for local testing i would not need one. From the sam cli it looks like it get's to an exception when it's not able to upload the data to

[2020-09-28 07:36] attwad opened #1231 "Geocode travel history as well"
**Is your feature request related to a problem? Please describe.**
trel history locations are not geocoded right now, one cannot set the location.query in them and have it geocoded.

**Describe the solution you'd like**
We should just geocode them as well.

[2020-09-28 07:51] attwad commented on #1227
FYI admin levels are not available locally unless you import them into your local mongo DB as described here: https://github.com/globaldothealth/list/blob/main/data-serving/data-service/src/geocoding/README.md#fetch-of-administrative-areas

Confirmed I get the admins properly on my local instance, closing this as WAI.

[2020-09-28 07:51] #1227 closed

[2020-09-28 07:54] Mougk commented on #1231
100% agree. I thought this was already implemented.

Is this for launch or can we get this done for friends and family launch?

[2020-09-28 08:00] attwad commented on #1231
I'm doing this now 👍

[2020-09-28 10:03] #1231 closed

[2020-09-28 10:54] allysonjp715 commented on #1205
Now any unknown URL path will redirect to the home page. Assigning to product to decide if we would rather have a custom 404 page rather than redirecting to home.

[2020-09-28 11:26] z023 commented on #1016
Only 147k ingested when there should be 800k. Is this related to issue #1124?

[2020-09-28 11:29] attwad commented on #1016
@z023 Yes Peru cannot be imported at once, it needs to be done by the backfill feature @axmb added, he's trying it out in dev today and will get back to you for how to run it in prod once we confirmed it works as intended.

[2020-09-28 11:29] z023 commented on #482
Is the geo-coding resolved? Germany isn't ingesting.

[2020-09-28 11:40] z023 commented on #563
@axmb Is the India parser changed to CSV?

[2020-09-28 11:42] attwad commented on #482
Parser didn't run since I submitted the fix this morning, I just trigerred a run now and it seems to be ingesting fine 👍

[2020-09-28 11:44] z023 commented on #1016
Ah ok thanks. I just noticed the new automated backfill option.

[2020-09-28 11:47] Mougk commented on #482
Checked in: https://curator.ghdsi.org/cases (20k only), should be: ~286k

[2020-09-28 11:49] attwad commented on #482
It *is* ingesting as we are commenting now ;) give it a bit of time plz

[2020-09-28 11:53] attwad opened #1236 "Support for local files in ingestion functions"
**Is your feature request related to a problem? Please describe.**
Local development of retrieval and parsing functions requires access to an s3 bucket to upload/download raw sources.
This makes contributions to ingestion functions much simpler for new contributors without access to the production s3 buckets.

**Describe the solution you'd like**
Local development should be able to be done with lo

[2020-09-28 11:54] attwad commented on #477
Hi, local authentication doesn't require access to serialized credentials on s3 anymore that's right (you're already using the "auth" field in the event which does just that, good) but storage of retrieved files still requires some s3 access.

I recommend just setting up an AWS project of your own to test the flow end-to-end, it fits in the free tier (5Gb/12months).
Or if you want to add support f

[2020-09-28 11:58] #1209 closed

[2020-09-28 12:01] allysonjp715 commented on #1186
From Tim's PR: "we're not there yet as since we made source creation mandatory before case creation can be done this will need to be added to the script (otherwise when editing a case we get errors like ValidationError: case.caseReference.sourceId: Path sourceIdis required., case.caseReference: Validation failed: sourceId: PathsourceId is required"

[2020-09-28 12:08] allysonjp715 commented on #1186
"I think we need to generate cases (done) -> get unique sources URLs from all cases -> generate sources -> merge sourceId in generated cases -> import cases (done)"

[2020-09-28 12:36] attwad opened #1238 "Upgrade cluster to large nodes"
Tracking issue to upgrade the existing cluster to large nodes.

[2020-09-28 12:38] attwad commented on #1238
It seems that eksctl cannot "apply" changes, we have to create a new nodegroup and then delete the old one.
Doing this now...

[code]

ok now I am trying to remove the old managed node group...

[2020-09-28 12:54] attwad commented on #1238
[code]

[2020-09-28 12:54] attwad commented on #1238
The workloads seem to have migrated to the new nodes (thanks kubernetes), there is memory overcomitment however that prevents some replicas from being scheduled, I'll have to tweak that.

[2020-09-28 13:02] #1238 closed

[2020-09-28 14:48] rahul18cracker commented on #477
HI @attwad

Thanks for the quick answer, at this point of time since i am new and struggling to get the 1st one working. What i would do as per your suggestion is to set up a S3 bucket using the free tier. Once i am able to set up the bucket and upload and pull data from it, this would let me verify the flow and get things working.

Once done i can look at #1236 and see if i am able to help

Thank

[2020-09-28 15:00] #1176 closed

[2020-09-28 15:22] sratcliffe118 commented on #1092
Confirmed via slack

@allysonjp715 confirmed this finalized from my side.  Docs [here](https://docs.google.com/document/d/1zj_4TNcqEzYxPk-NKdgPJRchhySNrlb5m56cp2bP2hA/edit)

[2020-09-28 15:29] sratcliffe118 opened #1242 "Data missing from metric dashboards"
**Describe the bug**
Data missing from the metrics dashboards

![Screen Shot 2020-09-28 at 4 28 33 PM](https://user-images.githubusercontent.com/63205311/94452717-bef7a900-01a7-11eb-964b-e3790986c0ea.png)

[2020-09-28 15:31] axmb commented on #940
This should be really rare following the aforementioned logic changes and server upgrades, which reduce the likelihood of requests failing in a bad state.

To move from "really rare" to totally fixed, we'd want to make the creation of case revisions transactional with the corresponding updates to the core case document. Right now, the revisions are created before applying the operation (i.e. updat

[2020-09-28 15:38] sratcliffe118 commented on #481
has this issue been resolved?

[2020-09-28 16:07] z023 commented on #481
There are still cases identified at airport quarantine coming through as Indonesia. Might this need to be manually edited?

[2020-09-28 16:09] attwad commented on #481
Japan has 79963 cases imported which corresponds to the cases in the raw file and the admins are translated yes so I think this can be closed.

[2020-09-28 16:10] attwad commented on #481
Yes you can add a notes to these pending https://github.com/globaldothealth/list/issues/1013

[2020-09-28 17:55] allysonjp715 commented on #1242
I'm hoping #1243 will fix this. We will have to drop the dataset and reimport, but we're planning to do that anyways.

[2020-09-28 19:54] z023 commented on #508
Set up Argentina and triggered retrieval. Got an error 'Error: Request failed with status code 500'.
Related to #1124?

[2020-09-29 02:39] axmb commented on #1016
Backfill's ready for use -- there's [a bit of user documentation on it here](https://docs.google.com/document/d/1tK1PpAqQ37bBVap0g-evGlc06hcnvBpfE6lvpGyu8rc/edit#heading=h.imiskg63rzz9). Feel free to give it a shot and poke me with any questions.

That said, tomorrow Allyson/Stephen/I will be working on merging legacy/new data, so any manual backfilling may need to be redone.

[2020-09-29 06:31] attwad commented on #508
That's different although still size-related, it seems that Argentina CSV is about 400Mb and we're hitting some lambda limits when retrieving that file in our retrieval function:

[code]

I will bump the memory available to the function from 512MB to some higher number.

[2020-09-29 06:36] Mougk opened #1246 "Update ToS on portal"
ToS will need to be updated on portal to include text below:

Global.Health Terms of Use
1. The Global.health website and its contents herein, including all data and mapping are the copyright of Boston Children's Hospital, all rights reserved. When linking to the website, attribute the Website as www.global.health
2. The Global.health data is licensed under Creative Commons Attribution 4.0 Interna

[2020-09-29 06:47] Mougk opened #1247 "Replace text on welcome curator screen"
Replace trustworthy with 'detailed' or 'standardized' or similar. We are not actually evaluating whether a datapoint is correct but rather make sure its correctly formatted.

<img width="651" alt="Screenshot 2020-09-29 at 07 44 26" src="https://user-images.githubusercontent.com/8478551/94522489-a8913200-0227-11eb-9a03-dae7381b5228.png">

[2020-09-29 06:48] Mougk opened #1248 "logos misaligned"
Logos are misaligned when making browser window smaller.

<img width="670" alt="Screenshot 2020-09-29 at 07 47 42" src="https://user-images.githubusercontent.com/8478551/94522812-26553d80-0228-11eb-8f26-894e1d08781e.png">

[2020-09-29 06:51] Mougk opened #1249 "add and remove logos"
On curator login screen:

1. IHME logo should be replaced with University of Washington logo.

![university-of-washington-uw-vector-logo](https://user-images.githubusercontent.com/8478551/94522954-60264400-0228-11eb-83fa-966fe08fe90c.png)

2. Add Oxford Martin School Logo:

![oms-sq-rgb](https://user-images.githubusercontent.com/8478551/94523044-8350f380-0228-11eb-8124-35db07ebe964.jpg)

[2020-09-29 06:53] attwad commented on #508
OK 768MB failed but 1GB worked

[code]

[2020-09-29 07:09] Mougk opened #1251 "Add Privacy Policy to website"
If we use any tracking of data on website (google analytics or similar) we 100% need a privacy policy: https://seqlegal.com/free-legal-documents/privacy-policy.

[2020-09-29 07:15] Mougk opened #1252 "change of text on welcome screen"
Made made some adjustments to the text on: https://dev-globalhealth.pantheonsite.io/.

A first of its kind, easy to use global data repository and visualization platform that enables open access to real-time epidemiological anonymized line list data. **This platform was created by** university researchers from institutions around the world including Oxford, Harvard, Northeastern, **University of W

[2020-09-29 07:21] Mougk opened #1253 "privacy policy link on get involved page not working"
1. Corrected some typos:

_Get **Involved**
Today, Global.health is being built via a network of hundreds of volunteers that could use your help in creating a revolutionary global source of information. Sounds exciting? Looking for ways to get involved?

Stay updated on what we’re doing **or** learn how you can get involved by filling out the form. If you’re already involved, feel free to refer so

[2020-09-29 07:24] Mougk opened #1254 "text edits in about section"
Corrected some typos and edited text:

_Our mission is to enable rapid sharing of trusted and open public health data to advance the response to infection diseases.

**We provide an** easy to use global data repository and visualization platform that enables open access to real-time epidemiological anonymized line list data. University researchers from academic institutions around the world like O

[2020-09-29 07:28] Mougk opened #1255 "Press links website"
1. No link to NYT article
2. Add more links to press: https://www.sciencemag.org/news/2020/02/scientists-are-racing-model-next-moves-coronavirus-thats-still-hard-predict
3. https://www.independent.co.uk/voices/coronavirus-covid-19-pandemic-outbreak-data-research-cdc-who-a9406281.html

[2020-09-29 07:38] Mougk opened #1256 "A couple minor edits for website"
1. Remove section on resources and add Support (i.e., funding: which is Oxford Martin School and Google.org for now) on about subpage: https://dev-globalhealth.pantheonsite.io/about/ . They need to review before launch, so please do note.
2. Sponsor should be reframed to Partners.
3. Team may only include one member per institution. I would prefer no pictures or names but institutions to have link

[2020-09-29 07:44] Mougk opened #1257 "Projects subpage needs refining"
Projects subpage now showing some research that our **data has enabled**.

Decisions to be made:
1. Should we link to our own work (4 papers in Science, Nature Medicine, Nature Scientific Data, Lancet Infectious Diseases - see links below)
- https://science.sciencemag.org/content/368/6490/493
- https://www.nature.com/articles/s41597-020-0448-0
- https://www.thelancet.com/journals/laninf/article/PI

[2020-09-29 07:46] Mougk opened #1258 "Mismatch between URL and Subpage"
Mismatch between subpage 'projects' and URL ('news).

<img width="915" alt="Screenshot 2020-09-29 at 08 34 11" src="https://user-images.githubusercontent.com/8478551/94528336-248f7800-0230-11eb-9a23-1fc11e332eff.png">

[2020-09-29 07:46] attwad commented on #508
OK we could ingest 139250 cases in 900s but argentina has way too many cases so it will have to be backfilled with #1124 first.

[2020-09-29 07:54] Mougk opened #1259 "On curator portal add link to portal documentation"
I really like when websites or data portals put a link to the documentation of the platform. Perhaps this can be added to the section: "data dictionary', 'terms of use', 'documentation' with appropriate link to where we document the infrastructure for anyone to replicate and use.

@attwad @allysonjp715 what woudl be the best link to provide from our github?

[2020-09-29 08:00] attwad commented on #1259
Well, a lot of projects have a "fork me on github" kinda button somewhere, we could add something like that with our data dictionary/terms of use bottom links that points to https://github.com/globaldothealth/list#globalhealth-list, would that be reasonable?

[2020-09-29 08:01] attwad commented on #1259
Dev documentation is a bit below at https://github.com/globaldothealth/list#developer-documentation, we could also point to this instead if the link is explicitely about dev docs.

[2020-09-29 08:03] Mougk commented on #1259
Thanks Tim!

Great, I will discuss with group on call later but for all these are two great options.

I tend to favour the 'fork me on github' buttom.

[2020-09-29 08:36] Mougk commented on #1251
@attwad just in case: do you have a good resource for privacy policy?

[2020-09-29 08:41] attwad commented on #1251
You mean for generating a privacy policy? there are lots of online tools to do this yes (although I've never used them), but FTR the GDPR issue I filed earlier should cover this https://github.com/globaldothealth/list/issues/1119

[2020-09-29 08:42] Mougk commented on #1251
That's helpful. Good to see this is being tracked.

[2020-09-29 09:02] sratcliffe118 commented on #1251
This item has been raised and is currently with BCH for a decision. Let's
loop in Emily to close this one out

On Tue, Sep 29, 2020 at 9:43 AM Moritz Kraemer <notifications@github.com>
wrote:

[2020-09-29 09:38] attwad opened #1263 "Basic load testing of curator portal"
**Is your feature request related to a problem? Please describe.**
Some time ago we gave reader access to every logged-in user, that has load implications that we should measure.

**Describe the solution you'd like**
Use something like locust or some open source load testing tool locally and on dev to measure our capacity.

[2020-09-29 10:52] lmanul commented on #1064
This looks the same ass issue #1070 ? The mock is the same.

[2020-09-29 10:52] lmanul commented on #1064
Duplicate of #1070

[2020-09-29 10:52] #1064 closed

[2020-09-29 10:55] lmanul commented on #1074
I should probably start linking commits that aim to integrate the new data flow into the existing pipeline, since this is heavily dependent on getting the new data, with more per-case details.

[2020-09-29 10:55] lmanul commented on #1074
https://github.com/globaldothealth/common/commit/58b70e6bac4f77267ea66a288f21acff3ab844bb

https://github.com/globaldothealth/common/commit/3e1f5eb6366d7b614743c599e3252a62de18e072

https://github.com/globaldothealth/common/commit/82bf2e8521225787f99b8774577c5ec4c2a468f1

[2020-09-29 13:04] shroothless commented on #1251
There is a Google Analytics account for the previous HealthMap site. Would be good to implement here, and not sure if we get anything from Wordpress. Robel can you help here?

[2020-09-29 13:20] shroothless commented on #1259
Can we add these to the account menu along with some of the other links?

On Tue, Sep 29, 2020 at 4:03 AM Moritz Kraemer <notifications@github.com>
wrote:

[2020-09-29 13:23] attwad commented on #1259
everything is possible ©

But do you mean to also move the dictionary and map link to the account menu?

[2020-09-29 13:24] sratcliffe118 commented on #1248
@Mougk what browser did you see this on?

[2020-09-29 13:25] shroothless commented on #1257
We could add these through the wordpress admin, I'm happy to hep. If not 'projects' is there another section name we can use for the section.

[2020-09-29 13:27] calremmel opened #1265 "Local Dev Environment Documentation Updates"
There are a few points in the documentation of the local dev environment where I would find updates or further clarification very helpful for both new contributors and for me personally.

1. There are a couple of new secrets to include in the dev/.env file that it would be great to list with the others
2. For the dev/.env file, it would be great to list points of contact for getting secrets. I thi

[2020-09-29 13:28] shroothless commented on #1259
Lol. I'd leave Map and dictionary as is. And adding the Github fork the
menu. Sorry for being unclear.

On Tue, Sep 29, 2020 at 9:23 AM Timothé <notifications@github.com> wrote:

[2020-09-29 14:05] sratcliffe118 commented on #1255
@rkassa could you take a look at adding these links?

[2020-09-29 14:08] sratcliffe118 commented on #1253
@rkassa could you take a look at the content typos

@Mougk
I would split out privacy policy and wording to a separate issue for the public launch

[2020-09-29 14:32] Mougk opened #1268 "rotate screenshots on map"
Rotate screenshots so its clear that global dataset (or use a more global screenshot)

<img width="675" alt="Screenshot 2020-09-29 at 15 30 26" src="https://user-images.githubusercontent.com/8478551/94572296-c2069e00-0268-11eb-922a-6ca1df08237e.png">

[2020-09-29 15:04] Mougk commented on #1255
@scarpino can you add any links to go to the press section. See small selection above.

[2020-09-29 15:05] Mougk commented on #1257
agreed with 'Research' (@scarpino to confirm).

[2020-09-29 15:15] Mougk opened #1270 "List of refinements for Website/Viz/Portal."
Awesome session today. Could @shroothless @acansler @lmanul  please copy a list of issues that need refining (+expected process: a) direct implementation, b) direct implementation after consortium decision, c) implementation after UX design d) implementation after more engineering design, e) other that you can think of ;) ).

[2020-09-29 15:19] sratcliffe118 commented on #1095
Bumping the milestone to public launch as the sources we have for F&F meet the case number requirements

[2020-09-29 15:21] sratcliffe118 commented on #1100
no delay in image loading, marking as done

[2020-09-29 15:21] #1100 closed

[2020-09-29 15:29] axmb commented on #563
Yep! I've just now pushed [an update](https://github.com/globaldothealth/list/pull/1245) including transitioning it to CSV.

[2020-09-29 15:31] axmb commented on #447
Updating the state here: this is implemented and in-use for ADI.

It isn't implemented for manual entry (single or bulk), though it'd be quick to add for the latter.

[2020-09-29 15:34] Mougk commented on #1259
Works for me. @rkassa what do you think?

[2020-09-29 16:33] sratcliffe118 commented on #1095
We are now focused on supporting the number of cases and not the number of data sources themselves, as such I am going to close this issue

[2020-09-29 16:33] #1095 closed

[2020-09-29 16:34] axmb commented on #1095
For posterity: we've reached ~31 sources (which cover about 15 distinct countries/states). I'll be working with Zoe to get these backfilled; the results of which are tracked in #1121.

[2020-09-29 16:42] sratcliffe118 commented on #1201
@Mougk we need to make a call on how we want to communicate and give these users access to the tool

[2020-09-29 16:45] Mougk commented on #1201
Yes, I think it should be an email with a questionnaire attached for focussed feedback. @acansler can you help develop questionnaire (google form). Offer that we would love to talk as well in a week or two when they had time to play around with it. Mention that they should not share too widely ;)

[2020-09-29 16:51] sratcliffe118 commented on #1015
@axmb @z023 do we see this as blocking the friends and family launch? or can we bump this to be fixed prior to public launch?

[2020-09-29 16:59] allysonjp715 commented on #1249
Right now the logos are all in one image. Could someone make a new singular image or provide separate images for all the logos?

[2020-09-29 17:15] z023 commented on #1015
Could probably push it back on the priority list at the moment.

[2020-09-29 17:48] sratcliffe118 commented on #518
HK data available in prod

[2020-09-29 17:48] #518 closed

[2020-09-29 23:37] rkassa commented on #1258
Resolved
<img width="1418" alt="Screen Shot 2020-09-29 at 7 37 09 PM" src="https://user-images.githubusercontent.com/201428/94627316-2c303a80-028b-11eb-8a72-0b1dcdbef298.png">

[2020-09-29 23:37] #1258 closed

[2020-09-29 23:45] rkassa commented on #1254
Copy is updated on "About" page accordingly

[2020-09-29 23:47] rkassa commented on #1099
Header/main nav links are all updated per @shroothless's comment ☝️

[2020-09-29 23:47] #1099 closed

[2020-09-29 23:54] rkassa commented on #1252
Copy is updated accordingly on homepage

[2020-09-30 00:33] axmb commented on #563
Before we backfill, I've bounced one last data quality question off Moritz in #1275.

[2020-09-30 00:33] axmb commented on #1125
Cool, sounds good. I'll leave this open (with special attention @SpencerMarks-IDHA) at P2.

[2020-09-30 00:37] axmb commented on #1013
It'd likely be missed, @z023. If the total number of erroneous cases is low, that might be an acceptable consequence.

Alternatively, if the total number of bad cases is quite low, we could special case them in the parser. Because we're avoiding updates for cases specifically with UUIDs, it'd be simple enough to check for those IDs and skip in the parser. This is the simplest solution, IMO, allows

[2020-09-30 01:55] axmb commented on #1265
I'll send a change for 1 and 2 now. I can take care of 3 tomorrow, unless someone is interested before I get to it.

[2020-09-30 03:00] rkassa commented on #1112
<img width="426" alt="Screen Shot 2020-09-29 at 11 00 11 PM" src="https://user-images.githubusercontent.com/201428/94638233-8939e980-02a7-11eb-8e08-5e923b489776.png">

Resolved

[2020-09-30 03:00] #1112 closed

[2020-09-30 03:01] rkassa commented on #1268
<img width="426" alt="Screen Shot 2020-09-29 at 11 00 11 PM" src="https://user-images.githubusercontent.com/201428/94638233-8939e980-02a7-11eb-8e08-5e923b489776.png">

Also resolved

[2020-09-30 03:03] rkassa commented on #1181
<img width="728" alt="Screen Shot 2020-09-29 at 11 02 47 PM" src="https://user-images.githubusercontent.com/201428/94638407-e6359f80-02a7-11eb-8b55-e0ba6ac19153.png">

The "Get Involved" link in the primary nav appears only when you scroll down and the sticky nav is enabled. This is by design.

[2020-09-30 03:03] #1181 closed

[2020-09-30 03:54] shroothless commented on #1112
I believe we decided to move to the 2D map? Can we update.

On Tue, Sep 29, 2020 at 11:00 PM Robel Kassa <notifications@github.com>
wrote:

[2020-09-30 06:17] Mougk commented on #1254
Thanks. I've looked in the about section on this link which is still the same: https://dev-globalhealth.pantheonsite.io/about/

Am I looking in the wrong place?

[2020-09-30 07:15] fojackson8 commented on #1265
This is a great idea. One thing I could add is that if you do have aws CLI set up, you can copy a source to aws and infer the details necessary for input_event.json without running the retrieval function, all you need is the sourceID from the UI. This helped me as retrieval function kept timing out and meant I could bypass this step.

[2020-09-30 08:04] #1263 closed

[2020-09-30 08:11] attwad commented on #1013
Yes that's the most straightforward approach, I can send an example for Japan now.

[2020-09-30 08:18] attwad commented on #1265
Let me get a stab at 3. now

[2020-09-30 08:27] Mougk commented on #1249
Find remaining logos below.

![3u-georgetown-university-logo-600x200-1](https://user-images.githubusercontent.com/8478551/94661503-0ba1c800-02ff-11eb-8838-36613e6dfb5a.png)

![1c0c59bb823eb6a54723c54ad3e2408a](https://user-images.githubusercontent.com/8478551/94661511-0e042200-02ff-11eb-9651-968c2a3c8d58.jpg)

![northeastern-university-logo](https://user-images.githubusercontent.com/8478551/946615

[2020-09-30 08:35] allysonjp715 commented on #1249
Thank you! Do you have the Boston children's hospital logo with the words next to it? These all look quite wide... I wonder if they'll fit on the welcome screen. Will leave this with Robel and Katelynn.

[2020-09-30 08:40] Mougk commented on #1249
![childrens-logo](https://user-images.githubusercontent.com/8478551/94662690-a51da980-0300-11eb-87bb-4a4996959b4a.jpg)

Can always do two rows and in general make logos smaller. See an example below:

<img width="544" alt="Screenshot 2020-09-30 at 09 39 10" src="https://user-images.githubusercontent.com/8478551/94662846-dc8c5600-0300-11eb-8683-f434418ada85.png">

[2020-09-30 08:57] attwad commented on #1265
Okay hopefully https://github.com/globaldothealth/list/pull/1280 takes care of 3., let me know!

[2020-09-30 09:01] #1259 closed

[2020-09-30 10:00] allysonjp715 commented on #1242
The charts are back up

[2020-09-30 10:00] #1242 closed

[2020-09-30 10:36] #1247 closed

[2020-09-30 10:47] allysonjp715 opened #1282 "Adding - to a search result to negate a search doesn't work"
Currently in prod there are 175811 cases
If I search for "Peru" I get 82749 search results
If I search for "-Peru" I get 0 search results

We could either fix, or take out in the tooltip that negations are possible

[2020-09-30 10:50] Mougk opened #1283 "Add more details in line list view"
Based on UX research more detail on line list cases was desired:

<img width="1057" alt="Screenshot 2020-09-30 at 11 49 11" src="https://user-images.githubusercontent.com/8478551/94676268-f898f300-0312-11eb-8998-5dd6728ecaf0.png">

Suggestion: add latitude and longitude, add detail on hospitalisation date, date of symptom onset.

[2020-09-30 10:52] allysonjp715 commented on #1283
There was also a suggestion to give the user the ability to add/remove columns as they see fit. This will need UX guidance though.

[2020-09-30 10:55] Mougk commented on #1283
Great, @katelynnobrien may be able to help with UX post fellowship. For now, any comment from @acansler and @shroothless would be good!

[2020-09-30 10:58] sratcliffe118 commented on #1201
List is finalized

[2020-09-30 11:09] attwad commented on #1282
It works but only as a secondary filter:

`Peru -"El Dorado"` will retrieve all cases from peru but that do NOT contain "El Dorado" (an admin 2 name).

Just querying for -Peru will simply append that negation to everything else as an AND operation as explained in https://docs.mongodb.com/manual/reference/operator/query/text/#negations

It's kind of awkward but that's the way text indexes work in m

[2020-09-30 11:50] allysonjp715 commented on #1186
We decided not to create one source per case. Instead, a source will need to be created before the script is run, and then the ID passed to the script. This will be documented in the readme.

[2020-09-30 13:21] sratcliffe118 commented on #1268
@rkassa This update isn't showing for me, does it need a push?

[2020-09-30 13:23] sratcliffe118 commented on #1254
@rkassa do we need to run a push to see these changes? I too cannot see from on the dev. instance of the site

[2020-09-30 13:23] sratcliffe118 commented on #1252
@rkassa I cannot see this change live on the website. do we need a push?

[2020-09-30 14:06] acansler commented on #1201
Happy to help on this. Are there specific questions or topic areas you would like feedback on, @Mougk  ?

[2020-09-30 14:11] Mougk commented on #1201
See some posed here: https://docs.google.com/document/d/19DtkpwQy0K0TqSoi2y2qhCzi-grMbyCAcpx5d9SkG_8/edit?ts=5f746df5

[2020-09-30 14:33] acansler opened #1290 "Provide users (researchers and curators) with the ability to modify the column layout in the web portal"
Problem: Beta testers encountered friction in the web portal when initially landing on the page. The condensed set of columns (which only include a few of the collected variables for a line list case) led users to mistakenly believe this might be all the available data, which conflicts with our goal of helping them quickly understand the data structure and encourage exploration.

There are two pos

[2020-09-30 14:46] Mougk commented on #1246
@rkassa @shroothless @allysonjp715 can you prioritise this one

[2020-09-30 15:10] attwad opened #1291 "favicon is invisible in dark mode"
**Describe the bug**
When tab isn't focused:
![image](https://user-images.githubusercontent.com/1255432/94703929-a6ba9200-033f-11eb-8529-39bf26558a9f.png)

When in focus:
![image](https://user-images.githubusercontent.com/1255432/94703962-afab6380-033f-11eb-826c-e3921d206308.png)

**To Reproduce**
Enable dark mode in chrome or at the system level, go to https://curator.ghdsi.org/

**Expected behav

[2020-09-30 15:16] rkassa commented on #1246
@Mougk

ToS page on marketing website is here, so it can be linked to from portal: https://dev-globalhealth.pantheonsite.io/terms-of-use/

[2020-09-30 15:35] sratcliffe118 opened #1294 "G.h website: UX audit and fixes"
**Describe the bug**
UX audit and fixes to g.h website

Fixes: https://docs.google.com/presentation/d/1pO7VHHe6ZhdyhLBPacJjM5oRrhO8GXMUYfTb_mQCtv4/edit#slide=id.g9cbb561ab6_0_11

[2020-09-30 15:37] axmb commented on #480
We ran into a little error today while backfilling:

[code]

Should we add a catch for lookups that aren't found in the dictionary, @calremmel ?

[2020-09-30 15:42] axmb commented on #481
We're getting validation failures for writing this data during backfill:

https://console.aws.amazon.com/cloudwatch/home?region=us-east-1#logsV2:log-groups/log-group/$252Faws$252Flambda$252Fepid-ingestion-JapanParsingFunction-1OQ1QSBLCA0XV/log-events/2020$252F09$252F30$252F$255B$2524LATEST$255D8b6f9542bd36419ca05864fea9e0d4d3$3Fstart$3DPT12H
[code]

Did we deploy the change reverting to the old up

[2020-09-30 15:46] attwad commented on #481
yes the change has been deployed, nothing change on the parser's side though.

[2020-09-30 15:49] #1092 closed

[2020-09-30 16:53] acansler commented on #1201
Draft available here: https://docs.google.com/forms/d/1DD4mZX-BLuQROLXk2zl1zoGWtl3wM_OHPNHdsZud80o/edit?usp=sharing

[2020-09-30 17:23] acansler commented on #1201
I was mistaken about including the website and visualization in the survey. v2 available here:

https://docs.google.com/forms/d/1lGrIn8A4U85lXIvem_7Suysel2RGKHA1fa09mYtzARM/edit?usp=sharing

[2020-09-30 19:00] rkassa commented on #1114
<img width="875" alt="Screen Shot 2020-09-30 at 2 58 49 PM" src="https://user-images.githubusercontent.com/201428/94727973-7e299c80-032d-11eb-9ea7-c68c6a11cea4.png">

Mini descriptions are added to the homepage. @sratcliffe118 I'll defer to you for closing this issue, in case the current state doesn't satisfy the issue you logged.

[2020-09-30 20:08] rkassa commented on #1257
@Mougk All 4 papers are added under "Research."

If the decision is to move forward with manually adding publications/articles in the short-term, I think we can go ahead and close this until we figure out an auto-update from a source/feed.

[2020-09-30 20:57] axmb opened #1297 "When searching by upload, sort cases by confirmation date (desc.)"
**Is your feature request related to a problem? Please describe.**
Viewing the date range covered by an upload is a semi-common task. For instance, if I want to see what dates a given parser run was able to ingest -- either to understand what data was available, or if the parser run timed out, how far it got in the data. Right now, it's hard to do that.

**Describe the solution you'd like**
When s

[2020-09-30 22:20] axmb commented on #504
@fojackson8 -- Zoe and I hit an issue backfilling Colombia data.

Seems we're inadvertently leaving out the location from the parsed case -- mind TAL?

https://github.com/globaldothealth/list/blob/main/ingestion/functions/parsing/colombia/colombia.py#L41

[2020-10-01 02:57] rkassa commented on #1254
![Screen Shot 2020-09-30 at 10 56 21 PM](https://user-images.githubusercontent.com/201428/94760316-2c563600-0370-11eb-9006-2e2c454cf285.png)
@Mougk @sratcliffe118 — i've rebuilt the cache; please check again in incognito, perhaps? if not, let's take this to slack :)

[2020-10-01 02:59] rkassa commented on #1252
![Screen Shot 2020-09-30 at 10 58 15 PM](https://user-images.githubusercontent.com/201428/94760412-6fb0a480-0370-11eb-9db7-32603bcfa725.png)

@sratcliffe118 might be a cache issue; verify in incognito?

[2020-10-01 04:58] axmb commented on #1121
Today was our first real day post-prod-database reset.

After several wonderful hours backfilling, Zoe and I completed a few countries worth of data, including Peru (810k cases worth)! We're now at around 1.2M cases in prod.

[2020-10-01 04:58] #1121 closed

[2020-10-01 06:06] Mougk commented on #1257
Thanks. Please remove the other papers that were there before. They were "research pieces that this work has enabled" and will need a new category post launch.

[2020-10-01 08:20] attwad commented on #1186
As per discussion on slack, the script is importing dates wrongly, parsing day.month.year as month.day.year

For example:
https://curator.ghdsi.org/cases/view/5f748fbc75bcf2b506d4d1cc

has the raw data:

[code]

[2020-10-01 09:16] sratcliffe118 commented on #1254
LGTM, thanks @rkassa

[2020-10-01 09:16] #1254 closed

[2020-10-01 09:18] sratcliffe118 commented on #1252
LGTM, @rkassa thanks!!

[2020-10-01 09:18] #1252 closed

[2020-10-01 09:19] sratcliffe118 commented on #1121
HUGE milestone, congrats everyone!!!

[2020-10-01 09:20] allysonjp715 commented on #1186
I'm changing the input data rather than changing the scripts

[2020-10-01 09:21] Mougk commented on #1246
@allysonjp715 has this been changed on curator portal? For me its still as below (https://curator.ghdsi.org/terms) and same in dev:
<img width="1006" alt="Screenshot 2020-10-01 at 10 20 31" src="https://user-images.githubusercontent.com/8478551/94791585-c6010000-03cf-11eb-9f52-882d6e49860e.png">

[2020-10-01 09:28] allysonjp715 commented on #1246
We hadn't pushed, it is updated now.

[2020-10-01 09:28] #1246 closed

[2020-10-01 09:36] Mougk commented on #1016
@sratcliffe118 @z023 is this one ready, can we close?

[2020-10-01 09:37] sratcliffe118 commented on #1016
Yes this is fully backfilled, we can close

[2020-10-01 09:40] z023 opened #1300 "To be able to see in the portal when auto-ingestions are currently in progress"
**Is your feature request related to a problem? Please describe.**
It would be helpful to know when auto-ingestions are running as, particularly for the large datasets, it slows down backfilling and other upload attempts.

**Describe the solution you'd like**
A column in the sources list of auto-ingestions "IN_PROGRESS"

**Describe alternatives you've considered**
Or being able to set parsers to r

[2020-10-01 09:42] attwad commented on #1300
FYI The AWS schedule expression allows you to specify exactly at what time of the day you'd like a parser to run, right now most of them are `rate(1 day)` because that's simple but you can use the full `cron()` power if you'd like.

[2020-10-01 09:44] z023 commented on #1300
Ah ok. When you use rate does it auto ingest at the time the source was set up?

[2020-10-01 09:52] attwad commented on #1300
No, my understanding is that AWS ensures it runs at the rate it was configured but if you set rate(1 day) it can be at any time during that day.

[2020-10-01 09:53] Mougk commented on #1201
We should be all good. @sratcliffe118 please review and close.

[2020-10-01 09:54] Mougk commented on #1248
Does not appear to be an issue anymore. Thanks @rkassa

[2020-10-01 09:54] #1248 closed

[2020-10-01 09:55] sratcliffe118 commented on #1201
lgtm

[2020-10-01 09:55] #1201 closed

[2020-10-01 11:58] allysonjp715 commented on #1186
Data is fixed in prod.

[2020-10-01 11:58] #1186 closed

[2020-10-01 12:00] allysonjp715 commented on #1283
Comments from @acansler in #1290

[2020-10-01 12:13] #1116 closed

[2020-10-01 12:13] z023 commented on #508
IDs 1383222 and 1333926 need excluding from future ingestions.

[2020-10-01 13:05] Mougk commented on #508
@fojackson8 take a look here. See example code for Japan to exclude ID's here: https://github.com/globaldothealth/list/pull/1278/files/42c91a2f98db54015c685ed9bcbdec235741bf2e

[2020-10-01 13:07] z023 commented on #490
Not ingesting. This was the last error ID 5f74d3fa33f2de20e092274a

[2020-10-01 13:11] z023 commented on #508
I've realised half of Argentina cases are still missing even after backfilling. Those 2 IDs weren't ingested anyway.

[2020-10-01 16:21] attwad opened #1306 "Add country restrictions to geocode queries"
**Is your feature request related to a problem? Please describe.**
Some geocoding queries unintuitively return results in a different country than the one expected.
For example "CABA, Argentina" returns a place in Mexico :-(

Example: https://curator.ghdsi.org/cases/view/5f75cb05cb263be4ff5a8892

**Describe the solution you'd like**
Mapbox supports country filtering in its requests so for parsers

[2020-10-01 20:25] axmb commented on #1013
Sweet. I'd recommend using that approach, which is relatively simple, until there's evidence it'd be untenable.

@Mougk -- feel free to close this with that workaround in mind, or keep it around as a P2.

[2020-10-01 20:26] axmb commented on #447
Given the reliance on ADI/backfills with the current data set, which fully supports this, I think it's reasonable to categorize this as a P2. I'll shuffle those labels.

[2020-10-01 21:30] Mougk commented on #482
@calremmel

[2020-10-02 06:39] attwad commented on #482
Germany doesn't provide per-case IDs.

[2020-10-02 06:41] Mougk commented on #482
Ok. Just to confirm: FID is updated each day and does not correspond to a particular case?

<img width="1225" alt="Screenshot 2020-10-02 at 07 40 46" src="https://user-images.githubusercontent.com/8478551/94895112-9fe86800-0482-11eb-96cf-82f7c3d58220.png">

[2020-10-02 06:46] attwad commented on #482
wellll maybe? There's no documentation on that field, it says unique ID but we don't know how it's updated/what it represents, if you or anyone can find it in their docs (I couldn't) and if it means what we want then we could change the parser to read this field as well if.

[2020-10-02 07:16] Mougk commented on #482
Had a look and could not find clear documentation. It does seem though that these ID's are changing. Germany may be a case where (to update cases) we would need to re-upload (ingest) the dataset each day if we can solution the time out issues.

[2020-10-02 07:16] Mougk commented on #482
@outbreakprepared may know what's up with the object ID's

[2020-10-02 11:15] #1265 closed

[2020-10-02 12:27] z023 commented on #480
Any updates? Still getting an error with ingestion.

[2020-10-02 12:29] z023 commented on #481
Any updates on errors?

[2020-10-02 12:36] attwad commented on #481
This document looks fine, I don't know why such validation error occurs. @AnyaLindstromBattle did they happen locally as well?

[code]

[2020-10-02 13:10] AnyaLindstromBattle commented on #481
Nope, everything passed e2e. Will check that is still the case but to my knowledge haven't changed the parser since #1147. Did it work before then?

[2020-10-02 13:30] z023 commented on #481
Yes Japan was working fine up until last Friday 25th it looks like.

[2020-10-02 13:31] calremmel commented on #480
Just submitted a PR that deals with the case of a missing location code!

[2020-10-02 13:32] calremmel commented on #482
Should I wait for more information on this? Standing by in case any changes are needed with the parsing code.

[2020-10-02 13:35] AnyaLindstromBattle commented on #481
OK the update was merged 24th 15.31 BST, when was the last run that worked?

[2020-10-02 13:39] z023 opened #1312 "Ability to clear an AWS schedule"
When a source AWS schedule is set up with source set up but then you want to clear it, unable to save an empty AWS schedule.

[2020-10-02 13:43] z023 commented on #482
Yes I'm setting up the sources assuming no unique IDs.

[2020-10-02 13:45] z023 commented on #481
Looks like 24th was the last success, upload ID 5f6c86d6e09d6f235322615b

[2020-10-02 13:46] attwad commented on #1312
Note a possible workaround until this is fixed: delete the source and re-create it.

[2020-10-04 18:13] Mougk commented on #1257
@rkassa added one more research paper coming out tomorrow: https://www.nature.com/articles/s41591-020-1104-0

[2020-10-04 22:26] rahul18cracker commented on #477
Hi @attwad

I tried doing the above with setting up a free S3 bucket as suggest by you above. I see the credentials problems when i modify the files to take my bucket "epid-sources-raw-rahul", i have modified the following files to point to my own bucket.

I tried to go thru the code and in the retrival.py file i see
s3_client = boto3.client("s3")   >> i tried hunting how this file specifies the c

[2020-10-05 08:54] attwad commented on #477
In your small exampe you are specifying the s3 key id and access key explicitly whereas in the retrieval function code it's just using the default s3 client constructor, the differenc emight come from here.
I believe this uses your default local creds that are configured with `aws configure`, did you run that command and enter your access key and id there?

[2020-10-05 12:58] z023 commented on #481
Any progress with what's going on here?

[2020-10-05 13:05] AnyaLindstromBattle commented on #481
Can't check whether I get local validation errors atm as having permission issues, hopefully @attwad can help me solve it. Will try asap once I can access again.

[2020-10-05 14:44] rahul18cracker commented on #477
Hi @attwad

Thanks for getting back to me, i have credentials specified in the .env file which is present in the "list/dev" folder as mentioned in the setup for this project. I thought when i put my latest credentials for my AWS Iam user there it would pick up from there. It looks like it's taking from some place else which i am not able to figure out. I tried looking at where this aws config woul

[2020-10-05 14:47] attwad commented on #477
The `/dev/.env` file is used by docker when you run the stack locally but SAM uses a different stack which ignores this env file. So when you talk to amazon it uses the creds usually found in `~/.aws/credentials`, to generate this directory and its content just download the aws CLI and run `aws config`

[2020-10-05 22:21] rahul18cracker commented on #477
Hi @attwad

Thanks i was not aware of this, let me try these steps to see if i can get it to work

Thanks
~Rahul

[2020-10-08 15:22] emcohn opened #1317 "Add BCH Logo to website (required by BCH marketing/comms)"
[BCHlogomotto_horizontal_72dpi](https://user-images.githubusercontent.com/20129383/95479252-8cdd0880-0958-11eb-9572-bfe164430d64.jpg)

[2020-10-08 17:20] calremmel opened #1318 "Colombia parser timing out"
The Colombia parser is continuing to time out during daily ingestion runs.

Other parsers (like Argentina) that have previously timed out have been enabled to complete by reducing the range of the date filter from 7 to 3. We've gone down to 2 in Colombia's case, and it is still not able to run.

Any sense for the best way forward here? Would it make sense to ingest a single day at a time, or perha

[2020-10-08 19:56] z023 commented on #1318
I've just triggered Colombia again to parse data after 1 day ago. If that doesn't work I'm stuck for ideas.

[2020-10-09 09:15] z023 commented on #1306
Another ~300 cases ingested this morning were geocoded as Mexico (upload ID 5f7fb615e78c681006f67b99).
Also still ~200k Argentina cases missing.

[2020-10-09 11:10] fojackson8 commented on #1306
What were the locations of these cases as Mexico? Was it CABA/Buenos Aires again?

[2020-10-09 11:30] z023 commented on #1306
There are 346 which I think are all in Buenos Aires and are being ingested with location name: Argentina, 77724 Playa del Carmen, Quintana Roo, Mexico.

[2020-10-10 22:06] rahul18cracker commented on #477
Hi @attwad

Thanks for the help, i was able to upload it to my local S3 setup bucket now. Would you like me to update the readme for this  using the issue #1236 ?

My successful output

Invoking retrieval.lambda_handler (python3.8)
CommonLibLayer is a local Layer in the template
Building image............
Skip pulling image and use local one: samcli/lambda:python3.8-9576495e2926b8d9e213a58a6.

Mou

[2020-10-10 22:16] rahul18cracker commented on #489
Hi @AnyaLindstromBattle

I was caught up in the local setup for this, now i am able to start injestion function and start the parsing part. Before i start work on this in the git repo just wanted to make sure that you have not committed it ?

If yes then i will claim some other issue

Thanks
~Rahul

[2020-10-10 22:29] rahul18cracker commented on #477
Hi @attwad

I got the parser retrival working but it's pulling the html page from the website . What i expected was it to extract that data from the html page and pack it in Json. I am not sure why this ingestion function wont do that ,do i have to parse this html page using selenium or BeautifulSoup first ?

Thanks
~Rahul

Eg:
I am putting this link
https://extranet.saude.go.gov.br/pentaho/api/re

[2020-10-12 07:29] attwad commented on #477
Yes changing the readme with your new function would be great, thank you.

You need to have a source URL whose content is json or csv yes, the ingestion function just retrieves the content as is it doesn't call out to any other extracting libraries like beautiful soup, this issue is about Ohio case data but you seem to be using a link for Brazil? Why is that?

[2020-10-12 09:59] AnyaLindstromBattle commented on #489
Hi Rahul :) Yes, I have basically finished the Goias parser so if you could tackle something else that would be great. We were trying to bash out all the Brazil ones hence why I poached it from you!

[2020-10-12 13:23] #1270 closed

[2020-10-12 13:23] #1268 closed

[2020-10-12 13:30] #1086 closed

[2020-10-12 13:31] #1085 closed

[2020-10-12 13:31] Mougk opened #1320 "Harmonize all URLs across Map, List and Website"
Harmonise all URLs across Map, List and Website.

[2020-10-12 13:44] #622 closed

[2020-10-12 13:51] AnyaLindstromBattle commented on #481
heya - Japan parser seems to work locally. Checked source URL though and looks as though they are different again. This is the one that I was using during local testing: https://data.covid19japan.com/patient_data/latest.json

[2020-10-12 14:38] rahul18cracker commented on #477
Hi @attwad

I dont have a function where i have done these changes, let me look at putting this to a function for that issue. I just made local changes to check if i can get the stack to work.

I was trying to see how to read 3 different types of formats. I see that in the video examples json is used, here it's csv which is also easier with this retrival function. How do you guys do it for HTML pa

[2020-10-12 14:40] rahul18cracker commented on #489
Hi @AnyaLindstromBattle

Thanks for the confirmation, i would switch to something else. I am very new to this, have a basic question. This is a HTML page and i see the retrival function extract data from json URl's or CSV URl's. How did you do this HTML case without using BeautifulSoup or Selenium type tools ?

Can you please point me to your code ?

Thanks
~Rahul

[2020-10-12 15:30] z023 commented on #481
With the previous source I was using (https://raw.githubusercontent.com/reustle/covid19japan-data/master/docs/patient_data/$FULLYEAR-$FULLMONTH-$FULLDAY.json) we had to add in the date filter into the file name as it was separate files for each day. But looking at the source url you just sent I don't think I need to add that in. I just ran Japan with https://data.covid19japan.com/patient_data/late

[2020-10-12 15:44] AnyaLindstromBattle commented on #481
Hmmm I wonder if it might be because the two additional SourceUrls are the same? @calremmel what do you think? The actual entry looks fine to me.

[
        {
            "code": 121,
            "index": 0,
            "errmsg": "Document failed validation",
            "op": {
                "q": {
                    "caseReference.sourceId": "5f61fa80361939e32e4c331d",
                    "ca

[2020-10-12 15:57] Mougk opened #1322 "Devise ToS and Privacy Policy"
Devise ToS and Privacy policy:

Terms of Service
Users: Agreement for access to global.health website / visuals and dataset. Between BCH and Users)
Curators: (Agreement between BCH / University and curators for the data entry intro G.h curator portal)

Privacy policy (required because data is collected)
Users: privacy policy across: Website / Visuals and Dataset
Curators: privacy policy across cur

[2020-10-12 15:59] Mougk opened #1323 "QPS Website, Curator Portal, Map"
Get sense of QPS for

Website, Curator Portal and Map Viz before launch.

[2020-10-13 08:33] attwad commented on #477
Sources should use structured data whenever possible, parsing html is going to be really flaky, if the first link Graham provided is offline now perhaps Ohio offers a new dataset we just have to find it.
https://github.com/globaldothealth/list/issues/477#issue-654123735

[2020-10-13 08:34] attwad commented on #477
Also Brazil is already behing parsed for some states using structured data, please keep this issue to its original Ohio case.

[2020-10-13 22:43] gtuli commented on #1320
Hi Moritz,
Can you please elaborate the issue a little bit? Thank you!

[2020-10-14 01:34] JaredHawkins commented on #1320
Just making sure that the main site (global.health), the curator portal, the map and the list all use global.health domain structure for launch.

[2020-10-14 14:51] #1205 closed

[2020-10-14 18:07] gtuli commented on #1320
Thank you, Jared!
For that I would need to know how and where curator portal (https://curator.ghdsi.org/) is hosted. Can anyone here provide me the details where are we hosting the static website content for curation portal? Perhaps @rkassa??

We are using s3 buckets for covid-19.global.health and h1n1.global.health production. I don’t see a S3 bucket for curation tool under healthmap-collaborator

[2020-10-14 18:28] gtuli commented on #1320
Also, should we change https://curator.ghdsi.org to curator.global.health or covid-19-curator.global.health or anything else? One ore thing to notice here is global.health uses http and not https.

[2020-10-14 18:34] Mougk commented on #1320
Https ideally and why not global.health/list ?

[2020-10-15 01:33] axmb commented on #1318
Looking at the logs for the function -- we attempt to filter the cases by date, and there's no more progress reported after that. Later on in logs, we can see the function's consumed the entirety of its allocated memory.

[code]

I'll bump the memory allocation a bit. IIRC, we purposefully don't load the entirety of CSV data into memory, but this seems like a good first step regardless.

[2020-10-16 20:15] calremmel commented on #1318
Thanks so much for giving this a look! It does appear to have solved the issue, with 308 MB used in the end...

...though now the most recent cases in the dataset were posted on 10-02-2020, so it's still not uploading cases for that reason! That bears some investigation for the source - hopefully their update schedule is just in chunks of dates.

No longer timing out, so I think we're good here. T

[2020-10-16 20:15] #1318 closed

[2020-10-20 07:50] iamleeg commented on #480
@calremmel still seeing a similar error today:

        {
            "timestamp": 1603162939470,
            "message": "[ERROR] KeyError: '08113'\nTraceback (most recent call last):\n  File \"/var/task/mexico.py\", line 201, in lambda_handler\n    return parsing_lib.run_lambda(event, context, parse_cases)\n  File \"/opt/python/parsing_lib.py\", line 307, in run_lambda\n    common_lib.complete_wi

[2020-10-20 07:59] iamleeg opened #1327 "Automatically link AWS logs to failed upload/ingestion"
**Is your feature request related to a problem? Please describe.**
There's a manual sequence to get the errors out of AWS CloudWatch when a parser step fails, which is slow and cumbersome. Also, not all contributors have access to the AWS console. It'd be a better experience for the parser library to, assuming the failure it experienced doesn't block this, fetch the log stream from CloudWatch when

[2020-10-20 15:20] calremmel commented on #480
@iamleeg This PR should be the solution: https://github.com/globaldothealth/list/pull/1311
I think everyone who is going to review it probably has. Any other steps before merging?

[2020-10-20 15:36] iamleeg commented on #480
Nope, sorry, hadn't noticed it was still waiting on merge, I've done it (in general merging after review is fine, I often wait for a second opinion when I'm not very familiar with the code and then forget to press the button!)

[2020-10-20 15:54] iamleeg commented on #495
Now seeing this parser fail because:

        {
            "timestamp": 1603195548415,
            "message": "[ERROR] KeyError: 'start'\nTraceback (most recent call last):\n  File \"/var/task/amapa.py\", line 180, in lambda_handler\n    return parsing_lib.run_lambda(event, context, parse_cases)\n  File \"/opt/python/parsing_lib.py\", line 307, in run_lambda\n    common_lib.complete_with_error(\n

[2020-10-20 16:03] iamleeg commented on #495
OK, I'm talking to myself, but this is indeed what's happening. There are rows in the database with the date "None 12:30:00" which the parser can't cope with. @Mougk @z023 what should happen in that case? Do we drop the cases? They have demographic and test information but no usable date.

[2020-10-20 16:04] Mougk commented on #495
if no usable date, remove.

[2020-10-20 16:22] iamleeg commented on #495
Ah, they've also changed their date format: the e2e test uses "2020-04-21T03:00:00.000Z" and the download now contains "2020-06-23 12:30:00". I can change that but it'll be a while as I replace @AnyaLindstromBattle's e2e test setup with a new one.

[2020-10-20 16:31] z023 commented on #1016
I was checking through the ingested cases for verification and picked a few unique IDs at random and noticed the demographic information being ingested is totally different to what it should be from looking at the original dataset. Also confirmed by Moritz and David.

Here is an example of one ID and what has been ingested.
<img width="1005" alt="Screenshot 2020-10-20 at 17 17 05" src="https://use

[2020-10-20 17:04] z023 commented on #495
There are quite a few different times. Is this problematic?

[2020-10-20 17:24] iamleeg commented on #495
@z023 I just downloaded the CSV and all of the dates are in the format yyyy-mm-dd hh:mm:ss (and actually all of the specific times are 12:30:00): do you see something different? Maybe they change the formats fairly frequently.

[2020-10-20 17:46] z023 commented on #495
I just downloaded the CSV earlier and mostly they are T03:00:00 but I can see a fair few different times

![Screenshot 2020-10-20 at 18 44 36](https://user-images.githubusercontent.com/65172419/96624262-6a59d080-1304-11eb-8764-5884dccb3db9.png)

[2020-10-21 08:17] iamleeg commented on #495
Ah, OK, I'll support both. Weird that we saw different formats in such a short time.

[2020-10-21 08:41] AnyaLindstromBattle commented on #495
Hi both, thanks for working on this yday, was on holiday hence the radio silence from me. Working today though so ping me if anything.

[2020-10-21 08:47] AnyaLindstromBattle opened #1329 "Sort out validation error in Japan parser"
I know we've already discussed this on slack but thought I'd open an issue for completeness sake after our meeting on Monday. As discussed let me know on here if the issue is on the parser side.

[2020-10-22 14:13] iamleeg opened #1332 "Backfill errors always reported as timeouts, never as errors"
**Describe the bug**
I triggered a backfill for a small amount of data and looked in the aws logs. There was an error very quickly reported in the logs, but nothing on the UI for 20 minutes until the timeout message occurred.

**To Reproduce**
Steps to reproduce the behavior:
1. Navigate to curator.ghdsi.org
2. Use the + button to add a new source backfill
3. Set the URL and date range
4. Start th

[2020-10-23 17:33] AnyaLindstromBattle commented on #499
@iamleeg To follow up on my slack message, the re-write I mentioned above has been done. I.e. the current Paraiba parser has been re-written to parse data from the new URL above. Guess this is a point when opening/closing issues as we discussed would have been useful to maker what has and hasn't been done clearer.

[2020-10-23 17:49] AnyaLindstromBattle commented on #499
See #1269

[2020-10-25 22:10] rahul18cracker commented on #477
Hi @attwad

I started to look at this csv file for Ohio case data and followed this link to convert CSV to the JSON format to make sure ingestion functions can read this. I am a bit stuck again where

https://github.com/globaldothealth/list/blob/main/data-serving/scripts/convert-data/README.md

Here it's asking to use a source id to trigger the specifc request and convert the CSV data to JSON form

[2020-10-26 08:29] attwad commented on #477
Sorry I'm not sure I follow you anymore, why are you manually converting ohio case data to json? The convert_data.py script you seem to be referring to is used to convert spreadsheet data from an old system it's not a generic convert-anything script.
Please kindly indicate where you're getting the ohio data from and let's try looking for a structured version of it, I haven't seen any official sour

[2020-10-26 14:17] rahul18cracker commented on #477
HI @attwad

I looked at the link in the issue https://coronavirus.ohio.gov/static/COVIDSummaryData.csv and on downloading this file i see it's not in the structure/format what alex highlights in the tutorial videos or what other parsers are expecting. The data in this CSV file contains different fields. I see that you have mentioned that this link seems offline, not sure what you meant. Was it tha

[2020-10-26 14:26] attwad commented on #477
This is what I see on that link:
![image](https://user-images.githubusercontent.com/1255432/97184398-243abc00-179f-11eb-975e-13b0f85b615c.png)
but it seems to be indexed by google search properly so perhaps that's just a (stupid) geographical restriction that's set up and I'm unable to see the files... I've asked US-based folks to check that link for me.

If all sources were using the same CSV fie

[2020-10-26 16:56] rahul18cracker commented on #477
Thanks i will convert it to that format from the CSV, i think it's location based filtering that you cannot see that data.

[2020-10-26 22:08] calremmel commented on #1329
Hi folks, in looking through this it looks like four cases are failing validation when they make it to MongoDB. It's not immediately obvious why!

For context, here's the link to the json schema, and here's one of the cases failing validation:

Schema: https://github.com/globaldothealth/list/blob/main/data-serving/data-service/schemas/cases.schema.json

Example Case:
[code]

I'll continue to look

[2020-10-27 11:16] AnyaLindstromBattle commented on #1329
The only thing that I can think of is that the additionalSources are both the same and this is confusing the validation somehow... Is this the same for the other three cases which are failing?

[2020-10-27 11:46] iamleeg commented on #1329
That is definitely a problem, the schema says that `additionalSources` has unique items. If you don't need to preserve the order of additional sources, a quick way to guarantee uniqueness is to turn the list into a set then back again:

[code]

[2020-10-27 11:53] AnyaLindstromBattle commented on #1329
Ok nice one, will tackle on Thursday when I'm doing G.h work if not already done

[2020-10-27 13:39] calremmel commented on #480
This is now working! Thanks to you all.

[2020-10-27 13:41] calremmel commented on #1016
Peru is now also throwing an error, which I'll include below. I'll give this all a look today, Please let me know if you have any thoughts!

[code]

[2020-10-27 13:57] calremmel opened #1333 "Change Mexico and RGDS date filter ranges to 3 days"
The Mexico and RGDS parsers are both timing out, I believe simply due to size.

`2020-10-26T19:07:58.653Z 06989007-99e9-4afa-bb3d-ce6c801750ca Task timed out after 900.10 seconds`

Currently, the date filter for Mexico is set to 7 days, and the date filter for RGDS does not appear to be set.

Mexico:
`Filtering cases using date filter {'numDaysBeforeToday': 7, 'op': 'GT'}`
RGDS:
```Extracting fiel

[2020-10-28 12:17] z023 commented on #1333
I have changed Mexico and RGDS to parse data after 3 days ago so I'll see if that works.

[2020-10-29 10:30] AnyaLindstromBattle opened #1336 "Peru ingestion error"
Just thought I'd create an issue as Peru has suddenly started appearing in the parser error log. From the error message it looks as though there may be a case with a missing 'UUID' entry.

[code]

@fojackson8 have tagged you in this as you wrote the parser but let me know if you want me to tackle this.

[2020-10-29 11:00] #1329 closed

[2020-10-29 14:16] emcohn commented on #1323
From Tim:

I did some very basic tests here: https://github.com/globaldothealth/list/issues/1263
and documented the results here: https://github.com/globaldothealth/list/tree/main/loadtest

The big caveat here is that the load test was done on the dev instance which has a less optimal DB placement so you can probably increase the numbers for prod by some margin.

[2020-10-29 15:12] AnyaLindstromBattle opened #1338 "Issue with Acre data source"
Acre parser is read to roll (with de-duplicated data) but now the source seems to be down with http://covid19.ac.gov.br/monitoramento/notificacoes/csv returning Internal Server Error. I have some datasets that I downloaded before the website stopped working, I don't know if it might be worth getting the parser up and running using this dataset first (i.e. just one ingestion event as opposed to hav

[2020-10-29 16:02] z023 commented on #1338
If we get the backfill system sorted I could set this up as a backfill. Otherwise, I think we should continue getting the current sources working first before setting up more.

[2020-11-02 17:08] AnyaLindstromBattle opened #1345 "Some Japan cases ingested as Indonesia"
Some cases (approx 750) in Japan data geocoded to Japan, 61361, Sooko, Mojokerto, East Java, Indonesia

From looking at the data it seems all of the cases which are geocoded as Indonesia are 'Port Quarantine' cases and so do not have any other location information other than 'Japan' e.g.
  {
    "patientId": "11098",
    "dateAnnounced": "2020-07-12",
    "ageBracket": 20,
    "gender": "F",
    "

[2020-11-02 17:12] Mougk commented on #1345
I think we want to keep even country level if demographic data is provided.

[2020-11-05 14:57] calremmel commented on #1333
This appears to have solved things! Thanks, Zoe.

[2020-11-05 14:57] #1333 closed

[2020-11-06 10:52] AnyaLindstromBattle opened #1346 "Create a library of functions used in all Brazil parsers"
A lot of functions and data dictionaries are used across the Brazil parsers. A common file would be good to avoid duplication.

[2020-11-06 12:06] AnyaLindstromBattle commented on #1345
My understanding is that in the `detectedPrefecture == Port Quarantine` case the below function will return `,Port Quarantine, Japan`. However what I don't understand is why that is then converted to `Japan, 61361, Sooko, Mojokerto, East Java, Indonesia`. I guess this must have something to do with how the geocoding works, perhaps partly because it doesnt recognize Port Quarantine as a location -

[2020-11-06 13:14] iamleeg commented on #1345
When I try the map box geocoding playground, a search for "Japan" yields the country first, and that district in East Java second. It's probable that adding "Port Quarantine" changes the way it fuzzy-matches, and swaps the order of the results. The easiest thing to try is to omit "Port Quarantine" if that's found in the input, and see if that corrects the returned result.

If it doesn't, then we c

[2020-11-06 17:59] z023 opened #1348 "Thailand date format changed, parser needs amending"
The last new case ingested was 7th Sept. From the 18th Sept the date format in the original dataset now seems to be in the year 2563 rather than 2020 which is probably why they aren't being ingested (see file). The day and month look right. Not sure why cases between 7th and 18th Sept haven't been ingested.

The parser will need changing to allow for the weird dates.

[pm-covid19-adj.xlsx](https:/

[2020-11-06 21:16] Mougk opened #1349 "USA Data Importer"
United States data from CDC available.

https://data.cdc.gov/Case-Surveillance/COVID-19-Case-Surveillance-Public-Use-Data/vbim-akqf

Data include patients onset data, when it was entered in the database, age, sex, race, ...

[2020-11-10 08:38] #1345 closed

[2020-11-10 08:39] #1336 closed

[2020-11-10 15:55] rpoltorak opened #1350 "Search is crashing the app while using the pagination in Line List view"
**Describe the bug**
We've found a problem with the line list pagination. It occurs when I switch to a page other than the first one and try to search for something.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the Line List view.
2. Change a page to the second one.
3. Put something in the search input.
4. Hit enter.
5. See the white screen.

**Expected behavior**
A user should be r

[2020-11-13 12:32] AnyaLindstromBattle commented on #1338
Link works again

[2020-11-13 12:32] #1338 closed

[2020-11-16 17:28] z023 opened #1354 "How to deal with India duplicates"
I have worked out where the duplicates are but it's not quite a simple fix. When I download the ingested data the ones with duplicates seem to have 2 different outputs in the events column which I have highlighted in an example below. The longer output is the correct one and the ID of the duplicate seems to just be given an ID number beginning with P. But this doesn't mean that all the shorter out

[2020-11-17 10:37] iamleeg opened #1355 "Not clear when a parser had 0 new cases to deal with."
**Describe the bug**

A couple of times I've been asked what's wrong with a parser not adding new cases and not reporting an error, when the situation is that the source data did not contain any cases matching the date filter criteria. I don't necessarily see information about those in the uploads dashboard (for example, the Colombia parser last ran on 16th November, "successfully" uploaded 0 reco

[2020-11-18 02:09] rkassa commented on #1317
Closing this issue as BCH Logo is already on the marketing/comms website

(cc: @scarpino)

[2020-11-18 02:09] #1317 closed

[2020-11-18 02:26] rkassa commented on #1102
All fonts are set to "Inter" on G.h Map

(cc: @scarpino )

[2020-11-18 02:26] #1102 closed

[2020-11-18 07:43] WeronikaMichaluk commented on #1283
Information from Chris:
We would like to add the following columns:

1. latitude location.geometry.latitude
2. longitude location.geometry.longitude
3. hospitalization date events
a. where name = hospitalAdmission
4. date of symptom onset events
a. where name = onsetSymptoms

The last two will not be present for every record. Some sort of N/A or blank may be displayed where those are not present.

[2020-11-18 07:46] WeronikaMichaluk opened #1357 "As a User I want to come back to home screen when I click on logo so that I can start new search"
**Acceptance criteria:**

After the user clicks on the logo he gets back to the home screen.

After the user clicks on the home logo we reset all search settings.

**Note**: Feature from HTD suggestions

[2020-11-18 07:49] WeronikaMichaluk commented on #1119
BCH has to set up an account on https://www.iubenda.com/en/  and generate code;
HTD will check the source code of that integration;

GDPR compliance (cookie?);  BCH to provide all information
Someone from the organization has to create an account and generate a proper code to set this up.

[2020-11-18 07:51] WeronikaMichaluk opened #1358 "Create Privacy Policy pop-up"
Similar to [GDPR compliance pop-up](https://github.com/globaldothealth/list/issues/1119)
BCH to set up an account on https://www.iubenda.com/en/  and generate code;

Design of pop up needed.

User preferences will be stored (see issue #1098)

[2020-11-18 07:52] WeronikaMichaluk commented on #1013
Add 3 vertical dots next to the check box;
Need to find a way to mark an individual row to not only be removed ut to be reingested.

Maybe take case ID in the dropdown for curators only should be something like “add to restricted/excluded list”

**Next steps:**

Christopher Remmel gathers more information about what current curators are doing now. Will ask people familiar with the architecture.

H

[2020-11-18 07:53] WeronikaMichaluk commented on #1320
What service is used to manage domains? (AWS etc.?) → Christopher to check and confirm.

Will need access to these services.

What exactly do we want to do with that domain? Do we have 1 domain or multiple ones?

1 main domain and many subdomains. Chris to check and update us.

[2020-11-18 07:55] WeronikaMichaluk opened #1359 "As a user, I want to be able to see tooltip when click on "?" to be able to see search syntax"
**Acceptance criteria:**

Once users click on the “?” tooltip does not disappear, it stays on the screen.

Users can move tooltip around because it can sometimes overlay important information.

The tooltip has an “x” exit option to hide it.

Note: feature suggested from HTD, accepted by BCH

Original source: #1215

[2020-11-18 07:57] WeronikaMichaluk commented on #992
**Acceptance criteria:**

Next to the “?” icon will insert text: “Search Guide”

Search Icon and text “Search Guide” to be placed between the filter button and search input.

Look of the tooltip as described in GH-2.

[2020-11-18 07:59] WeronikaMichaluk opened #1360 "Search is crashing the app while using the pagination in Line List view"
Describe the bug
We've found a problem with the line list pagination. It occurs when I switch to a page other than the first one and try to search for something.

To Reproduce
Steps to reproduce the behavior:

Go to the Line List view.
Change a page to the second one.
Put something in the search input.
Hit enter.
See the white screen.
Expected behavior
A user should be redirected to the first page

[2020-11-18 08:01] WeronikaMichaluk commented on #1015
HTD need to see an example during the call to better understand the task

What is expected and what do you receive. Examples when there is not an empty array.
turn it into a comma-separated string?
turn each existing symptom into a column?

Chris to check and update us on it.

[2020-11-18 08:57] Mougk opened #1361 "Add new blog post to marketing website"
We have a new blog post which can be added to the media links.

https://blogs.lse.ac.uk/impactofsocialsciences/2020/11/17/the-need-for-open-data-sharing-in-the-era-of-global-pandemics/

[2020-11-19 09:49] AnyaLindstromBattle opened #1364 "Change Amapa URL and data format"
Data format of Amapa has changed, as has the URL to get data between July and September into the database. I need to change the parser to deal with the new data format and provide a new link for automated ingestion. Once this is done, we will have to wait for backfilling to work in order to get this new data into the system.

[2020-11-19 11:32] AnyaLindstromBattle opened #1365 "JSONDecodeError for Japan"
The error message reads [ERROR] JSONDecodeError: Unterminated string starting at: line 1453811 column 18 (char 48718748)

However if I go to the specific download which triggers the error, there is no unterminated string (line in question in bold).

  {
    "patientId": -1,
    "dateAnnounced": "2020-11-17",
    "ageBracket": 70,
    "gender": "M",
    "detectedPrefecture": "Tokyo",
    "patientSt

[2020-11-19 15:45] AnyaLindstromBattle commented on #1364
I have created a PR for the new Amapa data. Once backfilling is sorted we will have data up until 29th September 2020. However someone will have to keep an eye on the data source, the data only seems to be updated occasionally, and we will then have to update the URL.

@z023 the new link is https://drive.google.com/uc?export=download&id=1_BcEumgJRFQ52PBiKUGrp_ik6na2bVPz

[2020-11-19 16:39] AnyaLindstromBattle commented on #1354
Ok so to me there seems to be two issues here.

The first involves duplicates where one includes a hospital admission and the date of hospital admission, whereas the other only includes whether there was a hospital admission or not. A few questions/points here:

(a) how confident can we be that all of these are actually duplicates? For the two you highlighted, I checked the notes column and these

[2020-11-19 17:05] AnyaLindstromBattle commented on #1348
Interestingly, there is a 543 years difference between the Buddhist calendar and the Gregorian calendar. This year 2020 in Europe is year 2563 in Thailand.

So they must have switched calendars halfway through! Will amend in the parser so that if a year after 2540 is reported, the actual year should be the year reported minus 543.

[2020-11-19 21:54] calremmel commented on #1365
Hmm interesting, I'll give this a closer look tomorrow. Thanks, Anya!

[2020-11-20 11:25] #1283 closed

[2020-11-20 11:25] #1006 closed

[2020-11-20 11:30] z023 commented on #1354
The age, gender, location and notes are exactly the same so I'm very confident they are duplicates. I went through the first India .csv and identified which duplicate ID is for which case ID.

There are 13 duplicates in the original first .csv dataset. There are 672 ingestion duplicates.

[2020-11-20 13:19] AnyaLindstromBattle commented on #1354
Cool, thanks, so if they really are duplicates we should look into a strategy for removing them. One option is at the ingestion stage as I mentioned above but I think I would need some input from @iamleeg or @calremmel on this. Maybe we can have a discussion about this and whether it seems like a feasible solution or whether manual curation may actually be the best way forward. Will follow this up

[2020-11-20 15:57] iamleeg commented on #1354
Agreed this will need some subtle thinking as it potentially changes the design of parsers quite fundamentally (they might need a history to decide whether they've already "seen" a case, which has memory/time implications).

[2020-11-20 15:58] #1364 closed

[2020-11-20 16:02] AnyaLindstromBattle commented on #1365
Latest ingestion events seem to have worked! Could this have been a one-off thing?

[2020-11-20 22:52] calremmel commented on #1013
Shape of a proposed solution @WeronikaMichaluk @gtuli:

1. For each raw data source, store information about cases to be excluded.
  1a. For sources **with IDs**, record the IDs.
  2a. For sources **without IDs**, store the entire row/record.
2. For each parser, if any case is in the associated set for exclusion, do not parse case.
  2a. Cases to search may be filtered by date in order to reduce n

[2020-11-22 21:13] z023 commented on #1013
I think it'll mostly be excluding cases from sources **with** UUIDs.

[2020-11-23 16:49] #1360 closed

[2020-11-23 18:48] MarkOglia-IDHA commented on #1119
**PRIVACY POLICY LINK - Place this code in the <body>, where you want the link to appear:**

<a href="https://www.iubenda.com/privacy-policy/89575059" class="iubenda-white iubenda-embed" title="Privacy Policy ">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.

[2020-11-24 08:04] #1015 closed

[2020-11-24 17:33] MarkOglia-IDHA commented on #1119
I have updated the instructions text file by removing the Terms and Conditions requirements while I check with the third-party solution on the issue we've seen. Please implement just the cookie banner, privacy policy link, and cookie policy link per the updated instructions. Thank you!
Mark
[gdpr-instructions-20201124.txt](https://github.com/globaldothealth/list/files/5591659/gdpr-instructions-202

[2020-11-24 22:18] calremmel commented on #1320
@WeronikaMichaluk I believe I have the missing piece: ghdsi is an AWS EKS kubernetes cluster:

https://github.com/globaldothealth/list/tree/main/aws

I think you should have all of the necessary secrets to work with this, let me know if there are any missing pieces!

[2020-11-25 19:45] rpoltorak commented on #1013
According to our discussion from yesterday, we would like to describe the shape of the solution @calremmel @iamleeg:

The first part of the task is to handle the "ideal" path to deal with the sources that have records with unique IDs.
This scope of that part could be divided into two following parts:

### 1. Exclusion
This is a process when the curator excludes a particular case.

#### User storie

[2020-11-26 05:43] calremmel commented on #1013
@rpoltorak Thanks for all of your hard work on this! Just writing to let you know that I've seen this and will get you some answers tomorrow morning EST when I can. The shape of things at a glance looks good.

@iamleeg If you have a chance to give the questions a look before I get to it, please feel free.

For question 1, I believe the answer is yes as well but would need to check for the details.

[2020-11-26 09:27] iamleeg commented on #1013
Looks great! I think there's a missing story: as a curator, I want to re-include a case that has previously been accidentally excluded, or where the exclusion is no longer appropriate.

1. yes it is, the parser lib already uses the upsert API for pushing parsed cases to the data service.
2. I agree with @calremmel that this is best done by saving the status in the table.

[2020-11-26 10:49] rpoltorak commented on #1013
Thank you all for your quick insight and response!

Regarding question 2: Ok, so it's decided. We're gonna save the status in the existing "cases" table.

@iamleeg You're totally right, thank you for reminding that. So we need to add the following user story:
- As a user, I want to include the already excluded case, so it will be taken into account in the parsing process once again.

@calremmel @i

[2020-11-26 13:23] WeronikaMichaluk opened #1373 "Implement an endpoint for re-including the cases"
As a part of #1013, the following actions would be needed:

- Introduce a new endpoint to re-include the cases.
- The new endpoint should be implemented in both: curator-service (as a proxy) and data-service.
- The new endpoint should take a collection of cases to re-include:
  - DELETE: `/api/excludedCaseIds`
  - JSON: `{ "cases": [ "mongo uuiid" ] }`
- Change the status of the existing cases in

[2020-11-26 13:24] WeronikaMichaluk opened #1374 "Exclude selected cases from the parsing process"
As a final part of #1013, the following actions would be needed:

- Find a proper place on the "parse_lib" library level to ignore the excluded cases
- Fetch the excluded cases from the data-service new endpoint
- Match and exclude cases from the parsing process.

TBD: add more details.

[2020-11-26 13:24] WeronikaMichaluk opened #1375 "Implement an endpoint for excluding the cases (and changing other statuses)"
As a part of #1013, the following actions would be needed:

- Introduce a new endpoint to change status of multiple cases (including excluding them).
- The new endpoint should be implemented in both: curator-service (as a proxy) and data-service.
- The new endpoint should take a collection of case IDs to change status of, along with note (applicable only for exclusion):
  - POST: `/api/cases/batch

[2020-11-26 13:25] WeronikaMichaluk opened #1376 "Handle excluded cases in curator portal (UI)"
**Note:**
This is a front-end part of #1013.

**User stories:**
- As a user, I want to exclude a selected one or more cases from the list, so they can be ignored in the parsing process.
- As a user, I want to re-include a selected one or more cases from the list, so they can be re-included again in the parsing process.
- As a user, I want to write a note about the excluded cases, so I can later ch

[2020-11-26 13:28] WeronikaMichaluk commented on #1376
https://github.com/globaldothealth/list/issues/1013

[2020-11-26 13:28] WeronikaMichaluk commented on #1375
https://github.com/globaldothealth/list/issues/1013

[2020-11-26 13:28] WeronikaMichaluk commented on #1373
https://github.com/globaldothealth/list/issues/1013

[2020-11-26 13:28] WeronikaMichaluk commented on #1374
https://github.com/globaldothealth/list/issues/1013

[2020-11-26 16:09] rpoltorak commented on #1376
@WeronikaMichaluk Changed the issue description, so we could work on #1013 simultaneously.

[2020-11-26 16:13] rpoltorak commented on #1375
@WeronikaMichaluk Changed the issue description, so we could work on #1013 simultaneously.

[2020-11-26 16:17] rpoltorak commented on #1374
@WeronikaMichaluk Changed the title and description, so we could work on #1013 simultaneously.

[2020-11-26 16:23] AnyaLindstromBattle commented on #1354
@outbreakprepared thought it may be useful to bring you into this conversation. We've had a few discussions on slack so just to update you:

Zoe brought to my attention some issues regarding data duplicates in the India dataset. Briefly, it seems there are duplicates where all fields are identical apart from the events where one of the duplicates provides a date of hospitalization whereas the othe

[2020-11-27 08:51] iamleeg commented on #1013
1. yes, sounds good.

2-5 all sound like questions for the domain expert curators @Mougk @z023 @SandraAdele so I won't speak for them. I'll note that because we use the [document version pattern](https://www.mongodb.com/blog/post/building-with-patterns-the-document-versioning-pattern) the date/time at which an exclusion is added or removed would automatically be recorded in the database, so the qu

[2020-11-27 09:03] Mougk commented on #1013
_Do we need to save the date of the exclusion and show it in the tooltip mentioned in the previous question? We think that additional information about the date could be helpful to the curator. What do you think?_

Yes

_There is another thing that came to our mind about the excluded cases. Do you think it would be helpful to have some kind of switch in the UI (or another filter) so the curator ca

[2020-11-27 09:05] #1359 closed

[2020-11-29 10:50] z023 commented on #494
Set up source but got an error in the upload. Upload ID 5fc37aafe78c686831f68d21

[2020-11-29 10:53] z023 commented on #492
Set up source but got an error in the upload. Produced 2 uploads. One pload ID 5fc37c72b5daec10755d338f.

[2020-11-29 10:53] z023 commented on #494
Produced 2 uploads.

[2020-11-29 13:34] Mougk commented on #517
@AnyaLindstromBattle cases noted as 'immigrant' are currently not considered to have travel history. From my understanding in the raw data these are imported cases and should probably be labeled as such. Can you take a look?

[2020-11-30 11:14] z023 commented on #480
@calremmel Mexico doesn't have UUIDs in the ingested data but isn't ID_REGISTRO the unique ID?

[2020-11-30 14:16] z023 commented on #1016
@fojackson8 Could you take a look at the parser code? Peru is ingesting fine but the demographic information is coming through totally different to the original dataset when comparing UUIDs, as indicated above.

[2020-11-30 15:22] rkassa commented on #1114
Closing this as suggested changes are resolved.

Handling any further copy changes separately.

[2020-11-30 15:22] #1114 closed

[2020-11-30 15:29] rkassa commented on #1255
@scarpino @joe-brilliant

There was no real "Press" section during the design process, AFAIK, other than the NYT panel on the About page.  Happy to improvize a solution, of course. Do we have a particular blurb/quote for the Science Mag and Independent articles?

Otherwise, the NYT quote is now linked and fixed.

[2020-11-30 15:31] rkassa commented on #1251
@joe-brilliant @scarpino

ToS is done here: https://dev-globalhealth.pantheonsite.io/terms-of-use/

Need copy for PP, though.

[2020-11-30 15:32] rkassa commented on #1256
This is resolved unless there are additional copy changes. Closing.

@joe-brilliant @scarpino

[2020-11-30 15:32] #1256 closed

[2020-11-30 15:45] rkassa commented on #1253
@joe-brilliant @scarpino

Thsi is resolved

Handing PP content in #1251

[2020-11-30 15:45] #1253 closed

[2020-11-30 18:04] fojackson8 commented on #1016
@z023 good spot. The dataset was changed recently on their side which caused the parser to break. I updated the parser, but have compared the most recent dataset to the previous one and indeed the UUIDs correspond to different cases in the two datasets. So I don't think its a parser error, but just reflects a UUID update from the source. It does however call the UUIDs into question..
@Mougk @calre

[2020-11-30 18:24] #490 closed

[2020-11-30 19:08] calremmel commented on #1376
I think this is very thorough, looks great!

For the TBDs:

I think this is a great idea. If it's not a ton of extra work, I can see this being very useful to curators.

This also makes good sense to me. Thank you!

[2020-11-30 19:09] calremmel commented on #1375
Makes sense, thanks! Please let me know if you need more direct mongodb access than you have currently.

[2020-11-30 19:10] calremmel commented on #1373
As with its partner, makes sense to me! Please let me know if you need more mongodb access.

[2020-11-30 19:10] z023 opened #1380 "'Events' columns empty in line list download"
When downloading data from the UI line list all the events columns are empty so no confirmation date or hospital admissions etc. are coming through. Could have been an issue when the events column was re-configured to separate columns?

[2020-11-30 22:04] joe-brilliant opened #1381 "Create G.h homepage hero section to embed forthcoming explainer video"

[2020-11-30 22:38] joe-brilliant commented on #1381
https://docs.google.com/document/d/1sZklXiZosHgvnsflz7ZlPNv0Tvx0kdeeD2UBlXtoQ7U/edit?disco=AAAAKrLjw0Y

[2020-11-30 22:43] joe-brilliant opened #1382 "Create press section to house current and future articles"
A possible design approach discussed with @rkassa could be a rotating carousel starting with the NYT quote/link.

Gdoc copy deck discussion and links to all current press
https://docs.google.com/document/d/1sZklXiZosHgvnsflz7ZlPNv0Tvx0kdeeD2UBlXtoQ7U/edit?disco=AAAAHVK46ZE

[2020-11-30 22:49] joe-brilliant opened #1383 "Update Team page with modular and modifiable sections, including volunteers (section headers and members TBD)"
Link to Gdoc copydeck discussions:

https://docs.google.com/document/d/1sZklXiZosHgvnsflz7ZlPNv0Tvx0kdeeD2UBlXtoQ7U/edit?disco=AAAAHVK46bU

https://docs.google.com/document/d/1sZklXiZosHgvnsflz7ZlPNv0Tvx0kdeeD2UBlXtoQ7U/edit?disco=AAAAHVK46bc

[2020-11-30 22:53] joe-brilliant commented on #1383
WIP list of volunteers per @Mougk https://docs.google.com/document/d/1sZklXiZosHgvnsflz7ZlPNv0Tvx0kdeeD2UBlXtoQ7U/edit?disco=AAAAK3E7Uiw

[2020-11-30 22:57] joe-brilliant opened #1384 "Create persistent website footer with the following elements + links"
[Footer]

[G.h | a Data Science Initiative]

Terms of Use
Privacy Policy
FAQ
Contact Us
[Twitter logo]
[LinkedIn logo]
[[GitHub logo](https://github.com/globaldothealth)]

Copyright 2020, Global.health

[2020-11-30 23:25] #563 closed

[2020-11-30 23:25] #513 closed

[2020-11-30 23:27] #504 closed

[2020-11-30 23:28] #498 closed

[2020-11-30 23:44] calremmel commented on #1380
@rpoltorak Hi Remek! What do you think about this? Is this just because we haven't pushed some crucial piece to production?

[2020-12-01 00:32] rpoltorak commented on #1380
@calremmel First thing that comes to my mind is that:
1. We've changed that file: https://github.com/globaldothealth/list/blob/main/data-serving/scripts/export-data/case_fields.yaml which is responsible for specifying which fields should be taken into account while exporting.
2. The problem is that the backend (data-service) and mongo script uses the direct link from the GitHub (mentioned above).

[2020-12-01 05:51] rkassa commented on #1381
homepage is updated with placeholder video, @joe-brilliant

[2020-12-01 12:07] rpoltorak opened #1385 "Implement an endpoint for fetching the excluded case ids."
As a part of #1013, the following actions would be needed:

- Introduce a new endpoint to fetch excluded case ids.
- The new endpoint should be implemented in data-service.
- The new endpoint should return a collection of case ids:
  - GET: `/api/excludedCaseIds`
  - JSON: `{
  "cases": [ "sourceEntryId" ],
}`
- Obligatory filters: sourceId
- Optional filters: dateFrom, dateTo

[2020-12-01 14:43] SandraAdele commented on #497
Error: Request failed with status code 500 when trying to add rate to AWS schedule box

[2020-12-01 14:54] AnyaLindstromBattle commented on #497
Hey Sandra! I'm afraid I'm really not familiar with the curator portal setup, perhaps @z023 @iamleeg @calremmel could help you?

[2020-12-01 20:15] rkassa commented on #1249
@JaredHawkins @joe-brilliant

Logos are all added, in two rows, on the marketing website: https://dev-globalhealth.pantheonsite.io/

[2020-12-01 20:24] joe-brilliant commented on #1249
Looks like logos appear on this login page as well that may need updating (i.e. IHME / UW) https://curator.ghdsi.org/

[2020-12-01 20:30] joe-brilliant commented on #1361
@rkassa if we can add this to the new press carousel we can close this out cc @Mougk

[2020-12-01 20:36] rkassa commented on #1384
@joe-brilliant

marketing website now has global footer.  let me know when content for the "privacy policy," "contact us" and "FAQs" sections are ready though. i think those can be in their respective issue tickets?

[2020-12-01 20:42] rkassa commented on #1382
carousel of press quotes and links (4) are now set up on the About page:
https://dev-globalhealth.pantheonsite.io/about/

[2020-12-01 20:43] joe-brilliant opened #1386 "Rename "List" to "Data" throughout site navigation and URLs"
Per discussions/decisions via @Mougk et al, changing this naming convention to make it more intuitive and self-explanatory. Several areas of the site need may be updated:

- [x] Marketing website header navigation and in-page links: https://dev-globalhealth.pantheonsite.io/
- [x] Currently titled "/List" logged in user page and URLs https://curator.ghdsi.org/cases
- [x] Curator portal https://cura

[2020-12-01 20:43] rkassa commented on #1255
Closing in favor of #1382

(cc: @joe-brilliant @JaredHawkins @scarpino )

[2020-12-01 20:43] #1255 closed

[2020-12-01 20:49] rkassa commented on #1294
Closing this as the changes from this deck on 09/29 were already implemented ✅

[2020-12-01 20:49] #1294 closed

[2020-12-01 21:01] joe-brilliant commented on #1382
Looking good @rkassa ! Maybe good to add quotation marks around the quotes and logos for each news source cc: @Mougk

[2020-12-01 21:07] calremmel commented on #497
Thanks, @SandraAdele ! These issues are really only for problems with the parsing code, not really for problems with the curator portal. For those, it's best to get in touch with @z023 to see how she has solved it before, or open a new issue specifically for the error so we can work on it as a team.

For this, I'd suggest opening a new issue, calling it something "Status code 500 when trying to ad

[2020-12-01 21:08] calremmel commented on #1380
Thanks @rpoltorak! So there's the answer @z023 : this is temporary and will be fixed once we move some of HTD's other fixes to production. May as well keep the issue open for now, but no action needed unless it's still there once we push the new code.

[2020-12-01 23:14] rkassa commented on #1361
This is done, @joe-brilliant ✅

[2020-12-02 10:40] AnyaLindstromBattle opened #1389 "Issue when merging Canada parser"
Hi all,
An issue arose when I merged the Canada parser which was written quite a while back by @yinguohang. It had passed all the tests and been approved by AB but when I merged it there was an error in sam-deploy. See error here https://github.com/globaldothealth/list/runs/1467501031. Any idea why this might have happened?
Thanks.

[2020-12-02 10:43] #502 closed

[2020-12-02 10:44] #489 closed

[2020-12-02 10:44] #481 closed

[2020-12-02 10:44] #495 closed

[2020-12-02 10:44] #499 closed

[2020-12-02 11:07] AnyaLindstromBattle commented on #517
@Mougk you wouldn't happen to know if there was a data dictionary? I assume when you say you want to add travel history you mean that traveledPrior30Days == "Yes" but in the absence of a data dict I can't tell for sure that 'immigrant' means the case travelled in the last 30 days.

[2020-12-02 12:22] z023 commented on #497
@calremmel I have looked back at when this type of error message has come up before and I think, as with most of the Latin America sources, it needs more memory.

[2020-12-02 14:02] Mougk commented on #517
I don't but am reasonably sure that's what it means. cc @outbreakprepared for information.

[2020-12-02 16:37] joe-brilliant commented on #1361
Thanks! I'll close this out

[2020-12-02 16:37] #1361 closed

[2020-12-02 16:41] joe-brilliant commented on #1384
G.h | a Data Science Initiative

- [ ] Terms of Use

- [ ] Privacy Policy

- [ ] FAQ

- [ ] Contact us

- [ ] Twitter

- [ ] GitHub

- [ ] LinkedIn

- [ ]

Copyright 2020, Global.health

[2020-12-02 16:46] joe-brilliant commented on #1384
Added a punch list for footer elements to be added @rkassa. Will add links to as they become avail (FAQs are still WIP)

[2020-12-02 18:22] joe-brilliant opened #1390 "Website visual design fine tuning"
Running punch list of smaller website design elements not captured in other issues

- [x] Increase subheader text font size throughout (e.g. "Get Involved"; "Explore the data"; "Top Stories")
https://docs.google.com/document/d/1sZklXiZosHgvnsflz7ZlPNv0Tvx0kdeeD2UBlXtoQ7U/edit?disco=AAAAKrLjwzA

- [x] Increase size of G.h logo and nav bar icon https://docs.google.com/document/d/1sZklXiZosHgvnsflz7Z

[2020-12-03 14:36] AnyaLindstromBattle commented on #517
@Mougk OK will tackle this now

[2020-12-03 18:03] AnyaLindstromBattle commented on #1389
This has now also happened with merging Para... @calremmel do you think you could take a look as a priority?

[2020-12-03 18:07] AnyaLindstromBattle commented on #1389
And for USA... https://github.com/globaldothealth/list/actions/runs/398981224

[2020-12-04 11:33] #1119 closed

[2020-12-04 11:33] #1358 closed

[2020-12-04 11:34] #1357 closed

[2020-12-04 14:16] calremmel commented on #1389
Looking at this now! Time to check out some error codes...

[2020-12-04 14:24] calremmel commented on #1389
@AnyaLindstromBattle Figured out the problem. If you look at the template.yaml file, for the Estonia parser, there are two layers listed, which provide access to common functions. Everywhere else, there is only one. Because there is some overlap between these two layers, it caused an error.

I'll submit a change for this now, should clear things right up. Until it is merged, feel free to ignore th

[2020-12-04 14:32] AnyaLindstromBattle commented on #1389
Aha excellent, well done and thanks @calremmel !

[2020-12-04 16:21] #517 closed

[2020-12-04 22:04] joe-brilliant opened #1396 "Create email account alias for Contact Us, legal pages, and Get Involved webform"
Current instances where we need email address(es) TBD, possibly info@global.health

- [x] Marketing website + product footer (Contact Us)
- [x] Privacy Policy, Terms of Use, FAQ pages
- [x] Webform on /Get Involved

[2020-12-04 22:26] joe-brilliant opened #1397 "Ensure case counts on website, /data and /list are accurate, consistent, and up to date"
Currently, there are at least three instances of dynamic "case counts". These totals should match and be formatted consistently with commas

Marketing website
![image](https://user-images.githubusercontent.com/74671973/101221244-1f89e300-363c-11eb-80b8-fb225fbb88a9.png)

/Data (formerly "/List")
![image](https://user-images.githubusercontent.com/74671973/101221311-4ba56400-363c-11eb-9114-51da5fc21

[2020-12-04 22:36] joe-brilliant opened #1398 "Create consistent and persistent links between Marketing Website, /Data, and /Map."
Currently there are links from marketing website to /Data and /Map, and a link from /Data to /Map, but no links from /Map to either /Data or website, or from /Map to website. (On /Data and /Map I would expect clicking on the corner G.h logo to take me "home", in this case probably the marketing website)

https://dev-globalhealth.pantheonsite.io/

https://curator.ghdsi.org/cases

http://covid-19.gl

[2020-12-07 04:25] rkassa commented on #1390
3/4 complete @joe-brilliant

[2020-12-07 04:40] rkassa commented on #1383
Grid is setup, @joe-brilliant

Quick request — original images of volunteer headshots, and not compressed/resized versions from the gdoc. It looks horrible when I use those 😬

[2020-12-08 16:43] #1365 closed

[2020-12-08 19:10] joe-brilliant commented on #1390
Thanks @rkassa! FYI we have homepage case count discrepancy issue logged here @scarpino @Mougk

[2020-12-08 19:12] joe-brilliant commented on #1382
I think we can close this issue out after we add quotation marks, thanks @rkassa !

[2020-12-09 15:08] AnyaLindstromBattle opened #1402 "Issues with curator portal which mean no new sources can be set up to ingest"
Hi all, we seem to be having issues with the curator portal at the moment. This means that no new sources can be set up for ingestion which is obviously not ideal given the Jan 1 deadline. Issues are:
1. `Error: Request failed with status code 500` when setting AWS scheduling rate as rate(1 day)
2. Some parsers are not showing up in the drop down menu of the UI parser list (Sao Paolo, for example)

[2020-12-09 15:47] calremmel commented on #1402
For Sao Paolo, I just gave adding it a shot, and I think the issue is that it didn't follow the same naming convention as the other Brazil states: Rather than BrazilSaoPaolo it was just SaoPaolo. That's something I may have done, so sorry about that if that's where the trip-up was.

Better that than entire parsers missing from the list, though!

[2020-12-09 15:51] AnyaLindstromBattle commented on #1402
Aha OK, @z023 does this look as though it may have been the issue? If you look for just SaoPaolo in the list is it there?

[2020-12-09 15:57] AnyaLindstromBattle commented on #1402
My bad, issue was with Distrito Federal not Sao Paolo. Could you take a look at that one please ?

[2020-12-09 16:04] SandraAdele commented on #1402
@AnyaLindstromBattle @calremmel Yes the naming of the Parser is different-its just SaoPaolo as opposed to BrazilSaoPaolo, however when I enter in the parser link I have no error, I only get the error with the AWS schedule

[2020-12-09 16:07] AnyaLindstromBattle commented on #1402
Yes, my bad, the SaoPaolo issue was just an AWS scheduling issue. The lack of parser in the drop down menu was specific to Distrito Federal.

[2020-12-09 16:22] calremmel commented on #1402
For Distrito Federal, I think the problem is that the name is so long the words "ParsingFunction" get cut short, that's how the dropdown decides what to include. If that's the case, simply changing the filter, or adding a warning if a name is going to be too long should sort it.

For the scheduling, I'll continue to look.

[2020-12-09 16:24] calremmel commented on #1402
By the way, I was wondering what kind of training materials/documentation curators are receiving? Is there something more recent than this?:

https://docs.google.com/document/d/1Lf0SmX4tXgZ8rLnl4SxjoiuHECfL3q6yMfAewmCqfck/edit?usp=sharing

[2020-12-09 16:29] SandraAdele commented on #1402
Hi Chris, I don't have access to that doc but this is the one Zoe shared with me
https://docs.google.com/document/d/13uqS5bl0vZJfcX_VubgiMukxAxLqoP2CFPufYigNXkY/edit#

[2020-12-09 16:56] #492 closed

[2020-12-09 17:14] joe-brilliant commented on #1390
@rkassa just noticed that the "Get Involved" button only appears on homepage when scrolling below the fold. Can we make that persistent and consistent, as well as the logo size? I think the size that shows when scrolling below the fold looks great (feels a tad large on the default homepage above the fold view) thanks!

[2020-12-09 17:49] calremmel commented on #1402
Thanks @SandraAdele , that's what I have as well so great to know.

Looks like the schedules are getting made on AWS when they're submitted, but for some reason it's not being reflected in the curator UI. I'm not very familiar with the workings of the portal, but that at least narrows down where the breakdown is happening.

[2020-12-09 19:50] joe-brilliant opened #1405 "Ensure website is optimized for mobile and browser window resizing"
**Describe the bug**
Some navigation, content elements, and borders/padding/margins break when reducing browser window size or viewing on mobile

**To Reproduce**
Steps to reproduce the behavior:
Visit https://dev-globalhealth.pantheonsite.io/ on mobile device or reduce browser window size to half screen or smaller on web

**Expected behavior**
Website elements should be optimized for smaller brow

[2020-12-09 21:02] joe-brilliant commented on #1382
One more to add for launch, from Google official Keyword blog (SEO jackpot : ) @rkassa cc: @Mougk https://blog.google/outreach-initiatives/google-org/google-supports-covid-19-ai-and-data-analytics-projects

[2020-12-10 10:47] #1389 closed

[2020-12-10 11:34] AnyaLindstromBattle opened #1407 "Geocoding issues with DistritoFederal parser"
There are some geocoding issues with the Distrito Federal parser which mean that certain cases are being geocoded to other Brazilian states (specifically with the most recent upload it is Parana and Espirito Santo). As you can see in the below screenshot it seems in both cases it is geocoding it to 'Rua Distrito Federal', so using Distrito Federal as a street name rather than the state (ignore the

[2020-12-10 11:41] AnyaLindstromBattle commented on #1402
@calremmel so if I understand correctly the sources are automatically being scheduled at rate(1 day) even though it isn't showing up in the UI? If so, do you think we could set the sources up to ingest anyway, whilst we wait for the curator UI visibility issue to be sorted?

[2020-12-10 12:15] Mougk commented on #1407
Do we have a function yet in which we can specify the latitude and longitude for selected locations in the parser?

@outbreakprepared would be good to loop in.

We could also store a separate CSV in the github that looks up these new locations.

Thoughts?

[2020-12-10 14:05] calremmel commented on #1402
@AnyaLindstromBattle Yes that's correct! I would just check to make sure that it shows up on AWS. I can show you and anyone else who has access where to look for that. Each of the parsers definitely had rules scheduled even though it didn't reflect in the Curator UI.

Otherwise, I think it's a matter of deciding who the right person/group of people is/are to tackle this issue. I'm comfortable with

[2020-12-10 14:09] calremmel commented on #1407
@Mougk @AnyaLindstromBattle Yes we can currently specify latitudes and longitudes for cases within the parser.

Each case requires either a query string, in which case it is geocoded, or name+geoResolution+latitude+longitude, in which case those values are accepted and no geocoding is performed.

So, these edge cases can certainly be handled at the parser level. Depending on how many locations are

[2020-12-10 16:50] joe-brilliant commented on #1402
Thanks for raising this all, looping in @scarpino and @rkassa in case they might have insights

[2020-12-11 03:42] joe-brilliant commented on #1402
@JaredHawkins FYI per our call earlier today

[2020-12-11 09:49] #1375 closed

[2020-12-13 17:23] AnyaLindstromBattle commented on #1407
@calremmel, can I use the name+geoResolution+latitude+longitude method instead of geocoding for all the cases or is geocoding always preferable? There are too many cases to cherry pick the method I think, so I can either use the name+geoResolution+latitude+longitude method for all or set the query to Distrito Federal, Brazil for all cases.

[2020-12-13 17:30] AnyaLindstromBattle opened #1415 "Support data import from Tableau"
The data for Paraguay is stored in a Tableau, see https://public.tableau.com/profile/mspbs#!/vizhome/COVID19PY-Registros/Descargardatos. Data can be downloaded as a CSV from the download button at the bottom (not the top Download button) of the screen > Data > Full Data > Download all rows as a text file. I managed to get a URL which worked for end-to-end testing by right clicking on 'Download all

[2020-12-14 08:58] iamleeg commented on #1415
We'd have to use the Tableau API.

[2020-12-14 14:37] AnyaLindstromBattle commented on #496
Data source is down.

[2020-12-14 14:38] AnyaLindstromBattle commented on #491
Data is in zipped folder - currently being sorted out.

[2020-12-14 17:41] #1376 closed

[2020-12-15 14:00] Mougk commented on #482
@calremmel @AnyaLindstromBattle @fojackson8  I had another look at the data. The Column "
"Refdatum" is date of onset of disease IF "IstErkrankung" shows a "1".

Can that be changed in the parser? Also, what does that mean for backfilling given no UID? @z023

[2020-12-15 14:10] z023 commented on #482
It might mean having to delete all the Germany data and do a total backfill. I have been concerned that with no UUIDs and little case information there is just no way of knowing if there are duplicates being ingested.

[2020-12-15 14:14] AnyaLindstromBattle commented on #482
Should definitely be implementable at parser level, will tackle now.

[2020-12-15 14:30] AnyaLindstromBattle commented on #482
@Mougk by 'date of onset of disease' do you mean date of first symptoms? Or something else? Also, where did you find the documentation for this?

[2020-12-15 14:32] Mougk commented on #482
Documentation here: https://www.arcgis.com/home/item.html?id=f10774f1c63e40168479a1feb6c7ca74

"Referenzdatum: Erkrankungsdatum bzw. wenn das nicht bekannt ist, das Meldedatum" - date of symptom onset, date of first symptoms.

[2020-12-15 17:11] #497 closed

[2020-12-15 17:18] #494 closed

[2020-12-16 14:01] #992 closed

[2020-12-16 14:02] #1373 closed

[2020-12-16 14:02] #1013 closed

[2020-12-16 14:09] #1215 closed

[2020-12-16 14:21] #482 closed

[2020-12-16 14:28] calremmel commented on #1407
@AnyaLindstromBattle If it's possible to use the name+geoResolution+latitude+longitude method without a lot of hardship, I think that's the preferable solution. Geocoding is definitely not always better if there is reliable information from elsewhere.

[2020-12-16 14:32] calremmel commented on #1415
I'll have a look at what it would take to use this as a source. There are a few sources with special requirements for ingestion, and I want to avoid muddying the code with stuff like "if source is X do special bespoke thing here." If anyone has any thoughts for an elegant way to handle these kinds of exceptions while I'm brainstorming, please do let me know.

[2020-12-16 15:58] AnyaLindstromBattle commented on #1407
Great, will sort this ASAP! Thanks

[2020-12-16 15:59] AnyaLindstromBattle commented on #1415
@iamleeg and I are having a meeting tomorrow to try and sort this, will let you know if we come up with any solutions.

[2020-12-16 18:29] #1349 closed

[2020-12-16 18:46] calremmel commented on #1402
To clarify where this issue stands:

**Describe the bug**

Adding an AWS schedule through the curator portal returns a 500 error, but the rule does actually get made on AWS. However, it does not get reflected on the curator portal.

**To Reproduce**
Steps to reproduce the behavior:
1. Login to the Curator Portal
2. Click on Sources on the left sidebar
3. Pick a source without a schedule
4. Enter "

[2020-12-17 01:02] joe-brilliant commented on #1382
@rkassa when you get a chance, can you add the article above to the press section? then we can close this ticket. Suggested quote:

"Understanding the spread of COVID-19 is critical to informing public health decisions and lessening its impact on communities. We’re supporting the development of data platforms to help model disease and projects that explore the use of diverse public datasets to mor

[2020-12-17 01:03] joe-brilliant commented on #1383
This looks great thanks @rkassa, will close this issue and we can keep up to date on the copy deck and Pantheon moving forward.

[2020-12-17 01:03] #1383 closed

[2020-12-17 01:05] joe-brilliant commented on #1384
@rkassa @calremmel would it be possible/recommended to keep these footer elements persistent on Data and List? That would be ideal IMO

[2020-12-17 01:10] joe-brilliant commented on #1390
@rkassa looks like some article detail pages have greek text or placeholder in the URLs. e.g. and some formatting is inconsistent

https://global.health/2020/04/24/sed-et-purus-porta-euismod-ipsum-vel-pellentesque-risus/

https://global.health/2020/06/16/neque-porro-quisquam-est-qui-dolorem-ipsum-quia-dolor-sit-amet/

https://global.health/2020/02/11/hello-world/

[2020-12-17 01:16] joe-brilliant commented on #1390
@rkassa I added a few other fine-tuning items to check boxes above. Great to see the current case count on the home page! Is that a static quick fix or now a dynamic feed?

[2020-12-17 12:51] SandraAdele commented on #1107
Line list download either slow or does not work. I get the error code "502 Bad Gateway"  @calremmel

[2020-12-17 12:52] Mougk commented on #1107
In addition download speed was very slow (>10minutes for me)

[2020-12-17 14:44] iamleeg commented on #1415
@AnyaLindstromBattle looked into the options, and Tableau Public (where this data is hosted) doesn't have a hands-free way to get a CSV download link. We think we're going to have to add Tableau as a data source type in the curator portal, then use the python API or the REST API in the retrieval function to fetch the data. cc @calremmel

[2020-12-17 15:26] AnyaLindstromBattle commented on #1402
@axmb tagging you in this as we're finding we don't necessarily have the frontend knowledge needed to tackle this. Would be v grateful it you could take a look, if you can spare the time.
@rkassa tagging you in this as well to keep you updated with anything curator portal related as it develops.

[2020-12-17 21:50] #1385 closed

[2020-12-18 11:28] fojackson8 opened #1433 "xlsx format breaks retrieval function"
Trying to run retrieval function on [Brazil Minas Gerais dataset](coronavirus.saude.mg.gov.br/images/microdados/xlsx_sistemas.xlsx), which is in .xlsx format. Retrieval function breaks with following error message:

[code]

[2020-12-18 11:51] AnyaLindstromBattle opened #1434 "Solve timeouts during backfilling"
One of the main issues with backfilling is that you can't just set up backfilling for, say, 2 months as this will time out. The curators instead have to trial and error date chunks such that they can backfill successfully. It would be great if we could sort this out, e.g. by 'chunking' the data up as its being retrieved automatically or by automatically dividing the date range provided by the cura

[2020-12-18 17:25] joe-brilliant opened #1435 "Update interstitial login/signup page to add email option, reference Google login and accept PP, TOS, Newsletter opt-in"
![EkAGazHQ](https://user-images.githubusercontent.com/74671973/102642142-13a92100-4112-11eb-9ee7-b4100b9795d4.png)

On the interstitial login page:

- [ ] Change login button to Login with Google standard button (https://developers.google.com/identity/branding-guidelines , https://developers.google.com/identity/sign-in/web/build-button )

- [ ] Add a field and option for users to login with any em

[2020-12-18 18:40] joe-brilliant opened #1436 "On Data page, change default "Download" function to export CSV of daily cached full data set"
For MVP instead of initiating DL of data set based on applied filters, initiate a download of full daily cached data set and rename button "Download full data set". This will ensure a consistent and stable experience and allow users to sort, filter, and manipulate data via local applications while we further define and refine the Data page UX post-launch. This will entail:

- [x] Write script to e

[2020-12-21 15:13] calremmel commented on #1433
Yes .xlsx currently isn't supported. We should be able to implement this fairly easily though, as the big difference is needing to specify which sheet the data is on, and we can do that at the parser level I would imagine.

[2020-12-21 23:22] joe-brilliant commented on #1436
Thanks for the detailed sub item edits @calremmel !

[2020-12-23 14:30] fojackson8 opened #1440 "Metadata file that shows the fields available for each country"
As we start using country datasets for research, we need a way to quickly find suitable countries for a particular question.

We need to know which fields/columns are contained in each country, so we can pick suitable countries that contain all the relevant data for a particular question. This could be contained in a csv where each row is a country and contains boolean values for each column, such

[2020-12-23 18:40] joe-brilliant opened #1441 "For non-curator users, left sidebars on Data should be hidden, default view should show expanded data fields, and "Linelist" should be renamed to "COVID-19 Linelist""
Current view for curators shows two left sidebar navigations, which at present doesn't offer any functionality to non-curators

![image](https://user-images.githubusercontent.com/74671973/103027226-4ab07580-450a-11eb-941b-bcb55161cfa5.png)

For launch, we should obscure both of the left side "hamburger" navigation icons for non-curators and make the default view display more of the data fields, ex

[2020-12-23 20:02] rkassa commented on #1441
Actually, I think we should just leverage MUI's built in drawer show/hide functionality, and hide this by default.

It's fairly common UI that the hamburger menu implies "open menu," so any user (curator or a viewer) can toggle the menu to show at any point.

Icing on cake: more real estate for both the list and curator views!

[2020-12-24 03:16] joe-brilliant commented on #1441
Great quick fix thanks Robel!

________________________________
From: Robel Kassa <notifications@github.com>
Sent: Wednesday, December 23, 2020 12:03:14 PM
To: globaldothealth/list <list@noreply.github.com>
Cc: Joe Brilliant <joe.brilliant@gmail.com>; Author <author@noreply.github.com>
Subject: Re: [globaldothealth/list] For non-curator users, left sidebars on Data should be hidden, default view s

[2020-12-28 14:59] #1374 closed

[2020-12-28 16:13] calremmel commented on #1434
I've been looking a little closer at the ingestion function and parsing_lib, and it looks like it should be possible to just split the input file into chunks and then run the parsing function asynchronously on each chunk. We'd just need some logic to handle the different file types. I don't know that it would be necessary to change much else in the code.

If I had some UI help, it might be possibl

[2021-01-04 09:04] iamleeg commented on #1434
Good suggestion, it'd solve many situations where the input is too big for the parser to handle in reasonable time/memory. My questions:

 - do we need to do it on the input file, or can we load the input into an intermediate format (e.g. CSV or JSON) then send that to the parsers in batches? Advantages of that approach would be simplifying the parsers as they only have to support one format, and

[2021-01-04 10:29] AnyaLindstromBattle opened #1452 "Include case UUID in AWS error log message"
Change the AWS error log messages to include the UUID (if it exists) of the case on which it is failing. It would sometimes be very useful when debugging parser errors, especially where errors aren't obvious and datasets are large.

[2021-01-04 14:29] calremmel commented on #1434
Hi @iamleeg ! Thanks a ton for this.

You're totally right that we can do this without the UI changes, and I think your suggestion for automatically trying smaller batch sizes is really great.

As for loading the parsers in an intermediate format, is the following something like what you're thinking?:

1. Load input file into memory
2. Convert into either flattened rows or k:v records, whichever f

[2021-01-04 15:06] calremmel commented on #1434
A quick update to the above: it looks like the problem for USA is that the retrieval function is uploading data to AWS Lambda's ephemeral disk space first, which has a limit of 512MB, which clearly can't work for a 1.5GB file.

A comment in the code suggests streaming the data using https://docs.python.org/3/library/io.html#io.StringIO in such cases, but I think this is possibly an issue separate

[2021-01-04 16:06] iamleeg commented on #1434
Indeed what you said. At step 3: "without ever saving to S3" is optional. We may want to save as we go anyway, to make it quicker/safer/easier to resume a batched upload if something goes wrong (a botched batched upload, if you will).

Is the total limit for a lambda run 512MB, or is that a per-file limit? If the former, then we could consider some other storage medium, but that's probably both sl

[2021-01-04 16:16] calremmel commented on #1071
There's some valuable stuff left in these slides. To do: split this into smaller issues, prioritize and close.

[2021-01-04 16:17] calremmel commented on #1251
This is waiting on legal review. No action needed until further notice.

[2021-01-04 18:11] calremmel commented on #1434
I laughed at botched batched, that's where I am mentally right now.

Makes sense! Given that the current process is: retrieve -> save to s3 -> call parser, all within the retrieval function, it should actually be so bad to instead say: retrieve -> split into chunks -> save copies of chunks to s3 -> call parsers on chunks.

Unfortunately, 512MB is a total limit. I looked closer, and it looks like i

[2021-01-04 19:30] joe-brilliant commented on #1382
@rkassa can we add the google blog quote and push to prod? Then we can close this issue (until we get more press : ). Thanks!

[2021-01-04 19:34] joe-brilliant commented on #1405
@rkassa everything LGTM on mobile; I can close this out unless you want to do any more testing. thanks!

[2021-01-04 19:43] joe-brilliant commented on #1396
Hi all just checking in on this, will it be possible to set up email accounts under g.h? Or should we stick with ghdsi.info@gmail.com for now? (@rkassa can we hook this email up for now to the Get Involved Webform?) thanks!

[2021-01-04 19:45] joe-brilliant commented on #1249
@rkassa some logos on home page look lower res than others. Would you mind taking a look? I can ask our partners for official hig res logos. Thanks!

[2021-01-04 19:54] joe-brilliant commented on #1390
@rkassa I added the gray/black issue to the check box above. Would you mind checking in and update these once they are fixed on production and we can close this out? Thank you!

[2021-01-05 16:05] calremmel commented on #1107
Switching to a cached download for the entire dataset should help address this. Most filtered subsets should be fine, but we should be mindful for large filtered subsets, such as Brazil, which can have in excess of 100K cases. If many people try to do this, we should think of how we may want to make this more user friendly for them.

[2021-01-05 16:11] rkassa commented on #1382
@joe-brilliant can you take a look at the dev site here: https://dev-globalhealth.pantheonsite.io/about/

if this is all good to go, ready to deploy to prod and close out quite a few of these tickets 👍

[2021-01-05 16:31] calremmel commented on #1074
This issue refers to filtering capabilities for the Map, rather than for Data.

The goals appear to be the following:
1. There is a list of filter criteria on the sidebar for the Map where the countries currently are
2. The user can see how many of the rows contain not nulls in the fields of interest (demographic, travel history, etc)
3. The user can filter for only those cases that contain not nu