[2020-06-23 15:49] outbreakprepared opened #328 "When selecting 'other' no free text option offered"
**Describe the bug**
When selecting 'other' in fields: Transmission and Place of transmission no free text option is offered.

**To Reproduce**
1. Go to 'Route of transmission'
2. Click on 'select other'

**Expected behavior**
Free text option offered.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment (please complete the following information):**
 - OS

[2020-06-23 15:58] outbreakprepared opened #329 "Green checkbox with only one entry in each sub-category."
**Is your feature request related to a problem?
Checkbox turns green after one feature is entered. For example, I entered female and it turn green already.

I am worried that when you are a curator you will only focus on entering one feature and then move on.

**Describe the solution you'd like**
Different colours for checkboxes or/and completeness bar for each section.

**Additional context**
I r

[2020-06-25 10:33] sratcliffe118 opened #347 "Curator portal, manual entry form. Sex field drop down"
**Describe the bug**
- Curator portal, manual entry form. Demographics, Sex field
- Sex field has small unknown selection area & untitled

**Expected behavior**
- Same size area as male / female and titled should be titled unknown

**Screenshots**
<img width="720" alt="Screen Shot 2020-06-25 at 11 32 24 AM" src="https://user-images.githubusercontent.com/63205311/85703760-9313e580-b6d7-11ea-87b1-23

[2020-06-25 10:40] sratcliffe118 opened #348 "Curator portal: Manual entry form, Data picker no submit button"
**Describe the bug**
Submit button is missing from the data picker

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
Clear call to action to select and submit data from the date picker in the manual entry form

**Screenshots**
<img width="465" alt="Screen Shot 2020-06-25 at 11 35 49 AM" src="https://use

[2020-06-25 10:55] attwad commented on #348
Sorry the dev was running an old version that had a white background for those, this is fixed now.

[2020-06-25 10:55] #348 closed

[2020-06-29 08:56] #347 closed

[2020-06-30 16:16] outbreakprepared opened #388 "option "no travel history" does not exist"
**Is your feature request related to a problem? Please describe.**
I would like to have an option to say "no reported travel history"

This is different to NA. I was inputting the recent case from Beijing and it said that the first reported case had no reported travel history indicating that someone else must have brought COVID back into Beijing.

Another used case that I have seen a lot is when g

[2020-06-30 16:18] allysonjp715 commented on #388
This was fixed today by https://github.com/open-covid-data/healthmap-gdo-temp/pull/385
Will be updated in dev in next push.

[2020-06-30 16:18] #388 closed

[2020-06-30 21:09] attwad opened #394 "Define API to provide authenticated curator information to data service"
We need to define an API for the curator service to pass down the authentication details of the curator talking to it to the data service so that revisionMetadata can be set properly.

Notably right now it is impossible to increment the `revisionMetadata.revisionNumber` or set the `revisionMetadata.updateMetadata` field properly.

**Strawman proposal:**

- data service accepts a new `curator_email

[2020-07-01 14:36] attwad opened #407 "methods of travel in details page is not aligned properly"
**Describe the bug**
![image](https://user-images.githubusercontent.com/1255432/86256666-e2b34f00-bbb8-11ea-836d-21101ea4bc58.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a case that has travel details

[2020-07-01 16:15] khmoran commented on #394
![](https://github.trello.services/images/mini-trello-icon.png) [Dataserver should populate (most) version data](https://trello.com/c/X0icPhIz/263-dataserver-should-populate-most-version-data)

[2020-07-02 07:03] attwad opened #415 "Input on the CaseForm.tsx is too slow/laggy"
**Describe the bug**
Allyson was looking into this, it seems that we're validating the whole form on each stroke with the `yup` library, moving to per-field validation might fix this.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '/cases/new
2. Start entering notes
3. Experience slowness

[2020-07-02 07:34] attwad opened #416 "Location name isn't shown in location input field when editing the case"
**Describe the bug**
cf title

**To Reproduce**
Steps to reproduce the behavior:
1. add a case
2. edit the case
3. observe that the location field doesn't have the initial value set

[2020-07-02 09:08] #416 closed

[2020-07-02 13:59] #407 closed

[2020-07-02 14:11] sratcliffe118 opened #426 "Location field does not support county-level lookup in the US."
Location field does not support county-level lookup for the US.
This is a standard expectation to be able to enter the county (in the US) in which a case is occurring.
“In the United States, having county level data is critical”

[2020-07-02 14:14] attwad commented on #426
Still waiting Jared's for this, he sent an email to their mapbox contact and we're awaiting a reply.

[2020-07-02 14:15] sratcliffe118 opened #427 "Calendar picker enhancement"
User has to scroll backwards multiple times unnecessarily to access dates, which can be a couple of months previously.

Enhancement: allow quick back selection of drop down month and year to allow quick navigate to the date

[2020-07-02 14:23] attwad commented on #427
FWIW we're using the standard material design date picker
https://material.io/components/pickers
for which I don't see any way to get a drop down of months (year is already possible, just click on the year).

Have you noticed the user can also just type in the date without relying on the popup? I suspect this is the most efficient way for a past date.

![image](https://user-images.githubuserconten

[2020-07-02 14:28] sratcliffe118 opened #428 "Manual entry of a date, Unclear valid format in entry form"
For a field that can have manual date entry it is not clear the format that it should be provided in. e.g.  Month/Day/Year, etc.

Date formats can vary by location so we need to insure there is a clear indication of the format that will be valid for entry

[2020-07-02 14:37] attwad commented on #428
If the format is invalid you get an error as you type:
![image](https://user-images.githubusercontent.com/1255432/86372228-3178eb80-bc82-11ea-84e8-262b929fdb09.png)

I searched but there is no way to make the format appear by default in the placeholder.
We could add it manually like "Confirmed case date (yyyy/mm/dd)*" if UX is okay with that (I personally don't really feel the need).

[2020-07-02 14:41] attwad opened #429 "Implement the case details navigation floating panel"
![image](https://user-images.githubusercontent.com/1255432/86372659-c845a800-bc82-11ea-8fb3-99d6aeb991fc.png)

[2020-07-02 14:42] attwad opened #430 "Paginate users in /users"
Right now when an admin goes to /users to assign roles they are presented with the most recent 500 users and no way to paginate through them.
We could change to a material table as we do for sources as an easy fix.

[2020-07-02 14:42] JaredHawkins commented on #426
Hey all!  I haven't heard back from Mapbox.  I have a follow-up email set to go out this afternoon if I still haven't heard back.

[2020-07-02 15:08] #415 closed

[2020-07-02 16:17] allysonjp715 commented on #427
Yes we can't get the dropdown as you are proposing, but I've just sent out a PR to have all date pickers show the confirmation date on opening, which should help minimize scrolling needs.

[2020-07-02 16:57] #427 closed

[2020-07-02 16:58] attwad opened #434 "Consider switching from profession to occupation"
Cf slack discussion from Moritz, might make sense to say occupation rather than profession.
![image](https://user-images.githubusercontent.com/1255432/86388949-e8329700-bc95-11ea-8dc3-b31598abf64f.png)

[2020-07-03 06:39] attwad commented on #328
The schema that we have (enum for routes) seems to imply that we just store "other" and don't care about the actual value, @khmoran was this intentional? Perhaps we should change this from an enum to a string and remove exact validation on terms entered there. OR if one selects "others" we can have a different field for what it is,  a bit more complex but we keep validation on most common transmis

[2020-07-03 07:03] khmoran commented on #328
Not intentional - agree we should make it a string field instead of enum

On Fri, Jul 3, 2020, 2:40 AM Timothé <notifications@github.com> wrote:

[2020-07-03 07:07] attwad commented on #328
Geez it's 3am over there, are the fireworks that bad? 😨
thanks for the reply ;-) I'll try to do the change today.

[2020-07-03 08:54] attwad commented on #430
Tentative PR here: https://github.com/open-covid-data/healthmap-gdo-temp/pull/436

It displays the select chips in the table as it was done before without going through the edit phase but it requires a manual refresh of the table which is blocked on https://github.com/mbrn/material-table/issues/1752

[2020-07-03 09:48] sratcliffe118 commented on #427
Sounds good, thanks!

Thanks,

Stephen

<https://sites.google.com/a/google.com/gps-email-signature/home/Google_Signature4.png?attredirects=0>

*  •  **Stephen Ratcliffe*

*  • * Google Pay, Product Manager

*  •  *sratcliffe@google.com

  •  Google, Inc.

*If you received this communication by mistake, please don't forward it to
anyone else (it may contain confidential or privileged information),

[2020-07-03 09:50] sratcliffe118 commented on #428
I think we can cover this with some copy in the form to display the
format we are expecting. @Shruti Chandra <shroo@google.com> FYI re. the copy

Thanks,

Stephen

<https://sites.google.com/a/google.com/gps-email-signature/home/Google_Signature4.png?attredirects=0>

*  •  **Stephen Ratcliffe*

*  • * Google Pay, Product Manager

*  •  *sratcliffe@google.com

  •  Google, Inc.

*If you received thi

[2020-07-03 10:17] sratcliffe118 opened #437 "Place of transmission: Additional drop down options"
Add the following options to place of transmission drop down

Airplane
Cruise ship

[2020-07-03 10:20] sratcliffe118 opened #438 "Content and help copy for the manual entry form"
Need to provide detailed content and copy for the manual entry form & the help copy to assist curators as they navigate through the form

[2020-07-03 10:26] sratcliffe118 opened #439 "Symptoms: Show the most relevant symptoms for the disease as a quick selection option"
See attached UX
<img width="305" alt="Screen Shot 2020-07-03 at 11 24 26 AM" src="https://user-images.githubusercontent.com/63205311/86460276-fd540800-bd1f-11ea-90ee-bc99940a69b8.png">

[2020-07-03 10:36] sratcliffe118 opened #440 "Occupation Drop down options: Add more healthcare role options"
Add more detailed healthcare option roles

[2020-07-03 10:37] outbreakprepared commented on #440
Healthcare worker

[2020-07-03 15:21] lagood1 commented on #440
ER worker

[2020-07-06 03:17] sratcliffe118 commented on #428
I think we can have a hint beneath the field (pre material field formatting
- where it says Invalid Date Format in the image shared) Date format
YYYY/MM/DD

On Fri, Jul 3, 2020 at 5:50 AM Stephen Ratcliffe <sratcliffe@google.com>
wrote:

--
Shruti Chandra
UX Manager
shroo@google.com
212-565-3818

[2020-07-06 12:22] sratcliffe118 commented on #440
Adding new option to the occupation drop down list

[2020-07-06 12:23] sratcliffe118 commented on #426
Hi Jared, any update here, this is a key blocker for our first milestone

[2020-07-06 12:28] JaredHawkins commented on #426
They said: "Sounds like we do not currently have counties as a returnable data type in the US. If you have a counties layer then you could do a spatial join to extract that information for your current dataset."  I know that Mapbox has county layer(s), and followed up asking if we can speak to an engineer on their recommended work around - but I haven't heard back yet.

[2020-07-06 13:06] sratcliffe118 opened #443 "Source URL: Validation error remains in place even when fixed"
Steps to recreate:
1. Enter incorrect formatted source URL
2. Validation error triggered
3. En-enter with valid format.
4. validation error message remains with Red X
See screenshot

Expected behavior:
The validation error should disappear when a valid url is entered and a green tick should be displayed in the top left hand nav
![Screen Shot 2020-07-06 at 2 05 51 PM](https://user-images.githubuser

[2020-07-06 13:09] sratcliffe118 commented on #443
URL from data source: https://news.ontario.ca/mohltc/en/2020/01/ontario-confirms-first-case-of-wuhan-novel-coronavirus.html

[2020-07-06 13:11] sratcliffe118 opened #444 "UX for unknown fields"
Selecting Unknown makes no change to the field, just remains blank.
UX to confirm expected functionality and UX when selected.
See attached design currently.

![Screen Shot 2020-07-06 at 2 10 18 PM](https://user-images.githubusercontent.com/63205311/86596676-8a9e9300-bf92-11ea-8c9f-4914f44dd651.png)

[2020-07-06 13:16] sratcliffe118 opened #445 "Confirmed case method unknown throwing a validation error"
Validation error is thrown when the method of confirmation for a case is unknown this is incorrect. The form should allow a date to be entered for a confirmed case and the method of confirmation to be listed as unknown. See screenshot attached

[2020-07-06 13:18] sratcliffe118 opened #446 "Valid URL is not passing validation"
URL for a source is not passing validation in the manual data entry form

URL: https://news.ontario.ca/mohltc/en/2020/01/ontario-confirms-first-case-of-wuhan-novel-coronavirus.html

Screenshot attached
![Screen Shot 2020-07-06 at 2 17 48 PM](https://user-images.githubusercontent.com/63205311/86597360-7dce6f00-bf93-11ea-8331-52ce898f13cd.png)

[2020-07-06 13:22] sratcliffe118 commented on #446
This seems to be intermittent as tried again and it passed

[2020-07-06 13:25] sratcliffe118 opened #447 "Supporting multiple sources for line list data"
Canada data set has multiple sources that are linked to a single line list row. Need to support ability to link multiple sources to 1 line list entry.

There can be 1 primary source and multiple secondary sources

Sample set of Canada data:https://docs.google.com/spreadsheets/d/1VCKn28KbJ8-iiZ8ZFIQ8pPnBWefMoA2YMrxaZZDjQDo/edit#gid=0

[2020-07-06 13:27] sratcliffe118 commented on #446
Okay, the flow I need to use to get the field to accept the URL is

1. Enter: https://api.covid19india.org/raw_data7.json
2. delete
3. Copy and paste the URL I want to add in
4. Format accepted and can be submitted without error to the list

[2020-07-06 13:31] sratcliffe118 opened #448 "Line list case successful entered UX"
UX design and copy when a line list case is successfully entered to G.H List
![Screen Shot 2020-07-06 at 2 30 29 PM](https://user-images.githubusercontent.com/63205311/86598617-4496fe80-bf95-11ea-88c8-2214f62528a0.png)

[2020-07-06 13:35] sratcliffe118 opened #449 "Manual entry form: Once submitted path to submit another case"
Steps to repeat

- Fill in manual entry form
- Click submit
- Form submits successful and see message
- Navigate to 'New' to enter a new line list
- Form reopens with all the data from previous entry still populated

Expected
- User should have a quick path to navigate to the form to enter another line list case
- The form should be cleared of all data so the user can start the process again

AI:

[2020-07-06 13:43] sratcliffe118 opened #450 "Adding multiple cases with the same datapoints"
There are raw data sources that provide line list case data in chunks where the data is the same. e.g 4 cases on the same day for Males aged 40-49 in London, United Kingdom.

Feature request: Manual data entry form allows a curator to enter line list case data and then create multiple line list entries from it. e.g. Enters: Mal, 40-49, London, United Kingdom reported on 01/07/2020 and then needs t

[2020-07-06 13:44] acansler commented on #428
Test comment, please ignore.

[2020-07-06 13:55] axmb commented on #437
Added in #441 -- now live in dev.

[2020-07-06 13:55] #437 closed

[2020-07-06 13:57] axmb commented on #440
Do we want both "Healthcare worker" and "ER Healthcare worker" added?

If so, do we want to phrase it as such, or do we want "Healthcare worker" and "Healthcare worker (ER)"?

[2020-07-06 14:01] lagood1 commented on #440
@axmb Just Healthcare worker is fine. Decided for now to not get too specific

[2020-07-06 14:58] axmb commented on #440
Sounds good. That's been added in #441 and should be live in dev.

[2020-07-06 14:58] #440 closed

[2020-07-06 21:03] JaredHawkins commented on #426
Mapbox says:

I've asked them if there is an existing Mapbox tileset for county (I believe there is), and am awaiting more info.  They have confirmed that county is not returned for US, and I'm also waiting on some more clarity as to why that is the case.

[2020-07-07 10:56] outbreakprepared opened #452 "URL not accepted"
**Describe the bug**
Source ID was not accepted (http://187.191.75.115/gobmx/salud/datos_abiertos/datos_abiertos_covid19.zip)

**To Reproduce**
Steps to reproduce the behavior:
Copy link: http://187.191.75.115/gobmx/salud/datos_abiertos/datos_abiertos_covid19.zip into source URL file

**Expected behavior**
accepted URL

![Screenshot 2020-07-07 at 11 54 50](https://user-images.githubusercontent.com

[2020-07-07 11:01] outbreakprepared opened #453 "No confirmation date given BUT date of symptom onset and hospital consultation provided"
**Is your feature request related to a problem? Please describe.**

I was unable to submit the case without information on the date of confirmation.

**Describe the solution you'd like**

Allow to upload case even though date of confirmation is missing as long as a date is provided in the entry.

**Describe alternatives you've considered**
This is prone to errors and curators making assumptions. I

[2020-07-07 11:03] outbreakprepared opened #454 "Original data case ID missing"
**Is your feature request related to a problem? Please describe.**

Case ID from original source could not be entered into the form.

**Describe the solution you'd like**
Add field that allows to enter ID from source.

![Screenshot 2020-07-07 at 12 02 45](https://user-images.githubusercontent.com/63060519/86771248-cb0d1800-c049-11ea-82d7-e27f30b22090.png)

**Describe alternatives you've considered

[2020-07-07 11:05] outbreakprepared opened #455 "Pathogens field is misleading and missing SARS-CoV-2"
**Is your feature request related to a problem? Please describe.**

Pathogens field is confusing I find. Also it is missing SARS-CoV-2 as a pathogen.

**Describe the solution you'd like**
Remove or pre-load with form that is specific to the disease of interest.

[2020-07-07 11:11] outbreakprepared opened #456 "(information) tab for information for curators."
**Is your feature request related to a problem? Please describe.**
Add a tab to describe for each section what should be entered (as well as do's and don'ts).

**Describe the solution you'd like**
Have a little window when hovering over let's say 'location' and explain briefly what this section is about.

[2020-07-07 11:43] sratcliffe118 opened #457 "New field in the schema: Events section: Case Status"
A number of sources provide details of suspected cases based on symptoms and clinical diagnosis e.g. Argentina

Here a line list case is logged based on symptoms displayed or a clinical diagnosis. After such a time an PCR test is run to verify and it can be found to be negative or no test is run or available so the status remains suspected and can never be moved to confirm.

To support this we wil

[2020-07-07 16:39] outbreakprepared commented on #457
A couple of additional categories below:

Confirmed
Suspected
Probable
Discarded
Negative
Unknown

[2020-07-07 16:42] beoutbreakprepared opened #458 "Race/Ethnicity distinctions as per US OMB classification schema"
Add a more robust schema for race and ethnicity to reflect US official classifications

https://www.census.gov/topics/population/race/about.html#:~:text=OMB%20requires%20five%20minimum%20categories,Hawaiian%20or%20Other%20Pacific%20Islander.

https://www.census.gov/mso/www/training/pdf/race-ethnicity-onepager.pdf

NOTE: This is a very US-centric focus; we should discuss a more robust way to allow

[2020-07-07 16:53] outbreakprepared opened #459 "how do we currently accommodate for example age >60"
If data provided says >60. How do we enable that to be entered unambiguously. For now the only option I see is enter 60 - 120. But that's not ideal.

Option could be to allow to enter min age '>60' and autofill to max age (120)?

[2020-07-07 16:55] JaredHawkins commented on #426
OK, I just had a nice talk with Mapbox.  This sums it up:

I have the files she mentions - @sratcliffe118 who is best to take a look?  Alternatively to using the Tilequery API, we could just use these shapefiles to do our own local lookup (for the US) to see what county any given point falls in.  I'd imagine that would be straightforward.

[2020-07-07 16:58] JaredHawkins commented on #426
As a follow-up, if we feel that we really need Mapbox Boundaries (https://www.mapbox.com/boundaries/), lets regroup.  We can definitely ask this of Mapbox, as long as we articulate why we need this product vs a the layer approach (either via mapbox or locally).

[2020-07-07 19:56] sratcliffe118 commented on #426
@allysonjp715 is this something you can look at while Tim is out, or should we park this US requirement until Tim is back and pivot to some other countries.

Note @axmb I don't see any reason not to test the bulk entry with ohio data but we will have to limit location to state and not county level

Thoughts?

[2020-07-08 12:03] allysonjp715 commented on #459
Would we want to store that in the database as 60-120 age range? We could probably add some help text to the error message.

[2020-07-08 12:06] allysonjp715 commented on #458
Yes we were planning on having a larger discussion on defining race/ethnicity options as this is very tricky to encompass world-wide considerations.

[2020-07-08 12:08] allysonjp715 commented on #457
Should we then change "confirmation date" and "method of confirmation" to no longer be required?

[2020-07-08 12:09] allysonjp715 commented on #456
Do the ? tooltips cover this request? Those can be seen in https://www.figma.com/file/9HJlRkTBCMEQdkJ6WQJYkv/061120_Global.Health-Line?node-id=82%3A10099

We will add them once we have the copy to enter in the tooltips.

[2020-07-08 12:12] allysonjp715 commented on #455
I agree this is confusing. The intended data for this field is diseases *other* than the disease that is currently being tracked that the case has had. That's why you can't select SARS-CoV-2, since all cases in this DB will have it (SARS-CoV-2 == covid-19 right?). When we track other diseases, they will have their own DB.

We should change the name of the UI section and/or add some description tex

[2020-07-08 12:15] allysonjp715 commented on #443
Duplicate of #446

[2020-07-08 12:15] #443 closed

[2020-07-08 12:15] allysonjp715 commented on #452
Duplicate of #446

[2020-07-08 12:15] #452 closed

[2020-07-08 12:16] allysonjp715 commented on #453
@sratcliffe118 should we remove the restriction that confirmation date and method of confirmation be required?

[2020-07-08 12:19] allysonjp715 commented on #450
SG. We'll need some mocks from Shroo.

[2020-07-08 12:23] allysonjp715 commented on #439
Do we want these to be a reflection of the most commonly used symptoms in the DB? Or shall we hard code some in that we know are common to COVID?

[2020-07-08 12:30] #446 closed

[2020-07-08 13:21] sratcliffe118 commented on #459
If it's >60 then i would propose the input would be
Min age: 60
Max age: 120

We do not want to enable too much special casing as that tends to grow quickly out of control and the standard scheme becomes very fragmented :)

We should aim to get the dat reported in a more bound way but handle the edge case gracefully.

WDYT?

[2020-07-08 13:23] sratcliffe118 commented on #458
Moritz,
There was an AI to have a wider discussion on this topic, do we have the latest on that?

[2020-07-08 13:44] sratcliffe118 opened #462 "Add members to open-covid-data group"
Please add the following github accounts to the open-covid-data group

scarpino
AnyaLindstromBattle
fojackson8
shruthless
dakrownie

[2020-07-08 13:57] shroothless opened #463 "Navigation behaviour and order"
**Describe the bug**
The left hand nav menu should be open on default and not auto-collapse. Please match the order of the nav items from the mocks [here](https://www.figma.com/file/9HJlRkTBCMEQdkJ6WQJYkv/061120_Global.Health-Line?node-id=82%3A10099).

**To Reproduce**
Steps to reproduce the behavior:
1. Click hamburger button to open menu
2. When the user chooses an option the menu collapses

**E

[2020-07-08 13:58] sratcliffe118 commented on #457
@outbreakprepared
Thinking more about this, it's a significant scheme change as currently our working assumption is the dataset ONLY includes positive cases of covid-19, this change would mean that some cases would now be confirmed as negative and not covid-19 cases.

I propose a discussion on the priority and value of this against the other streams to assess if we want to prioritize this specific

[2020-07-08 14:14] axmb commented on #462
Sent invites, thanks!

[2020-07-08 14:14] #462 closed

[2020-07-08 15:02] allysonjp715 commented on #453
Duplicate of #457

[2020-07-08 15:02] #453 closed

[2020-07-08 15:45] axmb commented on #447
I can take a look at this on Friday. This is trivial to support for bulk upload, but we'll need to figure out how to integrate this in the single entry form.

@sratcliffe118 / @shroothless -- thoughts on rough UX? From the data side, we represent this concept with a single primary source that _must_ be registered in the DB, and an optional repeated field of "additional sources" with just URLs. Per

[2020-07-08 15:56] sratcliffe118 commented on #447
Perhaps we should have a UI field that appears, or becomes enabled, allowing adding multiple URL strings after the primary source is selected with the existing form component?
Agree, product wise i like this approach

@shroothless wdyt?

[2020-07-08 16:00] sratcliffe118 commented on #438
Copy matrix first draft[https://docs.google.com/spreadsheets/d/1mPYrNaO799ZDSTEgCn2WSHEGlwYYxuG2MG9t5TGpN0E/edit](url)

[2020-07-08 16:26] allysonjp715 commented on #459
SG. Do we want to change anything in the UI then @shroothless ?

[2020-07-08 16:30] allysonjp715 commented on #449
+ @shroothless for UI guidance here

[2020-07-08 16:37] shroothless commented on #449
On repeat entry, I agree "The form should be cleared of all data so the user can start the process again"

[2020-07-08 16:38] sratcliffe118 commented on #456
Duplicate of #438

[2020-07-08 16:38] #456 closed

[2020-07-08 16:40] sratcliffe118 commented on #455
@outbreakprepared what should we call this field given the above

All covid-19 line list cases will have the pathogen SARS-CoV-2 appended to them by default. This is designed to capture any other pathogens reported in the case

[2020-07-08 16:44] allysonjp715 commented on #455
to nit-pick: currently SARS-CoV-2 *won't* be stored as a value in the pathogens field of the database. Since the entire database is for SARS-CoV-2 cases, we don't need to add it to every case. For a new disease, a new database instance will be created.

[2020-07-08 17:03] #445 closed

[2020-07-08 17:06] allysonjp715 commented on #449
Perhaps we could use this bug to track the whole flow after hitting submit?

Currently if you click another menu button then click back to +New it will reset the form to empty values. It's just that when you are on the form entry page and click on the +New menu button it doesn't reset the fields because you are already on that URL. We could probably change that, but probably best to think through

[2020-07-08 17:17] allysonjp715 commented on #426
Tim is the one who has been doing all the mapbox integration so he'd certainly be more familiar with it. Is 1.5 weeks too long to wait? I can take a deeper read into this tomorrow or Friday and see if I can pick it up.

[2020-07-08 17:18] sratcliffe118 commented on #426
@allysonjp715 I think we are good to wait for Timothe to return, we can pivot to other geo's in the short term so we are not blocked

[2020-07-08 17:28] dakrownie opened #466 "Test"
**Describe the bug**
**Test**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment (please complete the following information):**
 - OS: [e.g. iOS]
 -

[2020-07-08 18:20] acansler commented on #450
I think, unless there is an alternate way to create multiple entries with the same datapoints (through making copies in the line list view, for example), we should consider making this a P1.

[2020-07-08 18:25] acansler commented on #439
I think it would be appropriate to make them for Covid. Otherwise, we will likely see a lot of searching for those, and given that there are multiple forms of "cough", this may improve data consistency.

[2020-07-08 18:39] acansler opened #467 "Line List - Page is not responsive to window size"
The table does not respond to changes in window size, requiring users to scroll extensively to see the table contents.

**To Reproduce**
Steps to reproduce the behavior:
1. Load Page
2. Scroll right

**Expected behavior**
Table automatically conforms to changes in window size?

[2020-07-08 18:41] shroothless commented on #449
The creation flow should be in a modal and the menu should not be available.
![image](https://user-images.githubusercontent.com/67452108/86957660-07fc0c00-c129-11ea-8f86-4ea59d362c65.png)

[2020-07-08 18:41] shroothless commented on #449
So you should not be able to select new when you are in form entry. Please let me know if I'm not understanding the problem

[2020-07-08 18:42] acansler opened #468 "Line List - Search field hidden when left nav is open"
**Describe the bug**
When the left hand nav is in an opened state, the search field on the right is moved over, obscuring the field.

**To Reproduce**
Steps to reproduce the behavior:
1. Open left hand nav

**Expected behavior**
Search field stays in place

**Screenshots**
<img width="1430" alt="Screen Shot 2020-07-08 at 2 40 08 PM" src="https://user-images.githubusercontent.com/13242399/86957729-

[2020-07-08 18:53] acansler opened #469 "Location field "No Options" drop down confusing"
**Describe the bug**
The moment a user clicks the field in "Location", they are immediately met with a drop down that says "No Options", which is counterintuitive and potentially confusing.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to "Location" section
2. Click on field

**Expected behavior**
It could either be empty, or show an example like "ex: Lyons, France", thus making clear t

[2020-07-08 18:55] shroothless commented on #439
I would say they should be the most commonly used symptoms in the DB and not hardcoded. Also I think this is a nice to have since likely behaviour.

[2020-07-08 19:12] acansler opened #471 "Logic issues on date entry for multiple fields"
**Describe the bug**
Currently, there are no rules that would stop or limit "impossible" situations when entering dates for certain events. For example, it is possible to have a case that dies on July 1st, is admitted to the hospital on July 8th, and develops symptoms on July 16th.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Events section
2. Enter in dates for various impossible s

[2020-07-09 01:20] shroothless commented on #448
Can this message show up in the list view above the table after the submission? The create new case modal should close when the user hits submit.

![image](https://user-images.githubusercontent.com/67452108/86986077-c25b3580-c160-11ea-971e-2a2c247daf20.png)

[2020-07-09 01:26] shroothless commented on #459
Agree, on use of autofill. I think an error message should suffice, if the Age Min is completed, and Age Max is not can we trigger an error. "Please enter max age, if none enter 120."

[2020-07-09 01:29] shroothless commented on #450
Agree with Aaron, if we support the ability to "Copy to new case" I think this is ok as an enhancement.

![image](https://user-images.githubusercontent.com/67452108/86986612-13b7f480-c162-11ea-8724-384c75a8c675.png)

[2020-07-09 03:45] shroothless opened #475 "Batched UX Behaviour Bugs"
**Describe the bug**
Multiple UX Behaviour Bugs

**To Reproduce**
Noted in deck

**Expected behavior**
https://docs.google.com/presentation/d/1Fg-UYsIB8oq03-VIHR0CP8G6ym02HxjCpyDcroheFzc/edit?usp=sharing

**Screenshots**
Noted in deck

**Environment (please complete the following information):**
 - OS: OS Mojave
 - Browser Chrome

[2020-07-09 09:48] sratcliffe118 commented on #450
@acansler would be a good use case to test with a curator. If they had multiple cases with the same data what flow would they expect to take.

Suggest approach SGTM and will notch up to P1, so we can schedule this in

[2020-07-09 14:51] iamleeg opened #477 "Automatic importer: Ohio case data"
https://coronavirus.ohio.gov/static/COVIDSummaryData.csv seems to be off-line?

[2020-07-09 14:53] iamleeg opened #478 "Automatic importer: Florida case data"
https://open-fdoh.hub.arcgis.com/datasets/florida-covid19-case-line-data/data

[2020-07-09 14:54] iamleeg opened #479 "Washington State case data importer"
https://www.doh.wa.gov/Portals/1/Documents/1600/coronavirus/data-tables/PUBLIC_CDC_Event_Date_SARS.xlsx?ver=20200611154131

[2020-07-09 14:55] iamleeg opened #480 "Mexico case data automatic importer"
https://www.gob.mx/salud/documentos/datos-abiertos-152127

[2020-07-09 14:57] iamleeg opened #481 "Import Japan case data"
https://github.com/reustle/covid19japan-data/tree/master/docs/patient_data

[2020-07-09 15:03] iamleeg opened #482 "Import Germany case data"
https://npgeo-corona-npgeo-de.hub.arcgis.com/datasets/dd4580c810204019a7b8eb3e0b329dd6_0?page=26

[2020-07-09 15:06] iamleeg opened #483 "Import Zurich (CH) case data"
https://github.com/openZH/covid_19/blob/master/fallzahlen_kanton_alter_geschlecht_csv/COVID19_Fallzahlen_Kanton_ZH_alter_geschlecht.csv

[2020-07-09 15:07] iamleeg opened #484 "Import Peru case data"
https://www.datosabiertos.gob.pe/dataset/casos-positivos-por-covid-19-ministerio-de-salud-minsa

[2020-07-09 15:10] iamleeg opened #485 "Import Canada case data"
https://github.com/ishaberry/Covid19Canada

[2020-07-09 15:16] sratcliffe118 opened #486 "Cannot login to curator portal when have multiple accounts in Chrome"
Cannot login to curator portal when have multiple accounts in Chrome

[2020-07-09 15:16] iamleeg opened #487 "Import South Africa case data"
https://github.com/dsfsi/covid19africa/blob/master/data/line_lists/line-list-south-africa.csv

[2020-07-09 15:25] iamleeg opened #488 "Import Brazil—Minas Gerais case data"
https://www.saude.mg.gov.br/coronavirus/painel

[2020-07-09 15:25] iamleeg opened #489 "Import Brazil—Goias case data"
https://extranet.saude.go.gov.br/pentaho/api/repos/:coronavirus:paineis:painel.wcdf/generatedContent

[2020-07-09 15:27] iamleeg opened #490 "Import Brazil—Rio Grande del Sul case data"
http://ti.saude.rs.gov.br/covid19/

[2020-07-09 15:29] iamleeg opened #491 "Import Brazil—Ceara case data"
https://indicadores.integrasus.saude.ce.gov.br/indicadores/indicadores-coronavirus/coronavirus-ceara

[2020-07-09 15:30] iamleeg opened #492 "Import Brazil—Espirito Santo case data"
https://coronavirus.es.gov.br/painel-covid-19-es

[2020-07-09 15:32] iamleeg opened #493 "Import Brazil—Mato Grosso del Sul case data"
https://www.coronavirus.ms.gov.br/?p=1943

N.B. the data is in PDF so this will require some extra effort.

[2020-07-09 15:33] iamleeg opened #494 "Import Brazil—Acre case data"
http://covid19.ac.gov.br/

[2020-07-09 15:35] iamleeg opened #495 "Import Brazil—Amapa case data"
http://painel.corona.ap.gov.br/

[2020-07-09 15:36] iamleeg opened #496 "Import Brazil—Santa Catarina case data"
ftp://boavista:dados_abertos@ftp2.ciasc.gov.br/boavista_covid_dados_abertos.csv

[2020-07-09 15:37] iamleeg opened #497 "Import Brazil—Sao Paolo case data"
https://raw.githubusercontent.com/seade-R/dados-covid-sp/master/data/dados_covid_sp.csv

[2020-07-09 15:38] iamleeg opened #498 "Import Brazil—Distrito Federal case data"
https://covid19.ssp.df.gov.br/extensions/covid19/covid19.html#/

[2020-07-09 15:39] iamleeg opened #499 "Import Brazil—Paraiba case data"
https://superset.plataformatarget.com.br/superset/dashboard/microdados/

[2020-07-09 15:40] iamleeg opened #500 "Import Brazil—Para case data"
https://www.covid-19.pa.gov.br/#/

[2020-07-09 15:40] iamleeg opened #501 "Import Brazil—Rio de Janeiro case data"
http://painel.saude.rj.gov.br/monitoramento/covid19.html

[2020-07-09 15:45] iamleeg opened #502 "Import Estonia case data"
https://opendata.digilugu.ee/opendata_covid19_test_results.csv

[2020-07-09 15:49] iamleeg opened #503 "Import case data for Romania"
https://www.hotnews.ro/stiri-coronavirus-23732649-23732649

Note that we don't have an updating source, just this early news report.

[2020-07-09 15:50] iamleeg opened #504 "Import Colombia case data"
https://www.datos.gov.co/Salud-y-Protecci-n-Social/Casos-positivos-de-COVID-19-en-Colombia/gt2j-8ykr/data

[2020-07-09 15:50] iamleeg opened #505 "Import Honduras case data"
https://covid19honduras.org/?q=comunicado-40 (data in PDF)

[2020-07-09 15:52] iamleeg opened #506 "Import Singapore case data"
https://www.moh.gov.sg/news-highlights/ (data in PDFs)

[2020-07-09 15:53] iamleeg opened #507 "Import Czechia case data"
https://onemocneni-aktualne.mzcr.cz/api/v2/covid-19/osoby.csv

[2020-07-09 15:54] iamleeg opened #508 "Import Argentina case data"
https://datos.gob.ar/dataset/salud-covid-19-casos-registrados-republica-argentina/archivo/salud_fd657d02-a33a-498b-a91b-2ef1a68b8d16

[2020-07-09 15:55] iamleeg opened #509 "Import New Zealand case data"
https://www.health.govt.nz/our-work/diseases-and-conditions/covid-19-novel-coronavirus/covid-19-current-situation/covid-19-current-cases/covid-19-current-cases-details

[2020-07-09 15:55] iamleeg opened #510 "Import Malaysia case data"
https://www.outbreak.my/stats

[2020-07-09 15:56] iamleeg opened #511 "Import Philippines case data"
http://bit.ly/DataDropArchives

[2020-07-09 15:57] iamleeg opened #512 "Import Republic of Korea case data"
https://docs.google.com/spreadsheets/d/1nKRkOwnGV7RgsMnsYE6l96u4xxl3ZaNiTluPKEPaWm8/edit#gid=0 and https://github.com/ThisIsIsaac/Data-Science-for-COVID-19/blob/master/Covid19_Dataset/patients.csv

[2020-07-09 15:58] iamleeg opened #513 "Import Cuba case data"
https://covid19cubadata.github.io/casos.html

[2020-07-09 15:59] iamleeg opened #514 "Import Paraguay case data"
https://public.tableau.com/profile/mspbs#!/vizhome/COVID19PY-Registros/Descargardatos (data is in tableau, can be exported as CSV - can that be automated too?)

[2020-07-09 15:59] iamleeg opened #515 "Import Togo case data"
https://covid19.gouv.tg/situation-au-togo/

[2020-07-09 16:00] iamleeg opened #516 "Import Thai case data"
daily dump: https://data.go.th/en/dataset/covid-19-daily
API: https://covid19.th-stat.com/th/api

[2020-07-09 16:02] iamleeg opened #517 "Import Taiwan case data"
https://data.cdc.gov.tw/en/dataset/agsdctable-day-19cov

[2020-07-09 16:03] iamleeg opened #518 "Import Hong Kong case data"
https://data.gov.hk/en-data/dataset/hk-dh-chpsebcddr-novel-infectious-agent/resource/12b0e451-9ee4-439f-9807-0ab684404fc6

[2020-07-09 16:04] iamleeg opened #519 "Import Uganda case data"
Tweeted: https://twitter.com/MinofHealthUG?ref_src=twsrc%5Etfw%7Ctwcamp%5Eembeddedtimeline%7Ctwterm%5Eprofile%3AMinofHealthUG&ref_url=https%3A%2F%2Fwww.health.go.ug%2F

So maybe use the Twitter API?

[2020-07-09 16:04] iamleeg opened #520 "Import Sri Lanka case data"
https://docs.google.com/spreadsheets/d/1zIgPU0ZlYkiKaavYAUcHKgEP95jdaMaf9ljJgRqtog4/edit#gid=0

[2020-07-09 16:05] iamleeg opened #521 "Import India—Kerala case data"
https://docs.google.com/spreadsheets/d/e/2PACX-1vQU9eLCMT0XwWnoxV_LkyCkxMcPYO7z7ULdODoUFgcdzp48pgGpGrVZFXvraXYvUioVRsQgQDU_pQyI/pubhtml

Check for overlap with the national data from India.

[2020-07-10 09:05] outbreakprepared commented on #480
Data are at the municipality level but municipality ID's are non-unique and have to be matched with state ID's. You can find a lookup table in the "Diccionario de Datos" that can be downloaded on the same webpage.

[2020-07-10 16:16] allysonjp715 commented on #475
Thanks for filing Shru! I'll post updates in the deck as things are fixed.

[2020-07-13 10:01] #466 closed

[2020-07-13 10:06] allysonjp715 commented on #449
Sounds good, and I just remembered this mock for what page should be shown once the case is added. Will do.

![Screen Shot 2020-07-13 at 11 05 38 AM](https://user-images.githubusercontent.com/30459667/87292511-d43e2f00-c4f8-11ea-83c8-4f4f40114a33.png)

[2020-07-13 10:07] allysonjp715 commented on #448
Thanks, will track the work in #449

[2020-07-13 10:07] #448 closed

[2020-07-13 12:15] sratcliffe118 opened #529 "Bulk upload CSV template sheet: Hospitalized options fail validation"
Steps to recreate
1. Select true or false as a value in the hospitalized field
2. Try to upload the CSV to the database
3. Receive an error message 422, file could not be

Hospitalized field if true or false is selected for upload then it fails the upload. Also a validation message is shown within the CSV, see attached.

[uploaded](url
![Screen Shot 2020-07-13 at 1 13 49 PM](https://user-images.gi

[2020-07-13 12:21] sratcliffe118 opened #530 "Bulk CSV ingestion: Admin level 2 data selecting specific road location"
Steps to recreate:
1. Adding Florida data which provide location data to county level
2. Add county information to level 3 data: Broward
3. Populates Broward road, jacksonville in the line list entry
See attached

Expected: Admin level 3 should be county, city or town level, should not go down to specific road depth

![Screen Shot 2020-07-13 at 1 19 52 PM](https://user-images.githubusercontent.com

[2020-07-13 12:26] sratcliffe118 opened #531 "Update UX of source entry"
Adding a new source flow. Once a URL has been added in the bulk upload or new line list entry screen and select + a new screen appears. Current flow is confusing in 2 areas:

1. The URL field goes into the name field, the 2 should be separate and not run into each other
2. The cursor should automatically move to name when the dialogue pops up so the name can be entered. Currently the cursor remain

[2020-07-13 12:43] sratcliffe118 opened #532 "Format of the date and time fields in the line list"
Format of the data and time is hard to read in the line list. We need to standardize across each field in the UI.
![Screen Shot 2020-07-13 at 1 41 27 PM](https://user-images.githubusercontent.com/63205311/87305669-c72c3a80-c50e-11ea-8073-86692338fec9.png)

[2020-07-13 13:20] sratcliffe118 opened #533 "Data source link in list takes you to a blank case"
Clicking on the data source link in the line list case (see screen shot) takes you to a blank line list case, not the data source information.

![Screen Shot 2020-07-13 at 2 18 41 PM](https://user-images.githubusercontent.com/63205311/87308978-e5e10000-c513-11ea-87a4-7a220af44f0f.png)

[2020-07-13 15:49] sratcliffe118 opened #539 "Bulk CSV upload: Details of # of line list entries created upon successful upload"
Currently when a bulk CSV is upload a message it provided indicating if the upload was a success, or if there was an issue which prevented upload.

Request for a feature to detail the number of line list cases when there has been a successful upload, so that this can be checked against the number the curator was expecting to be created. Current process requires counting the new line list entries w

[2020-07-13 16:14] khmoran commented on #328
![](https://github.trello.services/images/mini-trello-icon.png) [Allow free-form text entry for "Other" fields](https://trello.com/c/BhMc3HjT/275-allow-free-form-text-entry-for-other-fields)

[2020-07-13 16:18] sratcliffe118 commented on #530
Another example is case: 5f0c8630a17f74e5a82fb77b
This admin level 3 data was: CORONEL FABRICIANO/TIMOTEO
The location added to the case: Rua Coronel Fabriciano, Centro Sul, Timóteo - Minas Gerais, 35182, Brazil

[2020-07-13 17:21] shroothless commented on #531
Update: Do not trigger a dialog for a new source. Add a new field under URL titled "Source name" that is required.

[2020-07-13 18:44] shroothless opened #544 "Make the 'Chart' page the 'Home' page"
**Describe the bug**
For the Home page of the curator portal please point to the charts page. The
**To Reproduce**

Steps to reproduce the behavior:
1. Navigate to https://dev-curator.ghdsi.org/
2. Page is blank with instruction message

**Expected behavior**
1. Navigate to https://dev-curator.ghdsi.org/
2. Home should be the Charts page

**Screenshots**
![image](https://user-images.githubusercont

[2020-07-13 20:34] dakrownie opened #545 "Manual Line List Entry Does Not Submit"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the [Canada Line List Data](https://docs.google.com/spreadsheets/d/1D6okqtBS3S2NRC7GFVHzaZ67DuTw7LX49-fqSLwJyeo/edit#gid=942958991)
2. Fill out provided information 'Source', 'Sex', 'Age', 'Location', 'Event Dates', 'Travel History' ans 'Travel Location'
3. Click on

[2020-07-14 10:16] allysonjp715 commented on #545
@dakrownie would you be able to copy/paste the error message as a comment here?

[2020-07-14 11:19] allysonjp715 commented on #532
Any suggestions on the desired format?

[2020-07-14 11:22] allysonjp715 commented on #531
Latest UX:

![Screen Shot 2020-07-14 at 12 21 40 PM](https://user-images.githubusercontent.com/30459667/87420144-a4f8f200-c5cc-11ea-8aa4-2c7ac01a5c4d.png)

[2020-07-14 11:23] allysonjp715 commented on #468
This was fixed in #476

[2020-07-14 11:23] #468 closed

[2020-07-14 11:25] allysonjp715 commented on #467
Also fixed in #476

The table wrapper (title, search bar, pagination options) is now according to window size and has an inner scroll for seeing all columns.

[2020-07-14 11:25] #467 closed

[2020-07-14 11:29] sratcliffe118 commented on #531
Suggest we add the copy for the source reference name @shroothless how do you see this appearing the UI
Enter the name of the entity that has provided the data e.g. Brazil Ministry of Health

[2020-07-14 11:30] sratcliffe118 commented on #532
YYYY-MM-DD
with the standard timezone we use BST / GMT / EST

[2020-07-14 11:35] sratcliffe118 commented on #434
Confirmed switching field title from Profession to Occupation

[2020-07-14 11:43] sratcliffe118 opened #550 "Chart: Days since most recent case confirmation by country, not updating"
New line list case added for India on 6th July (8 days prior). Chart has not updated, see screenshot
![Screen Shot 2020-07-14 at 12 43 19 PM](https://user-images.githubusercontent.com/63205311/87421912-9fe97200-c5cf-11ea-9397-e7f0a1d894da.png)

[2020-07-14 12:08] sratcliffe118 opened #551 "Determine which columns to show in the linelist"
Open question for discussion.

What fields do we want the summary line list tab view to show the curator for find, edit and delete CUJs

**Proposal: default table view to display the line list case data in on the Line list view tab. This will be the screen which supports the find, edit and delete use cases.**

**Table columns**
1. Unique identifier - @attwad @axmb thoughts to creating a line list

[2020-07-14 12:17] sratcliffe118 commented on #551
Unique identifier @allysonjp715 also thoughts on this?

[2020-07-14 12:22] allysonjp715 commented on #551
We previously discussed a unique identifier being useful if people want to discuss a case among themselves (e.g. "Case #abc looks like it has an error, could you check it out?"). Could also help when deduping to have an identifier for a case. But I definitely defer to @acansler, Lauren, and other curators.

[2020-07-14 12:24] outbreakprepared commented on #551
+1 Allyson's comment and reasoning behind why its useful to have a unique identifier. Also, unique identifiers in source may not be stable.

[2020-07-14 12:27] allysonjp715 commented on #459
I wonder about the copy of "Please enter max age, if none enter 120."

If there was no max age, I would think they should enter the "Age" field rather than the min and max ages. I understand we're trying to address Moritz's case of >60, where it is a range but there is no max specified. Perhaps something like "Max age required. Maximum value is 120" WDYT?

[2020-07-14 12:31] #544 closed

[2020-07-14 12:36] dakrownie commented on #545
Created and submitted successfully.

[2020-07-14 12:36] #545 closed

[2020-07-14 12:37] allysonjp715 commented on #471
What restrictions do we want to apply here? The possible events are:
- Case confirmation
- Onset of symptoms
- first clinical consultation
- date of self isolation
- hospital admission date
- admitted to ICU
- outcome

Some restrictions that make sense to me:
- All dates earlier than outcome date
- onset of symptoms before all dates except case confirmation

The second one I'm more wary on than th

[2020-07-14 12:39] sratcliffe118 commented on #459
Max age required. Maximum value is 120" WDYT?
I think this makes sense

Thanks,

Stephen

<https://sites.google.com/a/google.com/gps-email-signature/home/Google_Signature4.png?attredirects=0>

*  •  **Stephen Ratcliffe*

*  • * Google Pay, Product Manager

*  •  *sratcliffe@google.com

  •  Google, Inc.

*If you received this communication by mistake, please don't forward it to
anyone else (it may

[2020-07-14 12:40] sratcliffe118 commented on #551
Agree, let's see if there is value and a use case for one.

On Tue, Jul 14, 2020 at 1:24 PM outbreakprepared <notifications@github.com>
wrote:

[2020-07-14 12:44] khmoran commented on #459
Can we leave the min or max out if it's an open ended range?

On Tue, Jul 14, 2020, 8:40 AM Stephen Ratcliffe <notifications@github.com>
wrote:

[2020-07-14 12:47] lagood1 commented on #551
+1 Allyson and Moritz's thoughts on having a unique identifier, it definitely will be helpful for internal conversations about cases

I also think case confirmation date would be a valuable column to display for quick browsing. (Open for discussion here or other thoughts)

[2020-07-14 12:47] sratcliffe118 commented on #459
Would rather stick to a pattern where 65-120 is used as a 65+ pattern by
the users of the data. If we leave it open ended it could lead to bad or
incomplete data and age is a key demographic data point

Thanks,

Stephen

<https://sites.google.com/a/google.com/gps-email-signature/home/Google_Signature4.png?attredirects=0>

*  •  **Stephen Ratcliffe*

*  • * Google Pay, Product Manager

*  •  *sratc

[2020-07-14 12:55] sratcliffe118 commented on #471
I would go with the following restrictions / rules
1. No dates earlier than case confirmation. Note they can be on the same date as case confirmation but not earlier.
2.All dates earlier than outcome date

Technical you could be confirmed a case with no symptoms via a test and then symptoms develop after, so I would not put any restrictions around this,

[2020-07-14 15:01] allysonjp715 commented on #471
I think there are quite a few dates that could happen before case confirmation: onset of symptoms, first clinical consultation, date of self isolation, potentially even the hospital cases if they do the confirmation after the case gets to the hospital.

So maybe it should just be the "All dates earlier than outcome date" restriction?

[2020-07-14 15:08] sratcliffe118 commented on #471
Good point.
So maybe it should just be the "All dates earlier than outcome date"
restriction? *ack let's have that as the rule.*

Thanks,

Stephen

<https://sites.google.com/a/google.com/gps-email-signature/home/Google_Signature4.png?attredirects=0>

*  •  **Stephen Ratcliffe*

*  • * Google Pay, Product Manager

*  •  *sratcliffe@google.com

  •  Google, Inc.

*If you received this communication

[2020-07-14 16:24] axmb commented on #529
Couldn't exactly confirm, since dev has been updated a couple times, but I can see the issue.

1. I've changed the official Sheets template to treat the `hospitalized` column as plain text, to prevent it upper-casing the values. This would have solved the issue in the version of dev above.
2. I've made the handling logic for `hospitalized` a little more strict. We can add some client-side validati

[2020-07-14 17:53] #529 closed

[2020-07-14 18:26] sratcliffe118 opened #555 "Ethnicity field change"
Request to make 2 changes to the ethnicity field

1. Change the ethnicity field title to: Race / Ethnicity
2. Change the input to free text field only, no drop down or pre selects.

Rationale: Want to allow curators the most inclusive and broadest set of options for data entry.

_**Researcher feedback: People would prefer an inclusive large selection of options which needs manual work, rather than

[2020-07-14 20:20] axmb commented on #530
Thoughts on the results:

For Florida, I think that's a subset of the existing issue around US county identification.

Brazil is somewhat more complicated. To start, that admin3 example data seems to be compound -- Coronel Fabriciano and Timóteo are both municipalities. So I suppose the slash indicates they're joint reporting, or the data is from one of those two locations. For that data, I think

[2020-07-14 21:51] khmoran commented on #550
Part of this issue comes from an env mismatch: the fact that entering new data into the dev curator portal will update dev mongodb, but the charts reflect prod (sorry!!)

That said, there have been csv commits in the last 28 days, so something is still wrong.

[2020-07-14 21:58] #434 closed

[2020-07-14 23:02] axmb commented on #530
I've added an option to tweak the way we invoke the mapbox API (see the above two PRs).

Does the behavior I've gif'd in #561 seem reasonable?

(Separately, I've documented that `admin3` can be supplied as a field to bulk upload.)

[2020-07-15 10:00] sratcliffe118 commented on #530
Alex, reviewed and this approach LGTM

Think this example highlights that no matter how automated we make the process, as the data is reported in a fragmented way curators will still be required to make some judgement calls and data manipulation before bulk uploading.

[2020-07-15 10:03] sratcliffe118 commented on #550
Ack on different environments, would be good to see the latest state of the
Prod data especially as we think about how we transition

Thanks,

Stephen

<https://sites.google.com/a/google.com/gps-email-signature/home/Google_Signature4.png?attredirects=0>

*  •  **Stephen Ratcliffe*

*  • * Google Pay, Product Manager

*  •  *sratcliffe@google.com

  •  Google, Inc.

*If you received this communicat

[2020-07-15 12:23] sratcliffe118 commented on #550
Checked again today and no update

[2020-07-15 12:25] sratcliffe118 opened #562 "Help Copy: Manual data entry form for line list"
Help copy data matrix for the line list case manual data entry form

https://docs.google.com/spreadsheets/d/1mPYrNaO799ZDSTEgCn2WSHEGlwYYxuG2MG9t5TGpN0E/edit?usp=drive_web&ouid=100301246100161861605

[2020-07-15 13:38] sratcliffe118 commented on #471
Interesting insight from early in the pandemic and data that relates to dates. Some cases were admitted to hospital prior to being a covid-19 confirmed case i.e. admitted for breathing difficulties and then some time after being confirmed as a covid-19 case. This means that hospital admission can be before a confirmed case date

[2020-07-15 13:57] #555 closed

[2020-07-15 15:31] khmoran commented on #550
The source of the issue is the CSV -- it isn't updating. There's a job that auto-updates it but it's not adding any bytes:  https://github.com/beoutbreakprepared/nCoV2019/commit/5cc3e455b95fd35ab18fd5a870941d207a47010e

I verified that downstream of the CSV (conversion & mongodb import) is working: I cloned the repo with the csv and checked the # of cases in it and it matches what we have in mongo

[2020-07-15 15:33] khmoran commented on #550
cc @JaredHawkins to triage CSV update issues on the HM side

[2020-07-15 15:36] axmb opened #563 "Import India case data"
https://api.covid19india.org/

Note that the required fields from this data are already populated in the [example India parser](https://github.com/open-covid-data/healthmap-gdo-temp/tree/master/ingestion/functions/parsing/india).

We'll need to add remaining fields, and make sure the parser works for all of the `raw_dataN` data files.

[2020-07-15 15:37] #530 closed

[2020-07-15 15:57] JaredHawkins commented on #550
Once Thomas started his leave, I believe @attwad had been running these.  Is there any documentation of his process that I can point someone to?

[2020-07-15 20:13] axmb commented on #533
The case `caseReference.sourceUrl` value is supplied directly to the furnish that link. If the sourceUrl doesn't include a protocol (`http://` or `https://`), it's interpreted as a relative link, and you're sent to `$currentURL/$souceURL`.

[2020-07-15 21:09] axmb commented on #539
I expect we'll use pretty similar functionality to what @allysonjp715 is looking at for #449. That's ~the current proposed UX for bulk, too. As a stopgap, I'll quickly add the P0 aspect to the upload form.

[2020-07-16 00:49] shroothless commented on #447
Sorry for the delay here. That sounds good.

How about something like this:
![image](https://user-images.githubusercontent.com/67452108/87613885-98fc5580-c6dc-11ea-9021-f8c3dc4af718.png)

[2020-07-16 03:47] axmb commented on #447
I think the most salient question is whether these follow-on sources are registered in our database (and, consequently, autocompleted with the same search-style bar). CMIIW, @sratcliffe118, but I think the current plan is merely to accept the URL for these additional sources (and not register these sources/require anything aside from URL).

If that's indeed the plan, perhaps we should style the ad

[2020-07-16 09:42] sratcliffe118 commented on #447
I think we should be treating all sources in the same way regardless of it there are primary or secondary. So the input approach should be same, and we should require the name of the secondary or tertiary source to also be provided. This will mean we have a consistent database of sources with the same information and structure.

The principle of the source used to create the line list being primar

[2020-07-16 12:38] sratcliffe118 commented on #539
SGTM,thanks @axmb

[2020-07-16 13:14] shroothless commented on #447
I think the UX mocks I shared support this approach. Similar to how we will
handle multiple locations for travel.

On Thu, Jul 16, 2020 at 5:42 AM Stephen Ratcliffe <notifications@github.com>
wrote:

--
Shruti Chandra
UX Manager
shroo@google.com
212-565-3818

[2020-07-16 14:43] #533 closed

[2020-07-16 16:08] sratcliffe118 opened #571 "Bulk CSV upload slow for files with many rows"
Attempt to bulk upload file CSV and and seeing this error

<img width="547" alt="Screen Shot 2020-07-16 at 5 07 46 PM" src="https://user-images.githubusercontent.com/63205311/87695068-ee8d3c80-c786-11ea-859c-8886d785110c.png">

[2020-07-16 16:41] sratcliffe118 opened #572 "Mapbox missing key location data in the UK"
Mapbox has spotty coverage of Admin level 3 data such as Districts / Councils and Boroughs (specifically for London)

As an example the London boroughs of Southwark, Westminster and Kensington and Chelsea, 3 of the biggest areas are missing completely from the MapBox autocomplete options. This is on top of the USA county level issues we have run into.

I propose we meet to discuss this item with T

[2020-07-16 16:57] sratcliffe118 opened #573 "Bulk CSV upload in progress: Progress bar / UI template"
Feature: UI pattern to show that a CSV bulk upload is in progress, e.g. upload progress bar / spinner / time left to upload.

Currently: There is no indication that anything has happened or is taking place which caused me to click multiple times and think the process was broken.

Where: On the bulk upload CSV screen once the file has been submitted

[2020-07-16 16:57] sratcliffe118 commented on #573
Current UI has no indication as to state of the upload.

![Screen Shot 2020-07-16 at 5 57 10 PM](https://user-images.githubusercontent.com/63205311/87700159-cd7c1a00-c78d-11ea-9f5e-87d8ec7981e9.png)

[2020-07-16 16:59] axmb opened #574 "Manual entry is rejected if client time (Date.now()) is ahead of data service time (Date.now())"
**Describe the bug**
Manual entry is rejected if client time (Date.now()) is ahead of data service time (Date.now()).

**To Reproduce**
I can't repro, but there's a recording (soon) available for the curator UXR session in which this came up. This error message won't be visible, but I cross-checked against our cluster logs:

[code]

**Expected behavior**
New cases shouldn't be susceptible to this

[2020-07-16 17:12] sratcliffe118 commented on #572
**Summary of issues**

**England**
- Missing London Borough information: Westminster, Southwark, Lambeth, Tower Hamlets, Hammersmith and Fulham, Richmond upon Thames
- Missing district level data: Example, Ribble Valley
- Mixed regions coverage:
Included: West Midlands, London
Not included: South West, South East, East of England, East Midlands. Yorkshire and The Humber, North West, North East

**

[2020-07-16 17:50] axmb commented on #571
It's working, but it's working rather slowly. I think there are two issues to address, here:

1. There needs to be a progress indicator (#573).
2. Upload of large files (the one in question was ~40k rows) _should_ be faster. I'll repurpose this issue for that.

[2020-07-16 19:37] sratcliffe118 opened #578 "Number of records in the Line list view increases as move through tabbed pages"
Bug: The total number of records based on the search increase as you go through the tabbed pages
![Screen Shot 2020-07-16 at 8 34 38 PM](https://user-images.githubusercontent.com/63205311/87714618-ed1e3d00-c7a3-11ea-8ccb-2d58aa3b7dd8.png)

Steps to recreate
1. Search by the keyword: Scotland
2. Go to the bottom of the line list view
3. Select 100 rows per view
4. Note the number of records meeting

[2020-07-16 22:09] shroothless commented on #573
![image](https://user-images.githubusercontent.com/67452108/87727691-6fe8cd00-c78f-11ea-89f5-1e244619f2c9.png)
 Can we do this?

[2020-07-16 23:40] shroothless commented on #329
The box should turn green after all required fields in a section are entered without any errors.

[2020-07-17 01:20] axmb commented on #573
Yep! I implemented something similar earlier today. I'll submit that, and tweak/move that into position when I move the buttons.

[2020-07-17 08:22] allysonjp715 commented on #329
There are only 3 required fields in the whole form, each in different sections (source info, location, confirmation date). What should we do in the sections that don't have any required fields?

[2020-07-17 09:22] shroothless commented on #329
Ah, I didn’t quite realize that. Let me think about this and get back to you

On Fri, Jul 17, 2020 at 4:22 AM allysonjp715 <notifications@github.com>
wrote:

--
Shruti Chandra
UX Manager
shroo@google.com
212-565-3818

[2020-07-17 09:27] #449 closed

[2020-07-17 09:34] allysonjp715 commented on #475
The only bug left in the deck is adding the tooltips to the sections which is blocked on copy. @shroothless who created the copy for the fields? Could they also add some for the sections? Thanks!

[2020-07-17 10:06] allysonjp715 commented on #475
I see what I asked for is covered in #562. I'll close this bug out and track there. Feel free to reopen or create another bug for more UX issues.

[2020-07-17 10:06] #475 closed

[2020-07-17 10:07] allysonjp715 commented on #562
Could we add copy for New Case Entry sections? @shroothless said we want tooltips for sections rather than fields.

[2020-07-17 10:33] allysonjp715 commented on #551
Recently remembered that we'll need to surface the case ids in the linelist because in the new case entry flow we have an input for "linked case ids".

[2020-07-17 10:37] allysonjp715 commented on #471
As per slack discussion, there could also be a case with a "Recovered" outcome that wasn't confirmed with a test until after recovery. I don't think there are any restrictions we could put here that would fit 100% of cases, so going to close this out. Feel free to reopen if anyone disagrees!

[2020-07-17 10:37] #471 closed

[2020-07-17 10:38] #463 closed

[2020-07-17 10:44] #458 closed

[2020-07-17 10:48] allysonjp715 commented on #444
@shroothless we should sort out the UX pattern for unknown fields in general. Right now there are some dropdown fields that have "Unknown" values e.g. gender. In the database we have decided to leave this field as not set, rather than setting a value of "Unknown".

In the UI do we want to have the option to specifically choose "Unknown" rather than not setting the field? We could also have both op

[2020-07-17 10:52] allysonjp715 commented on #454
Over to Shru to spec out

[2020-07-17 10:54] allysonjp715 commented on #450
@shroothless could you spec out how this will look in the new case entry form?

[2020-07-17 10:55] allysonjp715 commented on #438
Duplicate of #562

[2020-07-17 10:55] #438 closed

[2020-07-17 11:02] allysonjp715 commented on #578
@sratcliffe118  Which environment are you doing this in?

I just reproduced the steps in dev and couldn't reproduce the issue.

[2020-07-17 14:23] #459 closed

[2020-07-17 14:33] allysonjp715 commented on #328
Fields that should have free text options after selecting other:
- places of transmission
- method of travel
- Occupation

[2020-07-17 17:49] axmb commented on #574
Bizarrely, this reoccurred (consistently) in today's UXR session. Logs excerpt is ~identical.

[2020-07-17 20:03] shroothless commented on #454
Is the ask to enter an ID instead of a URL, in addition to? I'm sorry I'm not following.

[2020-07-20 07:14] dakrownie commented on #426
@attwad Welcome back!
This is an open issue with the MapBox API. PTAL.

[2020-07-20 08:50] attwad commented on #486
Yup, known issue but I haven't been able to figure out why this is happening yet...
As a short-term solution until we figure out what's going on with the passport.js integration I suggest moving to different chrome profiles instead of signing into multiple account in the same chrome profile. This is what I use personally between my work/personal profile, it gives you synchronization across all pro

[2020-07-20 08:55] attwad commented on #426
Hmm so we're in the same position as when I left, we already had identified the counties in the tileset API but optimally we wouldn't have to do two queries (or even upload our own tileset!) that's quite frustrating...
I could look into doing that tileset query as mentioned in Jared's comment from mapbox engineers, if it turns out too cumbersome we'll have to figure another way out.

[2020-07-20 08:57] attwad commented on #572
I am back, this is similar to #426 hopefully the tileset/boundaries APIs can give us that information, I should have more clarity on it after I got a bit more familiar with those.

[2020-07-20 09:25] attwad opened #589 "modal popup for new case not dismissed on history.back()"
**Describe the bug**
Pressing back when modal popup of new case is shown should dismiss the modal, instead the page behind it goes back.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to dev-curator.ghdsi.org
2. Click on linelist to go to /cases
3. Click on Create New -> Line list Case
4. Press back

**Expected behavior**
The modal disappears and we're back /cases.
Instead the page behin

[2020-07-20 09:32] attwad commented on #572
Ah that's actually different, there are NO results at all for southwark, london. That's problematic indeed and the tileset API wouldn't help at all... We can:
1. ask mapbox folks why there are no London Boroughs in their data
2. figure out a way for curators to manually provide geocoding information when there are no results
3. plug-in another geocoder as fall-back method

@JaredHawkins could you

[2020-07-20 09:45] allysonjp715 commented on #454
Sorry should've put some more information in from conversations we've been having. There will be two IDs: one ID is the ID we create for our database. This is the "Unique Case ID" in the schema, and will be generated by our database and not entered by the user. There is another ID called the "Data Source ID" in the schema, which is what this bug is requesting. Some sources provide their own IDs di

[2020-07-20 09:52] attwad commented on #589
Also if we can fix the fact that the /cases/new URL was lost when moving to the modal dialog that'd be great, there's no way to link to a new case or to open the app directly on the modal dialog.
I don't know how this got implemented but when the modal popup is shown we should push /cases/new to the URL history, and if we go to that URL it should show the dialog also.

[2020-07-20 10:12] dakrownie commented on #426
Thanks Tim! Please let me know if you need me to do anything.

[2020-07-20 10:46] JaredHawkins commented on #572
@attwad @sratcliffe118 Happy to email Mapbox, but can you give me a bit more info (and maybe some example queries)?  And can you please confirm if you have also looked at the Boundaries API for the same locations?  Thanks!

[2020-07-20 10:51] attwad commented on #572
Stefen summarized the issue in https://github.com/open-covid-data/healthmap-gdo-temp/issues/572#issuecomment-659549805, I also checked that searching for "Southwark" in their geolocation api playground didn't return the Borough as expected so this is unrelated to us using the permanent places API endpoint.

This is also unrelated to the boundaries API, we would use the boundaries API to get the ri

[2020-07-20 11:05] JaredHawkins commented on #572
I saw Stephens comment, but I don't understand.  Are you searching for a Borough and getting 0 results?  If you search for other locations within the Borough, does that work?  If so, is any Admin 3 (I think that is Borough) info returned?  Is all of this true with districts too (I don't really understand the difference between the two)?  I also don't understand the mixed regions breakdown comment.

[2020-07-20 11:10] attwad commented on #572
Correct, searching for "Southwark, London" gives no usable results.
![image](https://user-images.githubusercontent.com/1255432/87931307-de78a400-ca89-11ea-81bc-035d204c5cc0.png)

Even the first result in there (the station) doesn't have Borough information in its context:
[code]

I can't speak for the usefulness of Borough information but I suspect if this bug was filed it means that some data is

[2020-07-20 11:40] JaredHawkins commented on #572
Thanks!  @sratcliffe118 can you also give me examples of other similar strings (same Admin level) returning results?

[2020-07-20 15:42] allysonjp715 commented on #589
Fixed by https://github.com/open-covid-data/healthmap-gdo-temp/commit/c4d18e4ccdf674bcfb11f7328b7fa3a7693b57cf which accidentally wasn't PRed

[2020-07-20 15:42] #589 closed

[2020-07-20 17:40] shroothless commented on #454
Per our chat, let's try this. Let me know if you need anything else. @sratcliffe118 prolly need to reflect this in the schema too.

![image](https://user-images.githubusercontent.com/67452108/87968296-30bbc400-ca8e-11ea-86e7-fb3114fbaae4.png)

[2020-07-20 18:19] allysonjp715 commented on #454
Thanks, Shroo! Ah, yes, I had it wrong when I said this was the "Data Source ID" from the schema. That row was referring to an ID for the entire source document. We'll need to add another row in the linelist model doc for the source entry ID.

[2020-07-20 21:20] axmb commented on #571
Retroactively tagging #584, which is the first change to speed this up.

[2020-07-20 21:57] axmb commented on #573
To update: I'm working through #571 and once done will swing back to bring the bulk upload UI to spec (including this specific issue).

[2020-07-21 08:25] attwad commented on #486
Okay I found the solution in https://github.com/jaredhanson/passport-google-oauth2/issues/18 and verified that it worked, will send a fix.

[2020-07-21 09:03] #486 closed

[2020-07-21 09:34] #454 closed

[2020-07-21 11:01] allysonjp715 opened #600 "Navigate to /cases after successful bulk upload"
Similar to single case entry. Highlight added/edited cases in linelist table.

[2020-07-21 12:01] #328 closed

[2020-07-21 12:07] dakrownie commented on #550
@attwad please comment here.

[2020-07-21 12:10] attwad commented on #550
@SpencerMarks-IDHA has been running the CSV generation job as an aws batch job since at least 2 weeks ago there's no need for me to run it anymore. Please check with him for the status of that job.

[2020-07-21 13:56] #600 closed

[2020-07-21 16:03] shroothless commented on #428
Yes. please add a hint text that says  "Date format
YYYY/MM/DD"

[2020-07-21 18:06] shroothless commented on #450
Sure. It would be the same as the new case entry form but all the fields would be populated.
Curious if we would let the curator save the case if they didn't change it at all.

[2020-07-21 19:09] attwad opened #603 "Need proper UX flow for how to enter custom geocodes"
@shroothless we need to define how to specify geocodes manually to account for incomplete results from geocoding services, this is live in dev so you can test there but here's a summary of the current status:

The form section without a location looks like that:
![image](https://user-images.githubusercontent.com/1255432/88078788-275d5500-cb7d-11ea-942c-c872a96d4db5.png)

When you search for a loca

[2020-07-21 20:47] khmoran commented on #574
![](https://github.trello.services/images/mini-trello-icon.png) [Dataserver should populate (most) version data](https://trello.com/c/X0icPhIz/263-dataserver-should-populate-most-version-data)

[2020-07-21 22:45] shroothless commented on #444
We had decided that we wanted users to deliberately select Unknown and prioritize accuracy over efficiency. Since many of these fields are not required and the order of the fields doesn't necessarily match the source they are curating from. I'd prefer to keep the unknown option until we hear that it's really slowing people down.

[2020-07-21 22:57] shroothless commented on #329
Can we check the mark when the user advances to the next section?

[2020-07-22 07:58] dakrownie commented on #578
@sratcliffe118 I assigned this to you so you'll see it when you get back. Allyson is not able to reproduce the issue.

[2020-07-22 08:23] attwad opened #607 "Rename org and repo"
We need to be Global.Health not open-covid-data and we need a repo name that is not temporary.

https://docs.github.com/en/github/setting-up-and-managing-organizations-and-teams/renaming-an-organization

https://docs.github.com/en/github/administering-a-repository/renaming-a-repository

Happy to volunteer and break everyone once we have a repo name and are ready to go.

[2020-07-22 08:36] dakrownie commented on #607
@attwad Who needs to make the decision on this?

[2020-07-22 08:38] attwad commented on #607
Long term owners (so not us), perhaps Jared, Moritz and Spencer?

[2020-07-22 08:42] allysonjp715 commented on #450
We could do the copy to new entry, but I think it would also be useful to have a field in the new case entry for "number of entries to submit" or something similar. If they have 5 cases that are all the same, it would be easier to put 5 somewhere in the form than having to click copy to new case 5 times.

[2020-07-22 08:46] allysonjp715 commented on #329
I assume we will only want to mark a checkbox if they have filled out one field *and* they have advanced to the next section? We wouldn't want them to forget about a higher section because they skipped over it. This is roughly the behavior we currently have.

[2020-07-22 08:51] dakrownie commented on #607
@JaredHawkins Please make the call or direct this to someone who can.

[2020-07-22 10:51] JaredHawkins commented on #607
Moritz owns this repo, though perhaps we should have it transferred over to BCH as part of the handoff?

[2020-07-22 11:05] attwad commented on #469
I changed that to "No locations" yesterday, I think we can make it "No locations, type to search" or something like that to make it clearer.

[2020-07-22 11:44] dakrownie commented on #607
@mougk over to you.

[2020-07-22 16:49] shroothless commented on #450
I see, if they are submitting 5 I think we should point them to the bulk
option right? And do we think all 5 cases would be identical...no right.
I'm curious what Stephen things here.

On Wed, Jul 22, 2020 at 4:42 AM allysonjp715 <notifications@github.com>
wrote:

--
Shruti Chandra
UX Manager
shroo@google.com
212-565-3818

[2020-07-22 17:58] axmb commented on #539
Spec'd UX was added in #601.

[2020-07-22 17:58] #539 closed

[2020-07-22 19:10] #571 closed

[2020-07-23 07:58] attwad commented on #428
I am unclear how such hints should be displayed so I'd appreciate some guidance (what does "pre material field formatting" means?). Should the hint always be displayed or be hidden behind a tooltip icon (?) ?

[2020-07-23 08:41] dakrownie commented on #428
@shroothless Please provide guidance.

[2020-07-23 08:44] outbreakprepared commented on #607
did we make a final call here ?

[2020-07-23 08:55] attwad commented on #428
I could change the error message to this:
![image](https://user-images.githubusercontent.com/1255432/88268596-fdb64200-ccd2-11ea-9d1b-e4d3115f840a.png)

I hope that's what Stephen meant.

[2020-07-23 09:01] #469 closed

[2020-07-23 09:13] allysonjp715 commented on #450
This would be addressing the case where there are 5 identical cases. Bulk has a column for "number of cases to submit", which is what we are trying to mimic in the single entry flow.  We could point them to bulk, but if users like the single entry flow I think this would be a small edition to make it much more powerful. I was thinking it would be as simple as a number field at the end of the form

[2020-07-23 15:46] #531 closed

[2020-07-23 16:27] shroothless commented on #450
Ok that sounds good to me, it would default to 1 right? Stephen's proposal
works for me.

On Thu, Jul 23, 2020 at 5:13 AM allysonjp715 <notifications@github.com>
wrote:

--
Shruti Chandra
UX Manager
shroo@google.com
212-565-3818

[2020-07-24 08:24] attwad opened #617 "Potentially revisit decision to use modal dialogs or polish them enough to keep"
Warning: this is my opinion, I'm not a UXer, just speaking from an engineering perspective. I'll try to argument simply why I believe huge modal dialogs are not a good fit for this project.

**Describe the bug**

In no particular order:

## 1
Start page looks like this:
![image](https://user-images.githubusercontent.com/1255432/88371410-42ee7880-cd94-11ea-83c1-09ca9d5f5385.png)

When you open a mo

[2020-07-24 08:50] allysonjp715 commented on #450
Okay, thanks. Will add to the bottom of the form.

[2020-07-24 09:26] sratcliffe118 commented on #450
Catching up here, and proposal SGTM. thanks

[2020-07-24 13:37] allysonjp715 opened #618 "Symptoms should clear if changing symptom status"
To reproduce:
- Click symptomatic for symptom status
- Add a symptom
- Click unknown for symptom status

Issues:
- Green checkmark is still shown in table of contents
- The symptom is added to the datalist

[2020-07-24 13:42] attwad opened #619 "Generate acronyms for preexisting conditions"
So that the suggest box can suggest using those acronyms.

[2020-07-24 13:43] attwad commented on #428
I have another idea for the date format, we can tune the mask I think.

[2020-07-24 13:49] sratcliffe118 commented on #578
This was in Dev, tried again and couldn't reproduce it. Closing

[2020-07-24 13:49] #578 closed

[2020-07-24 14:06] attwad commented on #428
Heh, no :(
So you can specify a custom mask isntead of "____/__/__" but you can only specify a single custom character that gets replaced. So I can change to "XXXX/XX/XX" but can't make it "YYYY/MM/DD".

[2020-07-24 14:06] #428 closed

[2020-07-24 14:07] attwad commented on #428
FTR https://material-ui-pickers.dev/api/KeyboardDatePicker

[2020-07-24 14:32] allysonjp715 commented on #428
Filed https://github.com/mui-org/material-ui-pickers/issues/2031 to ask for "YYYY/MM/DD" as a mask

[2020-07-24 15:19] #394 closed

[2020-07-24 15:19] #574 closed

[2020-07-24 15:47] allysonjp715 commented on #618
This will also happen with Travel History or any field that is hidden from the UI, but not removed from the formik form

[2020-07-24 15:47] sratcliffe118 commented on #572
Sure:
Place 1: Lewisham, London, Greater London, England, United Kingdom
Place 2: London Borough of Barnet, Greater London, England, United Kingdom
Place 3: Hackney, London, Greater London, England, United Kingdom

[2020-07-24 16:22] attwad opened #622 "Unexpected behavior when restricting geocoding types"
Reported by @axmb during batch import of UK data.

**Describe the bug**
searching for a district should return features = [theDistrictObject, theRegionObject, theCountryObject]
Searching for that same district but specifying types=Region,Country in the request often doesn't return anything.

**To Reproduce**
Steps to reproduce the behavior:
Search for "Bracknell Forest, United Kingdom" with types=

[2020-07-27 07:25] attwad commented on #607
as per slack poll, it will be `globaldothealth/list`, will prepare the changes now.

[2020-07-27 07:51] dakrownie commented on #607
Thanks @attwad!

[2020-07-27 07:57] attwad opened #625 "Start adding tooltips to the various case form fields"
**Is your feature request related to a problem? Please describe.**
Was mentioned a few times during the UX review, we can start adding a few tooltips here and there to make it obvious what some things are meant to be.

https://material-ui.com/components/tooltips/

![image](https://user-images.githubusercontent.com/1255432/88517719-97416480-cfef-11ea-9963-45d385a02bde.png)

[2020-07-27 07:58] attwad opened #626 "Add edit button in case details page"
The mocks now have an edit text button next to the case ID, we should add it.

![image](https://user-images.githubusercontent.com/1255432/88517845-c7890300-cfef-11ea-822c-5e9de261d118.png)

[2020-07-27 08:32] allysonjp715 commented on #625
Duplicate of #562
Code is in place once copy is written: https://github.com/open-covid-data/healthmap-gdo-temp/blob/main/verification/curator-service/ui/src/components/common-form-fields/FieldTitle.tsx

[2020-07-27 08:32] #625 closed

[2020-07-27 08:35] attwad commented on #625
ohh nice :) thanks

[2020-07-27 09:09] #626 closed

[2020-07-27 09:51] sratcliffe118 commented on #619
@attwad do we need someone from BCH or a set of curators to take a pass through these to confirm they make sense?

[2020-07-27 09:59] sratcliffe118 commented on #551
Can we lock in the requirement for Case IDs as a decision here, I think the curator experience both for input / discussing specific cases and linking cases are strong enough for this to be supported

[2020-07-27 09:59] sratcliffe118 commented on #550
Has this been resolved? Can we close this out?

[2020-07-27 10:01] sratcliffe118 commented on #439
Yes lets go with the most commonly used symptoms in the DB, no hardcoding

[2020-07-27 10:02] allysonjp715 commented on #551
Yes we're currently showing Case IDs and plan to keep it. Other table columns in the Linelist are still up for discussion AIUI.

[2020-07-27 10:03] sratcliffe118 commented on #329
Ideally experience here is the user only gets a green tick for a sections when:
1. They have entered correctly formatted entries for the required fields in that section
2. Navigate to the next section (i.e. they should not see the tick as soon as the required field is complete, they need to actively move to the next section before the tick appears)

[2020-07-27 10:11] sratcliffe118 opened #629 "Manual data entry: Source Entry ID"
This should be auto populated by the system as per the standard line list schema (https://docs.google.com/spreadsheets/d/1qOnGJQg1gtbmNxAW8c9hC1TvFpIQmSnORD-x-iXrpJ0/edit#gid=0)

Currently this is appearing as a free text field
![Screen Shot 2020-07-27 at 11 09 44 AM](https://user-images.githubusercontent.com/63205311/88530864-eab8b000-cff9-11ea-88d8-1f408a187aea.png)

[2020-07-27 10:14] sratcliffe118 opened #630 "Usability issue: Entering new source URL"
Issue: It was unclear that after copying the source into the field, the you need to click just below it in order to actually successfully enter the source. Led to multiple efforts. "I didn't realize I had to select it" (In order to "add new source")

![Screen Shot 2020-07-27 at 11 12 30 AM](https://user-images.githubusercontent.com/63205311/88531140-4aaf5680-cffa-11ea-9a95-538322ddecd3.png)

[2020-07-27 10:14] allysonjp715 commented on #629
This is the source *entry* id, as opposed to the source id which is system generated. Details here: https://github.com/globaldothealth/list/issues/454

The Source entry ID is the ID that the source gave the case, and needs to be added to our DB as well. We need to add this to the standard line list schema. Open to other names if this name is confusing!

[2020-07-27 10:18] sratcliffe118 opened #631 "Source entry: Allow for non web URL entry"
Request: Source entry supports non web url entry

Requesting more details

@acansler Can we add a few examples of the types of entry required to support here. Current working assumption was there would be a web url that would point to the source of the data e.g. A Web URL that allows for a PDF or CSV to be downloaded.

The URL details the data source that we would reference e.g. Country X public h

[2020-07-27 10:20] allysonjp715 commented on #630
We can change this so that you don't have to click the option.

[2020-07-27 10:22] sratcliffe118 opened #632 "Manual data entry: Data source entry"
Bug: Modify data source field to allow curators to copy paste the source, and if source already exists, not having to select it from the drop down.

@allysonjp715 can we support this functionality with the current form? Essentially an auto complete without a picker if the exact source already exists?

If this is more than a small tweak, @shroothless can we tweak the UX to make clearer to the curat

[2020-07-27 10:32] attwad commented on #619
The file is here:
https://github.com/globaldothealth/list/blob/main/suggest/preexisting_conditions.txt

We have about 9K suggestions in this dialog, a good thing would be for someone knowledgeable to have a pass at it first and remove some of the cruft.

Then we have two choices, do we always want to see the acronyms in the form and the details pages? if so we have to generate them and store them

[2020-07-27 10:33] sratcliffe118 opened #633 "Manual Entry: Occupation field free text UI"
**Feature request**
For fields that allow a free text entry for those cases where the drop down options do not provide the required entry make the free entry option clearer to the curators.

**Curator feedback:** was not clear that there was a free field option if the drop down list did not cover the option needed.

**Example:** Entered footballer in the occupation field. This is is not an option

[2020-07-27 10:37] allysonjp715 commented on #632
Dup of #630 ?

We can certainly remove the need to click the option when it's a new source. For an existing source I'll need to think it through more...

[2020-07-27 10:38] allysonjp715 commented on #632
This also would be a lot easier if we didn't have source names. I know that's been a contentious issue and we we're hoping for some UXR. @acansler do you have any data there? Or could we prioritize it?

[2020-07-27 10:41] sratcliffe118 opened #634 "Manual entry: Occupation field, quick complete options"
Feature request: Provide the 10 most popular occupations in the database as quick complete chip options. (Same UX pattern as is used for Symptoms see below)

![Screen Shot 2020-07-27 at 11 41 02 AM](https://user-images.githubusercontent.com/63205311/88533368-1dfd3e00-cffe-11ea-97f4-36db7ca906bf.png)

[2020-07-27 10:49] sratcliffe118 opened #635 "Manual entry: Make date format required clearer"
**Curator testing feedback**
Date format unclear, needs clear guidance on YYYY/MM/DD, while entering.

All fields with date format as entry

[2020-07-27 10:51] sratcliffe118 opened #636 "Manual entry: Date picker allowed future dates and limited dates in past"
Bug: Date picker allows forward dates to 2100, but only back to 2019 (-1 year).

Change: Allow the picker to go back a maximum of 3 years and no forward data allowed as a valid input option

[2020-07-27 11:12] #607 closed

[2020-07-27 11:15] sratcliffe118 opened #637 "Manual entry: Symptoms from unstructured sources"
**Curator feedback**
A curator may entering symptoms reported from a non-medical social media source, like Twitter. If a tweet lists "my head hurts", what should be entered?

@outbreakprepared
From an EPI perspective what is of value here? As I see it we have 3 options here:

1. The curator needs to use their judgement to enter a listed symptom. In example above headache would be the closest match

[2020-07-27 11:15] attwad commented on #430
Fixed by #436

[2020-07-27 11:15] #430 closed

[2020-07-27 11:20] sratcliffe118 commented on #619
SG, @lagood1 would you be able to take a pass through?

"Brucella abortus brucellosis" -> "Brucella abortus brucellosis (BAB)".
I agree with this  @attwad to confirm, if a curator was to search BAB, this option would come up? If so then I think this gives us what we need

[2020-07-27 11:24] sratcliffe118 opened #638 "Manual Entry: Place of transmission, free text and common selection for quick entry"
**Feature request**

1. Allow for a fee text option if the place of transmission for the case is not in the autocomplete list
2. Provide the most common place of transmission options in the database for quick entry (as is done for symptoms below)
![Screen Shot 2020-07-27 at 11 41 02 AM](https://user-images.githubusercontent.com/63205311/88536630-150f6b00-d004-11ea-86bc-5451973c9965.png)

[2020-07-27 11:32] attwad commented on #619
Yes it would suggest it.

[2020-07-27 11:41] sratcliffe118 commented on #629
Ah okay, got it now.

I think the naming is slightly confusing here as this is linked to the source information being added

I would propose the following:

1. Rename the field: Unique case ID from source
2. Provide copy in the form of a tooltip to explain the field.
Unique case ID: Enter the unique ID for the case if provided by the data source e.g. If the source provides the unique case ID of 18

[2020-07-27 11:42] sratcliffe118 commented on #630
SGTM

On Mon, Jul 27, 2020 at 11:20 AM allysonjp715 <notifications@github.com>
wrote:

[2020-07-27 11:42] sratcliffe118 commented on #619
Great, that approach LGTM

On Mon, Jul 27, 2020 at 12:32 PM Timothé <notifications@github.com> wrote:

[2020-07-27 11:43] allysonjp715 commented on #450
Fixed by https://github.com/globaldothealth/list/commit/0e973f53a79dfa3f4535d6373dea3957f9d2ad4a (accidentally didn't PR the change)

[2020-07-27 11:46] allysonjp715 commented on #629
SG. Is it okay if that copy is added to the tooltip next to Source at the top of the section? @shroothless said the tooltips should be per-section rather than per-field.

[2020-07-27 11:54] sratcliffe118 opened #639 "Linelist search: Ability to search based on CaseID"
Feature: Curators should be able to search the linelist based on the case ID

E.g. Currently searching the case ID (5f1b45499fd4e9dc80dc64af) returns no results. Case ID should be a searchable field within the linelist

CUJ: Supports the use case of curators discussing and needing to find, update or delete a specific case where they just have the ID

[2020-07-27 12:01] sratcliffe118 commented on #629
If we are going to do this (tooltip next to Source at the top of the
section) then i think we need to provide some more copy around the header
to explain the field and what is required as it might not be clear to the
curator without some context.

We can look at moving it to another section, but I don't see a good spot
that would fit.

@Shruti Chandra <shroo@google.com> WDYT?

On Mon, Jul 27, 2020

[2020-07-27 12:07] sratcliffe118 opened #640 "New line list case created: Make the toast and Case ID a link to the case"
**Feature request**
Make the case ID in the case created toast a link to the case details view

![Screen Shot 2020-07-27 at 1 03 51 PM](https://user-images.githubusercontent.com/63205311/88539953-12b00f80-d00a-11ea-97f5-fb77fdc2e40a.png)

[2020-07-27 12:27] allysonjp715 commented on #450
Reopening to address TODO: https://github.com/globaldothealth/list/commit/4305bf49196fc50d0ed8571e7aabbf5d9baf5c81

[2020-07-27 13:01] SpencerMarks-IDHA commented on #550
I believe Chris Remmel fixed this.

[2020-07-27 13:02] SpencerMarks-IDHA commented on #550
However, Chris is not a member of this repo so I can't show him this ticket/assign it to him.

[2020-07-27 13:24] sratcliffe118 opened #643 "Bulk successful upload: UX template consistency on successful upload"
UX template for successful bulk csv upload should be consistent with the manual data entry success screen

![Screen Shot 2020-07-27 at 2 20 44 PM](https://user-images.githubusercontent.com/63205311/88546796-cc13e280-d014-11ea-83d5-74ed8388f460.png)

![Screen Shot 2020-07-27 at 1 03 51 PM](https://user-images.githubusercontent.com/63205311/88546816-d209c380-d014-11ea-8373-d32d48b9023f.png)

[2020-07-27 13:31] sratcliffe118 opened #644 "Edit line list case: Submit button wording confused me"
Wording on the submit button when editing a line list entry

Change in Wording from 'Edit case' to 'Submit case edit'
Rationale: This confused me as thought it would take me to edit the case again (even though i was on the editing page). @acansler maybe one to test with the curators for the edit CUJ

![Screen Shot 2020-07-27 at 2 28 07 PM](https://user-images.githubusercontent.com/63205311/8854740

[2020-07-27 13:34] dakrownie commented on #550
I just pinged him on slack for his GutHub handle.

[2020-07-27 13:46] attwad commented on #635
Discussion is ongoing on the external dependency that we use, cf. https://github.com/globaldothealth/list/issues/428#issuecomment-663568224

[2020-07-27 13:50] attwad commented on #633
Why was this assigned to me? I believe this is pending UX no? I am unclear how to make it more obvious that free text is allowed.

[2020-07-27 13:52] sratcliffe118 opened #646 "Bulk CSV: Additional field columns to include in Bulk upload template"
**Feature Request**
Add the **bolded** data fields to the Bulk upload template

1. sourceEntryId
2. country
3. admin1
4. admin2
5. admin3
6. gender
7. ageRangeStart
8. ageRangeEnd
9. **Race / ethnicity**
10. **Nationality**
11. **Occupation**
12. dateConfirmed
13. **Method of confirmation**
14. **Symptom onset date: (Note when there is data entered into this field we should also set the field Symp

[2020-07-27 13:54] calremmel commented on #550
Hi all! I believe the source of this problem is in the sheet cleaner script in the nCov2019 repo. My theory is that there is a pull command placed before an add/commit command which is continually overwriting the newly pulled file with the old one, which has been identical since the process was moved to AWS on June 29th.

I've submitted a PR on that repository, which is waiting for approval. As so

[2020-07-27 13:56] sratcliffe118 opened #647 "Bulk CSV upload: Larger-than-memory (>50MB) files support (USA, Mexico)"
There are data sources that have larger than memory files e.g. USA, Mexico.
These files are updated with the latest status of the cases so there is a requirement to be able to support these size files on an ongoing basis.

USA: 180MB (and growing)
Mexico: 130MB (and growing)
It's expected more countries will be at the level soon

[2020-07-27 14:00] #444 closed

[2020-07-27 14:10] calremmel commented on #550
Hmm actually it looks like the PR was accepted, and the file is still the same length. I'll connect with Spencer and we'll give this another look.

[2020-07-27 14:14] sratcliffe118 opened #648 "Bulks CSV upload: Curator documentation"
**Feature request**
Curator instruction manual

Re-write of documentation, with focus on specific curator steps needed, with multiple clear examples

[2020-07-27 14:41] sratcliffe118 opened #649 "Bulk CSV Upload: New upload and error handling / correction process"
**Feature request**
Proposal for new error handling process a and bulk csv uploads CUJ  following the curator testing.

**Current process**
- Curator manipulates the data from the raw data source to the template CV format, both in terms of column order, but also content
- Curator uploads the file and submits
- File is processed and if all files pass then the data is uploaded to G.h list
- If any o

[2020-07-27 14:53] sratcliffe118 opened #650 "Bulk CSV: Add an Age range column (Age range: 0-9)"
**Feature request**
Add an Age range column alongside the existing age columns

**Rationale**
- Curator testing showed that a number of data sources provided data ranges in one column
- Curators were not able to split the ages into different columns.
- Simplify the process of data manipulation seen as key especially when large datasets in the CSV.
- Goal to automated and convert the data from the

[2020-07-27 14:58] allysonjp715 commented on #636
Which picker allowed future dates? I'm seeing disabled future dates and an error message:
![Screen Shot 2020-07-27 at 3 57 20 PM](https://user-images.githubusercontent.com/30459667/88557271-ea340f80-d021-11ea-9572-db3ed5b9a418.png)
![Screen Shot 2020-07-27 at 3 57 09 PM](https://user-images.githubusercontent.com/30459667/88557275-ebfdd300-d021-11ea-808f-7dfaf7ba2396.png)

I chose the minimum date

[2020-07-27 15:02] sratcliffe118 commented on #636
Ah I just saw the picker allowed you to select one, if there is validation
that prevents entry that is fine.
As a matter of interest did we set the limit to how far back you can go?

On Mon, Jul 27, 2020 at 3:58 PM allysonjp715 <notifications@github.com>
wrote:

[2020-07-27 15:09] #429 closed

[2020-07-27 15:13] allysonjp715 commented on #636
The date pickers I'm seeing don't let you select one. They are disabled buttons. Have you seen a date picker where you can select a date in the future?

Yes I chose the minimum date to be the first date we had recorded in the data so far, but can extend that if we want

[2020-07-27 15:31] sratcliffe118 commented on #636
I couldn't select, just found it strange was even an option.

Yes I chose the minimum date to be the first date we had recorded in the data so far, - **This is fine**

Closing bug as think has what we need

[2020-07-27 15:31] #636 closed

[2020-07-27 15:54] axmb commented on #649
Interesting trade-off, here.

- For the modest files we used in UXR testing, all-or-nothing was the expected, and IMO correct, behavior.
- For very large files (say, 10,000+ rows), I can imagine this partial behavior is better. Uploading this many rows takes time. It'd be unfortunate to validate 100,000 rows, and for a failure in the final row to require resubmitting the entire file.

It's a tough

[2020-07-27 19:00] sfph commented on #478
Hi there, I'd be happy to pick this (or another) project up :). I don't have permissions to claim however

[2020-07-27 19:00] scarpino commented on #649
Two thoughts.  1.) Often, if a few rows fail that's indicative of a bigger issue with the data set.  So, we might want to proceed with caution here.  But, 2.) What if we shard the csv into chunks in the browser and then spin off a separate worker to handle each chunk?  Then if a worker fails we would only have to handle re-uploading that chunk.  Maybe failure triggers a workflow to prompt and then

[2020-07-27 19:08] arcsingh110 commented on #485
I will be working on it.

[2020-07-28 09:25] #640 closed

[2020-07-28 09:25] #644 closed

[2020-07-28 12:08] sratcliffe118 commented on #649
Thanks Alex / Sam,

The main thrust of my proposal was to make the workflow easier for curators
especially with large CSV, so that if there are errors  they can be
identified easily and there is no painful reupload process
I certainly do not propose adding complexity or jeopardizing data
integrity, so very much open to these ideas.

If we state our main goals are:
1. Data integrity: We do not want

[2020-07-28 12:41] sratcliffe118 opened #660 "Line list case: Method of data entry field"
**Feature request**
Record and mark on the line list case entry the original method that was used to create and enter the data

Three data entry options

1.  Manual data entry
2. Bulk CSV upload
3. Automated data ingestion

This data would be made available to the users of the data in the dataset so they could see how the data was collected and entered into the G.h List. This variable is important

[2020-07-28 14:46] allysonjp715 commented on #660
Has this field been requested by users or the researchers? It feels a bit strange to me to add this field to the dataset given it's somewhat an implementation detail of the UI. Ideally all of our data is credible no matter which way it was entered into the system.

I see the need for a field saying if the case has been verified yet or not. Perhaps we could do that instead?

[2020-07-28 15:48] acansler commented on #631
Here's a representative example: An an early stage ebola outbreak, there could be a scenario where there are cases being collected by a health organization in the affected country/countries, but not currently available publicly. The organization or individual collecting that data could provide it to a curator in .csv (or other) form for bulk entry. Having a way for the curator to reference the ori

[2020-07-28 16:01] sratcliffe118 commented on #660
@scarpino for more information

the use case we discussed was where a researcher only wants to spot check themselves the raw source vs. line list data for manually entered line list cases. We know from research that researchers from JH did this in the early stages of the epidemic to triple check the data accuracy.

Sam anymore context you can you provide here?

[2020-07-28 16:21] sratcliffe118 commented on #649
Update following offline discussion with @axmb

- Goal of phase 1 is to get as many sources on auto ingestion as possible.
- Bulk CSV works to a level to support small / medium size files which such meet requirements
- Supporting large files through bulk CSV is out of scope for the project. Large files will need to be processed via auto ingestion
- New proposal for error handling for small / mediu

[2020-07-28 16:23] #649 closed

[2020-07-28 16:31] sratcliffe118 opened #662 "Bulk CSV upload: Error handling process, error reason in CSV for download"
**Feature request**
Redefined process to handle errors in data format in the bulk CSV file uploaded to G.h

**Currently process**
- User configures the data using the instructions and standard data format
- Submits the CSV via the curator portal
- Problem with data format rejects the entire upload
- Error message per row provided in the UI

**Proposed process and UI**
- Curator follows the same pr

[2020-07-29 09:03] #439 closed

[2020-07-29 09:52] attwad commented on #619
I've added a script and generated the list of basic acronyms for preexisting conditions, whoever does a pass can give some feedback, I can amend accordingly.

[2020-07-29 10:01] allysonjp715 commented on #329
There are only 3 required fields in the whole form. What should we do in sections that don't have required fields?

I don't think it's feasible technically to check if they have moved to the next section. I'm also not sure I see the benefits. Wouldn't you want to know a field is correct/complete before moving on to the next one?

[2020-07-29 11:44] #618 closed

[2020-07-29 11:47] sratcliffe118 commented on #329
Thanks Allyson, raise some good points here.

@acansler based on the feedback from testing what are the thoughts on UXR

Proposed rule set
1. If the section has a mandatory field then that must be completed and valid for a green tick box to appear
2. If a section does not have any mandatory fields then to get a green check box a field must be populated and not be failing validation. Thus if one fi

[2020-07-29 11:52] allysonjp715 commented on #329
SG. The proposed rule set is the existing functionality, except for part of 1. Will add that.

[2020-07-29 11:55] sratcliffe118 commented on #329
Ack, great!

[2020-07-29 12:23] attwad opened #671 "Migrate from docker hub to github packages"
Would simplify things a bit as well as provide better tags for our images.

Necessary work is already done in https://github.com/globaldothealth/list/pull/219, just waiting for containerd/containerd#3291 to be fixed.

[2020-07-29 13:01] #329 closed

[2020-07-29 13:04] attwad commented on #426
We have to account for the fact that no geocoder will have 100% recall (and no 100% precision either), so I made the Location part of the form editable: if the mapbox geocoder fails one can enter the location manually as it was done previously in the sheets system.

Another way to do things when no results are given by the geocoder: one can also now try something in the vicinity and then fix the f

[2020-07-29 13:04] #426 closed

[2020-07-29 13:04] attwad commented on #572
We have to account for the fact that no geocoder will have 100% recall (and no 100% precision either), so I made the Location part of the form editable: if the mapbox geocoder fails one can enter the location manually as it was done previously in the sheets system.

Another way to do things when no results are given by the geocoder: one can also now try something in the vicinity and then fix the f

[2020-07-29 13:04] #572 closed

[2020-07-29 13:34] attwad opened #673 "Deploy using gitops/flux"
Right now dev uses the $latest tag which is suboptimal for many reasons (it gets overriden every time an image is built but EKS doesn't pic up the new image right away, that's by design and is WAI).

To have continuous deployment we should use Flux which can be installed on EKS easily it seems: https://eksctl.io/usage/gitops/

We would keep the secrets management out of git as it should be but the

[2020-07-29 14:26] #573 closed

[2020-07-29 15:08] lagood1 commented on #619
Yes, I will take a look and get the edited file back to you

[2020-07-29 19:17] attwad opened #679 "Implement full search API"
Pendign exact mocks/behavior from @shroothless but we should implement the search bar full syntax to be able to select columns and to full text search in the same spot.

![image](https://user-images.githubusercontent.com/1255432/88843116-e4d0f380-d1e0-11ea-92d3-8a31d0b30ab8.png)

Bonus points for recent searches showing up, this is a nice to have though.

[2020-07-29 19:18] attwad commented on #639
Dupe of #679 , closing.

[2020-07-29 19:18] #639 closed

[2020-07-29 19:21] #450 closed

[2020-07-29 19:50] scarpino commented on #660
Two thoughts:

1.) I've worked on past projects where individuals were asked to manually enter lots of records as a part of a research project.  You could "watch" the errors go up as individuals manually entered data for longer and longer periods of time.  Having meta-data fields associated with data entry allowed us to monitor for these issues.

2.) If we end up (or when) running into issues with

[2020-07-29 22:29] axmb commented on #647
We've decided that these types of files won't be officially supported via bulk upload (instead capping the recommended file size at ~10k rows of data). This is a nice to have, in case an adventurous curator tries such an upload, but I'll deprioritize for now.

[2020-07-30 09:47] allysonjp715 commented on #630
Duplicate of #632

[2020-07-30 09:47] #630 closed

[2020-07-30 11:36] sratcliffe118 opened #685 "Dev Curator Portal: Mongo charts for data are blank"
Mongo charts on the G.h curator portal are blank (dev). See screenshot

![Screen Shot 2020-07-30 at 12 35 41 PM](https://user-images.githubusercontent.com/63205311/88918395-46d13d80-d261-11ea-9379-8488e650a7ce.png)

[2020-07-30 13:13] #632 closed

[2020-07-30 14:40] #685 closed

[2020-07-30 19:15] khmoran opened #689 "Source name is cleared if source URL is edited"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to new case form
2. Enter a new source URL (not existing in sources)
3. Enter a name for the new source
4. Edit the source URL
5. Note that the source name is cleared

**Expected behavior**
Source name should still be there

[2020-07-31 08:42] attwad opened #693 "Add link in UI to report issues"
Could be a simple link to https://github.com/globaldothealth/list/issues/new/choose

[2020-07-31 09:54] #693 closed

[2020-07-31 13:20] #679 closed

[2020-07-31 13:25] #689 closed

[2020-07-31 13:43] allysonjp715 commented on #638
1 is now implemented. I wonder if we want 2. Places of transmission is fairly straightforward and only has 30 options to choose from, compared to thousands of available options for symptoms.

[2020-07-31 14:26] #635 closed

[2020-07-31 15:24] calremmel commented on #550
Update on this: the sheet cleaner script is actually working fine, it's the line list data source that is paused in terms of updates. I believe that for the time being this issue can be closed out!

[2020-07-31 17:44] axmb opened #702 "Bulk CSV: Upload 10k cases in under 1 minute"
**Describe the solution you'd like**
We want to establish a reasonable upper bound on the recommended data size for bulk upload. We've chosen that to be 10k cases, and since it's advertised as an acceptable limit, we want it to complete in a similarly reasonable amount of time. For that, we've chosen <1 minute.

**Describe alternatives you've considered**
- Bulk upload is slower, but provide progr

[2020-07-31 17:48] axmb commented on #702
Related PRs:

#584
#594
#605
#642
#680
#691
#701

[2020-08-03 13:24] allysonjp715 commented on #617
From eng perspective we've fixed all but 1, which I think is the smallest bug and not worth the effort to fix. Closing out - feel free to reopen with more thoughts.

[2020-08-03 13:24] #617 closed

[2020-08-03 13:35] lagood1 commented on #551
I think the columns proposed earlier work.. interested to know what @outbreakprepared thinks. Thanks!

[2020-08-03 13:39] #650 closed

[2020-08-03 18:31] axmb commented on #662
Shru/Aaron -- should I go ahead with what we have spec'd [here](https://www.figma.com/file/9HJlRkTBCMEQdkJ6WQJYkv/061120_Global.Health-Line?node-id=854%3A0)? With the CSV containing the original data in addition to a new final `error` column.

[2020-08-03 19:31] acansler commented on #662
Sounds good to me. I'll update the re-write of the documentation to reflect the change.

Small nit: It may not be immediately clear to curators that they will be downloading a .csv file with the errors. Might be some small friction there (at least initially).

[2020-08-04 08:41] allysonjp715 commented on #532
With that last PR dates are in the local timezone rather than UTC, we should change them to be standard UTC so they don't change when viewing in different timezones.

[2020-08-04 10:05] #619 closed

[2020-08-04 10:31] sratcliffe118 commented on #532
Good point @allysonjp715

@scarpino @outbreakprepared to confirm using UTC as the standard timezone in the data

[2020-08-04 10:46] sratcliffe118 opened #713 "Addition of an upload ID for each Bulk CSV and Automated ingestion upload"
**Feature request**
1. Addition of an upload ID for each Bulk CSV and Automated ingestion upload
2. Upload ID should be searchable in the line list screen, so cases can be filtered to specific uploads

**Rationale**
- Curator needs to filter and do some spot checks of the data quality for a specific upload
- Curator finds a large scale issue with an upload (column completely missing for 5,000 rows

[2020-08-04 11:02] sratcliffe118 commented on #660
Update: we have a feature request for an upload ID which will allow for a curator to filter down the line list based on a specific upload. For example if an automated upload goes wrong due to a parser issue then a curator will be able to filter the line list cases down to the specific group from the upload and take action on those cases as a group.

@scarpino @outbreakprepared
Given the above, do

[2020-08-04 11:15] #532 closed

[2020-08-04 11:15] attwad commented on #532
Yes always use UTC please, although really in our case we don't go to the hour granularity when reporting cases so there should be little difference.

[2020-08-04 12:00] scarpino commented on #532
I agree. UTC.

[2020-08-04 13:08] axmb commented on #662
Cool, sounds great.

One other scenario to account for is formatting errors in the CSV itself. For instance, if the uploaded CSV is missing a required column (or, more strictly, if it contains an unrecognized column). We could add the full error message to each row in the downloadable CSV (in addition to adding missing columns), or display a message in the UI.

[2020-08-04 13:13] axmb commented on #646
@allysonjp715 made a fair point here, which is can we reliably say that `symptom status` should be set to `Symptomatic`, as opposed to `Presymptomatic`?

It seems that `Symptomatic` will be appreciably more popular (I'm not sure I've seen any sources with the latter), but the field could technically contain either given the presence of symptoms.

[2020-08-04 13:56] axmb opened #718 "Bulk upload: Remainder of linelist fields"
We've added fields that cover the sources we initially plan to bulk upload (re: #646).

We should add the remainder of fields, such that any source can be bulk uploaded with full resolution.

[2020-08-04 14:50] attwad opened #719 "Geocoding locally doesn't work when no admins are present in mongo db"

[2020-08-04 15:20] attwad opened #720 "Consider storing whether a geocode was entered manually or not"
Suggested by @scarpino

As a potential source of errors/confusion, it might be helpful to store whether a geocode was entered manually VS geocoded by mapbox (we also have the "fetched from mapbox but edited manually" case btw) so that we can go back to them and edit/fix if needed.

Not sure what the UX would be for that right now.

[2020-08-04 16:12] #719 closed

[2020-08-05 07:55] attwad opened #723 "Support CSV as source format"
I want to add a parser for Zurich in #483 but it seems only JSON is supported, need to add CSV as well.

[2020-08-05 10:12] sratcliffe118 commented on #646
This is a slightly nuanced case. If the curator enters a symptom onset data then the case must have had symptoms, otherwise no data could be added. So in this case I am fine to set to Symptomatic.

A pre symptomatic case will not show an onset of symptom date until a time symptoms are evident so there is not a way for bad data to enter the system, without a curator error which this would not solve

[2020-08-05 10:18] allysonjp715 commented on #646
Sorry, I'm not quite understanding this. It's true that a case can have a list of symptoms and also be "Presymptomatic" right? If so, I don't think we should populate "Symptomatic" when given a list of symptoms.

In general, I think it's not a good idea to populate any data the curator didn't enter themselves. We don't want them to be surprised by changes the system makes. It may be a slightly hig

[2020-08-05 10:29] sratcliffe118 commented on #646
A case which is Presymptomatic
<https://medicalxpress.com/news/2020-06-difference-asymptomatic-presymptomatic-coronavirus.html#:~:text=WHO%20defines%20asymptomatic%20spread%20as,will%20eventually%20get%20symptoms%20later.>
cannot have symptoms at the time they are recorded as this state in the DB.
They do however develop symptoms at a later date, and thus are not consider
asymptomatic. When they d

[2020-08-05 10:47] allysonjp715 commented on #646
I see, I didn't fully understand pre-symptomatic, thanks for the link. With this definition, would we *ever* populate pre-sympotmatic in our linelist? If they are a confirmed case with no symptoms at the time, we would choose asymptomatic. Then when they develop symptoms we would label them as symptomatic.

It seems pre-symptomatic can only be used when discussing spread from one person to the nex

[2020-08-05 15:03] axmb commented on #447
Sorry for the delay -- let this one backburner for a bit. I don't think we want to register these sources explicitly in our database for bulk/automated ingestion. For those mechanisms, we have many secondary sources listed, and those will often list _their_ sources themselves. As an example, consider this entry from the India data:

[code]

So we'd end up with thousands of sources in our DB, each

[2020-08-05 16:31] sratcliffe118 commented on #447
@axmb
As long as we are storing the raw data source I am fine with this approach for MVP.
If we find the secondary source is a prominent use case we need to store for ADI then we can reassess down the road
Approach SGTM

[2020-08-06 08:20] attwad opened #734 "Use batch upsert in parsing lambdas common library"
Otherwise I can't test locally with 4000 cases, seems more appropriate to use it anyway.

[2020-08-06 14:38] sratcliffe118 opened #737 "Symptom option: Mild to Moderate"
Not sure what this option means : /
Also how are we deciding the options to show here currently, it should be most popular ?

@allysonjp715 is this in the taxonomy? We should remove

![Screen Shot 2020-08-06 at 3 34 27 PM](https://user-images.githubusercontent.com/63205311/89544754-68e73480-d7fa-11ea-9b74-7e4b08c2c7c8.png)

[2020-08-06 14:46] sratcliffe118 commented on #638
@allysonjp715
As per slack conversation lets go for 5 options for places of transmission

[2020-08-06 15:09] allysonjp715 commented on #737
"Mild to moderate" isn't in the dropdown list, so it must come from the sheets. Any ideas, @khmoran ? Perhaps many people entered "cough, mild to moderate" and it got separated into its own symptom? Do we usually capitalize the first letter?

[2020-08-06 15:27] #723 closed

[2020-08-06 16:16] khmoran commented on #737
Quite possible. I'm not sure how much effort we want to put into diagnosing/fixing issues with the imported data given that we're going to drop it before launch. WDYT @sratcliffe118?

[2020-08-06 16:16] khmoran commented on #737
(hit the wrong button, sorry)

[2020-08-06 16:23] sratcliffe118 commented on #737
If it's in the sheets data then we can ignore, not required for MVP

[2020-08-06 16:23] #737 closed

[2020-08-06 16:44] sratcliffe118 commented on #646
With this definition, would we ever populate pre-sympotmatic in our linelist? If they are a confirmed case with no symptoms at the time, we would choose asymptomatic. Then when they develop symptoms we would label them as symptomatic.
- Yes conceptually we would if the case was reported a positive test with no symptoms it's likely to be pre symptomatic and then over time if they show symptoms chan

[2020-08-07 09:42] attwad opened #743 "Define process and support writing parsers when no unique case ID is present in the source"
A good first example is #483

[2020-08-07 10:32] attwad opened #745 "Parsing lambda: stop extracting the source ID from the s3 bucket URL and take it from the event instead"
We might move to something else than s3 where uuids cannot be used as path parts for example, it would also allow us to test on s3 files that aren't necessarily respecting the uuid/some/other/path.json format.

[2020-08-07 11:39] sratcliffe118 commented on #662
@acansler
Ack on the comment, we will need to ensure that the documentation is clear here. I think we can also include in the error message e.g. Error uploading data, download CSV for upload error codes / reasons.

[2020-08-07 11:40] sratcliffe118 commented on #662
@axmb
ideal scenario here is a single error message showing column missing for all files.
However, i think for MVP we can live with the same experience for all error messages, i.e. in the CSV per row.

[2020-08-07 14:19] #745 closed

[2020-08-07 15:41] sratcliffe118 commented on #631
Thanks @acansler. Given our focus on public data sources for MVP I am going to market this as as P2 and a feature to review following launch

[2020-08-07 15:43] sratcliffe118 commented on #551
Current proposal for MVP, data fields to show in the line list default view

@outbreakprepared any additional feedback, or we will lock this in

Date of creation
Source name
Location (admin 3)
Location (admin 2)
Country (Admin 1)
Age
Gender
Outcome

[2020-08-07 15:44] sratcliffe118 commented on #457
Adding to feature backlog

[2020-08-10 06:58] #734 closed

[2020-08-10 08:41] attwad commented on #518
Static URL is: http://www.chp.gov.hk/files/misc/enhanced_sur_covid_19_eng.csv

[2020-08-10 11:05] attwad opened #754 "Make it feasible to run ingestion functions locally without relying on s3 storage"
To make it easy for new contributors without access to the s3 bucket hosting the service account creds to run a function locally.
Ideally contributors can just use their own account when testing locally.

[2020-08-11 08:49] allysonjp715 commented on #646
Could you describe the situation when we would select pre-sym?

[2020-08-11 10:18] sratcliffe118 commented on #646
Sure,
There is a positive PCR test for a case but there are no reported symptoms. As the test has only just taken place it's too early to confirm if the case is asymptomatic so the status would be set to pre-sym. Then after checking in 10-14 days later the case could be confirmed as either asymp or symptomatic. Essentially its a status for a case with no symptoms where it's too early to define the

[2020-08-11 10:25] allysonjp715 commented on #646
Interesting, okay. So they would select pre-sym when there are no symptoms - we have that wrong currently in the single case form, will fix that.

[2020-08-11 10:33] sratcliffe118 commented on #646
Pre-sym when there are no symptoms -> Yes this would be the case if there had not been the adequate time for symptoms to appear. It's a slight nuance but an important one

[2020-08-11 11:49] #638 closed

[2020-08-11 12:07] allysonjp715 commented on #551
Is "Date of creation" the date they entered the case into our linelist or should it be "Date of confirmation" i.e. when the case was confirmed to have the disease?

I assume we are keeping the linelist ID in that list of columns?

[2020-08-11 12:38] allysonjp715 commented on #646
AB, is there anything left to do as per the original bug after that fix?

[2020-08-11 13:30] axmb commented on #521
I can't quite tell from our alpha/beta spreadsheet -- are we closing this in favor of merely using the all-India-level data?

@sratcliffe118

[2020-08-11 15:57] sratcliffe118 commented on #551
Date of confirmation should be the key date we use here

I assume we are keeping the linelist ID in that list of columns? Yes

[2020-08-11 16:41] #743 closed

[2020-08-11 18:15] sratcliffe118 commented on #521
@outbreakprepared
@scarpino
How do we want to handle cases like this where there are two data sources with potential for duplication in the region, and currently no infra to dedupe for MVP.

[2020-08-11 20:29] attwad opened #769 "Use material style provided by UX"
https://stirring-sky-source.glitch.me/

https://glitch.com/edit/#!/stirring-sky-source?path=my-theme.scss%3A10%3A15

[2020-08-12 07:19] attwad commented on #518
All's left is to setup the parser automation in prod.

[2020-08-12 07:19] attwad commented on #483
All's left is to setup the parser automation in prod.

[2020-08-12 12:40] #634 closed

[2020-08-12 12:51] attwad opened #776 "Enable edge and firefox cross browser testing on our cypress tests"
https://docs.cypress.io/guides/guides/cross-browser-testing.html#Continuous-Integration-Strategies

[2020-08-12 13:12] attwad opened #777 "Define decision making process within Global.Health in contribution guidelines"
If people want to propose new fields/features/whatever they should know who to ask/who can make the final decision.
We should outline the decision process for such features in our [contribution docs](https://github.com/globaldothealth/list/blob/main/CONTRIBUTING.md).

[2020-08-12 13:16] attwad opened #778 "Automatically give local user all roles in local development stack"
Instead of having to run the roles.js script each time we setup a new DB locally or after having run the integration tests, we could add an environment variable that is read by the curator service and contains an email which when logged-in the first time, is given full powers.

This env var should obviously be empty in prod.

Simple QoL improvement for developers with very little complexity added,

[2020-08-12 13:16] khmoran opened #779 "Turn off automatic import & clear prod db"
For v1, we will not be importing existing G.h data into the prod database; we'll start fresh. We need to prep the prod db for this and ensure that automatic imports are off.

[2020-08-12 13:17] khmoran opened #780 "Create data dictionary and provide it on github alongside data exports"
We should provide a data dictionary to accompany the CSV and JSON exports of the case data so users know (1) what it contains and (2) how to interpret it.

[2020-08-12 14:03] sratcliffe118 commented on #780
@outbreakprepared
I think it would be good practice to have someone who is going to be on the project long time compile this. Happy to consult and partner but needs to be well understood post fellowship.

Moritz - please let me know who can lead this and I will work with them.

[2020-08-12 14:09] attwad opened #781 "Add button in source table UI for curators to trigger a one-off run"
For importing data when no deduplication is possible, the multi-step details explained in https://github.com/globaldothealth/list/blob/main/ingestion/functions/README.md requires doing a manual run of the parser, it would be nice to be able to do this from the UI directly for curators.

[2020-08-12 14:52] khmoran opened #783 "Improve performance of revisionMetadata creation"
Currently, the dataserver generates `revisionMetadata` for each new and updated case. It does this through express middleware. It has a negative impact on update/upsert latency because it requires looking up existing cases in order to prepare the correct `revisionMetadata`.

Per conversations between @alexbenjamin18 and @kellyhmoran, a proposal to improve it:

- Consider changing revisionMetadataS

[2020-08-12 14:57] khmoran opened #784 "Improve performance of `caserevision` generation"
Currently, the dataserver generates a `caserevision` document for each updated case, in order to maintain a version history. It does this through express middleware. It has a negative impact on update/upsert latency because it requires looking up existing cases in order to clone them into the `caserevisions` collection.

It also results in a local server OOMing at 50k records per upsert, since it'

[2020-08-13 16:45] khmoran opened #790 "Optimize queries"
We are receiving MongoDB alerts like the below:

[code]

Adding indexes in #782 and #785 did not solve the issue.

[2020-08-13 16:50] khmoran commented on #790
It seems related to charts, ex. here's one query that took a while:

https://cloud.mongodb.com/v2/5ea89a90db26a511f1804cf8#metrics/host/04824987aea705eb892205a8b9d5f242/profiler/covid19.cases/command/1597336651604

Not sure if there are other views/indexes that would help

[2020-08-14 15:00] dakrownie commented on #550
@sratcliffe118 Is this good to be closed out?

[2020-08-14 15:03] sratcliffe118 commented on #550
Ack, yes closing as the data is not being updated. No technical issues

[2020-08-14 15:03] #550 closed

[2020-08-14 16:52] #551 closed

[2020-08-14 16:59] khmoran opened #796 "Possibly validate enum/dictionary values for bulk upload/ADI"
Right now, most dictionary/enum fields like "travel method" or "pathogens" have options restricted only by the UI for single case uploads. For bulk upload or ADI, any string values will be allowed.

We should consider having the curator or data service API validate values, though there's a tradeoff between data consistency and ADI/batch uploads failing all the time because data isn't perfectly con

[2020-08-14 18:27] khmoran opened #797 "Consider backing up cases in caserevisions on delete"
@scarpino mentioned yesterday that it may be useful to have history for cases that have been deleted. When a case is deleted, we should consider backing it up in the caserevisions case like we do for edited cases.

[2020-08-15 21:34] rahul18cracker commented on #488
Hi
I tried google translate on this and it fails to load the data, can you please point me to the exact link when i can have a look at the data. Once the english translation for the link completes any other link that i open is again in Portguese . I am not able to get on what to extract on that page . Can you please help ?

Thanks
~Rahul

[2020-08-15 21:35] rahul18cracker commented on #477
Hi

This seems to be static data, do you want me to pull the csv file everytime from the link once the parser is run ?
Then i will be able to open this file and extract data ?

Thanks
~Rahul

[2020-08-15 21:41] rahul18cracker commented on #489
I would like to claim and work on this, seems to me google translate can do the trick almost for this one

[2020-08-17 09:15] iamleeg commented on #477
There's a separate fetcher function that downloads the data to S3. Your parser just needs to pick up the file from S3 and interpret the content: if the file doesn't update, the fetcher won't trigger it more than once.

[2020-08-17 11:29] dakrownie commented on #780
@outbreakprepared
Bumping this up in your inbox.
Who do you suggest per Stephen's comment above?

[2020-08-17 11:48] dakrownie commented on #777
I added a subheading for improvements.

[2020-08-17 11:56] dakrownie commented on #637
@outbreakprepared
Bumping this up in your inbox. Following up via ping!
Per Stephen's comment above, what is EPI's preferred approach?

[2020-08-17 12:44] axmb commented on #646
Making sure I'm clear -- what's the verdict on the originally suggested inference of Symptomatic/PreexistingConditions?

[2020-08-17 13:02] attwad commented on #776
tested manually on firefox now, I couldn't see any issue from the basic stuff that I've tried.
Trying to automate that with cypress now.

[2020-08-17 13:12] axmb commented on #713
I can take care of populating the upload ID, after which we'll then need to add the search criteria.

[2020-08-17 13:42] #776 closed

[2020-08-17 13:57] attwad commented on #776
OK if someone has a windows machine and wants to test on edge how the website looks please go ahead, the integration tests are not going to fly:
https://github.com/globaldothealth/list/runs/993849641?check_suite_focus=true

we can't even build:
[code]

[2020-08-17 18:24] #713 closed

[2020-08-18 08:20] attwad opened #810 "Automatic deployment of new functions to AWS SAM is broken"
https://github.com/globaldothealth/list/runs/994221789?check_suite_focus=true

Seems like we have a permission problem to create new roles.

That workflow should fail as well, otherwise it's misleading.

@axmb fyi

[2020-08-18 13:31] attwad commented on #810
After 10 retries and all proper permissions granted, this is working... pfew.

[2020-08-18 13:31] #810 closed

[2020-08-18 14:19] attwad opened #814 "Functions deployed with the GitHub actions arent properly packaged"
**Describe the bug**
Get errors about not being able to import the importer package When running a lambda in prod

 curator_1    | Got res: {
 curator_1    |   StatusCode: 200,
 curator_1    |   FunctionError: 'Unhandled',
 curator_1    |   ExecutedVersion: '$LATEST',
 curator_1    |   Payload: `{"errorMessage": "Unable to import module 'retrieval': No module named 'google'", "errorType": "Runtime

[2020-08-20 12:15] attwad opened #831 "Figure out how to handle sources with unstable but predictable URLs"
**Is your feature request related to a problem? Please describe.**
Japan issue https://github.com/globaldothealth/list/issues/481 points to a source URL of https://github.com/reustle/covid19japan-data/tree/master/docs/patient_data, there the latest.json file points to the name of the file that has the latest data in it:
https://github.com/reustle/covid19japan-data/blob/master/docs/patient_data/lat

[2020-08-20 15:51] axmb commented on #831
It's a pattern we've seen in other sources, too. One variation is India's data, which isn't daily, but has a file number that increments once the current file becomes sufficiently large (i.e., it's currently on https://api.covid19india.org/raw_data13.json).

[2020-08-21 13:04] attwad opened #838 "Make it possible to specify a parser ARN without a schedule"
In the sources tab, that will make it easier to test parsers.

[2020-08-24 08:14] attwad commented on #781
Dupe of #813

[2020-08-24 08:14] #781 closed

[2020-08-24 13:01] #831 closed

[2020-08-24 13:23] #838 closed

[2020-08-26 14:05] attwad opened #867 "Retrieval function should make encoding of sources consistent (utf-8)"
Right now the Peru CSV source is in ISO-8859-1 which forces parsers to specify the encoding when opening the file, this is brittle, we should encode the downloaded sources as utf-8 by default to make it consistent for parsers.

[2020-08-26 15:18] axmb commented on #702
I'll retest this shortly. We were close to 10k/minute, but added some slowdowns along with keeping case revisions (which were unfortunately necessary). The slowdowns do impact ADI, but since ADI functions have 15 minutes to complete and don't require a human's attention, I'll leave this at P2 unless that 15 minute deadline is in jeopardy.

[2020-08-27 15:42] AnyaLindstromBattle opened #880 "Downloadable URL for Paraiba Brazil parsing source"
**Describe the bug**
500 Server Error if run retrieval function when using https://superset.plataformatarget.com.br/superset/explore_json/?form_data=%7B%22slice_id%22%3A1549%7D&csv=true as source URL

**To Reproduce**
Steps to reproduce the behavior:
1. Create new source using https://superset.plataformatarget.com.br/superset/explore_json/?form_data=%7B%22slice_id%22%3A1549%7D&csv=true
2. create v

[2020-08-28 07:51] attwad commented on #880
Thanks for reporting, will tackle this now.

[2020-08-28 07:55] attwad commented on #880
OK so, the URL is stored correctly in mongo (that is it's not double encoded there:

[code]

So the issue is in the retrieval function.

[2020-08-28 07:59] attwad commented on #880
Note that the decoded URI is:

`https://superset.plataformatarget.com.br/superset/explore_json/?form_data={"slice_id"%3A1549}&csv=true`

What is happening is that I recently added date formatting to the URL, but it's mangling URLs that have % operators without date meaning like this URL.

I guess Ill have to go with the other approach I was thinking when I added date-based changing URLs, will do t

[2020-08-28 08:38] attwad commented on #603
Considering we don't have manual entry flow as an MVP feature, dropping this, the feature is here and ca be revisited based on user feedback if any.

[2020-08-28 08:38] #603 closed

[2020-08-28 13:34] #880 closed

[2020-08-28 13:34] #780 closed

[2020-08-28 13:39] #867 closed

[2020-08-28 15:37] #779 closed

[2020-08-28 15:43] axmb opened #891 "Make uploads display more digestible"
I've set up our first real ingestion source in prod, and there are a couple of sharp edges around the process. One is how uploads are displayed and shown. We see an upload for every run of automated ingestion -- regardless if no cases were actually modified.

In the Cases API batchUpsert method, we don't distinguish between "a case existed and the requested update was applied" and "a case was _act

[2020-09-01 11:15] attwad opened #904 "Add curator service endpoint to list available parsers"
One step to setup automated ingestion requires curators to specify a parser ARN which can be quite tedious to find & copy.
We should just provide the available functions in the same way we are able to suggest other things when entering cases.

[2020-09-01 13:46] sratcliffe118 opened #907 "Upload search functionality returns no results"
Curator portal: Production environment
User journey: Checking an upload and want to search for all the cases created and run some spot checks

Issue: Clicked on the number of new cases created, this link takes you to the linelist tab and populates the search with the upload ID.  No line list results are shown for search

uploadid:5f485eff867f293c4ec809d8

[2020-09-01 14:20] sratcliffe118 opened #909 "No ability to download selected line list data"
No ability to download selected line list data from the line list tab

@shroothless do you have the UX design for the download functionality?

[2020-09-01 15:18] #904 closed

[2020-09-01 15:36] shroothless commented on #909
![image](https://user-images.githubusercontent.com/67452108/91873714-5ddfc280-ec47-11ea-98b3-71b4c4df4bbd.png)
 Is this what you are referring to?

[2020-09-01 16:07] sratcliffe118 commented on #909
Yes that is correct. My current UI doesn't shows this in PROD or DEV
![Screen Shot 2020-09-01 at 5 06 44 PM](https://user-images.githubusercontent.com/63205311/91877211-a01ff880-ec75-11ea-9690-79945a7e92ec.png)

[2020-09-01 16:23] shroothless commented on #909
UX was delivered recently so likely in progress.

On Tue, Sep 1, 2020 at 12:07 PM Stephen Ratcliffe <notifications@github.com>
wrote:

[2020-09-01 16:25] sratcliffe118 commented on #909
@allysonjp715 is the download functionality still in development?

[2020-09-01 23:05] yinguohang commented on #485
I will be working on this.

[2020-09-02 10:51] sratcliffe118 opened #917 "No data showing in prod version: Internal Error message"
All data dashboards showing an internal error message when logging in

InternalErrorWe encountered an internal error. Please try again.062B7F83ACC0A74Brn75Aum3riP9FQUnYGNe27bcubgJ+w1Jx8vJgowfo2O/+C1EYY1SSA+tMuVB8z3P8vGcmtuJviU=
![Screen Shot 2020-09-02 at 11 50 43 AM](https://user-images.githubusercontent.com/63205311/91972451-a912d780-ed12-11ea-91cf-1225276e8700.png)

[2020-09-02 12:47] #769 closed

[2020-09-02 13:59] allysonjp715 commented on #917
No longer reproducible. "Internal error" means it was a mongo error that we probably didn't have control over anyways. Please do reopen if you see errors again.

[2020-09-02 13:59] #917 closed

[2020-09-02 14:18] attwad commented on #777
Maybe we can now link to the global.health website page mentioning the team and roles? @outbreakprepared if that's acceptable let me know thank you.

[2020-09-02 14:55] #671 closed

[2020-09-02 15:27] axmb commented on #646
All set with the current behavior.

[2020-09-02 15:27] #646 closed

[2020-09-03 06:49] attwad opened #921 "Reduce logging of requests done by axios"
When a bulk upload fails, the WHOLE request is printed out to the console logs which is quite the pollution...

We should be able to ellipse/restrict what is printed on the logs.

Example of such log:

[code]

[2020-09-03 07:33] attwad commented on #481
Looking at the data now, it seems we should be looking at a few more fields to make this parser more useful:

- `confirmedPatient` is true or false, we only want to import the true cases.
- `sourceURL` and `deathSourceURL` should be put as extra sources url in `caseReferences.additionalSources`
- `deceasedDate` should be an event
- `patientStatus` should be parsed as well (I've seen values `Recove

[2020-09-03 10:54] sratcliffe118 opened #925 "Line list search is case sensitive"
Line list search is case sensitive
e.g Search for gender: male -> returns no results
e.g Search for gender: Male -> returns results

Expected behavior: search functionality should return the same results for male and Male. Search should not be case senstive

[2020-09-03 10:56] attwad commented on #925
FYI albeit feasible, case insensitivity is incredibly awkward in mongo.

https://docs.mongodb.com/manual/core/index-case-insensitive/#create-a-case-insensitive-index

[2020-09-03 11:04] sratcliffe118 commented on #925
Ack, can we add some copy next to search title to note that search functionality is case sensitive

[2020-09-03 11:06] sratcliffe118 commented on #925
Note if i search france I get results so it doesn't appear to apply to all fields?

[2020-09-03 11:35] sratcliffe118 opened #928 "Line List tab: Provide content to help explain and guide users"
@shroothless
Thinking more about this, users of the data will be accessing and using this view to search / query and then download the datasets. WDYT on some user content from the marketing folks to help explain and guide users on the page. Currently it feels sparse and fine for users with context and experience with the dataset, but for new users I think we need to provide some more information t

[2020-09-03 11:41] sratcliffe118 opened #929 "Search functionality of the line list: Save favorite searches and 5 most recent searches"
Feature request: Favorite and recent search functionality is saved and available for quicker and easier searching by a curator

Two parts to functionality
1. A curator can save search criteria: e.g. curator:sratcliffe@google.com  can be saved as a search query to make it easier for the curator to repeat the search in the future (when making repeat visits and searches)
2. Search bar retains the las

[2020-09-03 11:55] sratcliffe118 opened #930 "Reader Access view showing source and upload tabs"
- If a profile is reader access they should only be able to access the tabs: Home / Line list / Profile

- Currently they can also see sources and uploads tabs which is not correct.

- Can we remove access to these two tabs for reader profiles

[2020-09-03 11:57] attwad commented on #930
Yes we thought read only access to the sources and upload wouldn't hurt. I don't feel strongly so if you want to remove access altogether happy to do it.

[2020-09-03 12:06] sratcliffe118 commented on #930
Yes please remove

[2020-09-03 12:30] sratcliffe118 commented on #562
Put the help copy into sections here: https://docs.google.com/spreadsheets/d/1mPYrNaO799ZDSTEgCn2WSHEGlwYYxuG2MG9t5TGpN0E/edit#gid=316665458

[2020-09-03 12:39] allysonjp715 commented on #562
The sections that need tooltips can be found here:
https://github.com/globaldothealth/list/blob/main/verification/curator-service/ui/src/components/CaseForm.tsx#L822

And the tooltips can be added to the FieldTitle elements within the sections, e.g. https://github.com/globaldothealth/list/blob/main/verification/curator-service/ui/src/components/common-form-fields/Source.tsx#L33

[2020-09-03 13:31] #930 closed

[2020-09-03 15:31] sratcliffe118 opened #932 "Tool tips: Formmating to include spacing and titles"
Adding spacing and titles to tool tips

Copy and format: https://docs.google.com/document/d/1q2wpSXUmCqgDNWDw0TJ0hClzOJaLXkP7RKndgqqEgBs/edit#

![Screen Shot 2020-09-03 at 4 19 40 PM](https://user-images.githubusercontent.com/63205311/92134911-03d72c80-ee02-11ea-8c33-1df07fd2a2dd.png)

[2020-09-03 15:38] axmb opened #933 "Save case revisions on deletion"
**Describe the bug**
Deleting a case doesn't cause a revision to be saved.

**To Reproduce**
Delete a case in the portal. Look for a case revision in MongoDB with the same ID.

**Expected behavior**
Deleting a case should cause a revision to be saved.

[2020-09-03 15:39] scarpino opened #934 "Empty search for a specific feature returns all"
**Describe the bug**
If you search for a specific feature but leave it blank, e.g., curator:, the search returns all records.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://dev-curator.ghdsi.org/cases
2. Click on the search bar
3. Search for "curator:"
4. See all records returned

**Expected behavior**
No records should be returned for a blank search.

**Screenshots**
<img wid

[2020-09-03 15:42] calremmel opened #935 "Search parameter 'source' matches data source link"
**Describe the bug**
Using the source: parameter in the curator portal search matches the Data source link field

**Expected behavior**
I intuitively expected this to match the title or ID for the source

**Additional context**
Suggestion on call is to change this to 'sourceurl' or similar

[2020-09-03 15:43] scarpino opened #936 "Auto-populate searchable categories in fields in the line list"
**Is your feature request related to a problem? Please describe.**
When I search for a particular field, e.g., curator, I have to know ahead of time what the possible options are.

**Describe the solution you'd like**
The categories associated with records within a particular field auto-populate in the search, e.g., country: Canada, China, etc.

**Describe alternatives you've considered**
It's pos

[2020-09-03 15:45] sratcliffe118 opened #937 "Preventing accidental large deletes of line list entries: Curator limit to line list deletions"
**Feature request**
- Ability to prevent accidental large line list case deletion by limiting the number of line list cases that can be deleted by a curator in one attempt

*Ack this means that a curator can use the work around to delete small portions below the max limit as a workaround to not require the curator admin.

**Solution**
- Only allow curators to delete a maximum number of cases to pr

[2020-09-03 15:50] shroothless opened #938 "Search bar UX tweaks"
**Describe the bug**
Move the Search bar to the top and add filter drop down

**To Reproduce**
Steps to reproduce the behavior:
1. Click on search field
2. Filters appear below

**Expected behavior**
1. Click on search field
2. Type search. string
3. Or click on filter icon/label
4. Show dropdown of available filters

**Screenshots**
If applicable, add screenshots to help explain your problem.
![i

[2020-09-03 15:52] scarpino opened #939 "Clicking on "verify" or "unverify" selected row doesn't change the status of that row sometimes triggers at 500 error"
**Describe the bug**
When I select a row (or rows) in the line list and then click either "verify" or "unverify" nothing seems to happen and sometimes I get a 500 error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://dev-curator.ghdsi.org/cases
2. Click on a row
3. Scroll up and find the "v" and "p" icons for verifying or unverifying a row at the top
4. See the row not change

[2020-09-03 15:59] sratcliffe118 opened #940 "505 error when edit a line list case"
Steps to recreate
1. Pick a line list case
2. Edit a field (i changed the age)
3. Submit

Screen hangs and then provides a 505 error

Browser: Chroms
Curator: sratcliffe@google.com

[2020-09-03 16:06] dakrownie opened #941 "Viewing Uploads Tab in Reader Mode"
**Describe the bug**
Uploads tab available in reader mode

**To Reproduce**
Steps to reproduce the behavior:
- In reader mode
- Navigate to the uploads tab
- Click and see error below

**Expected behavior**
A reader should not see the upload tab button

**Screenshots**

![reader view](https://user-images.githubusercontent.com/33044735/92139542-2b34f600-ee10-11ea-811c-4e2cc0d15bf4.png)

**Environme

[2020-09-03 16:11] sratcliffe118 commented on #940
Error message

{"message":"Request failed with status code 500","name":"Error","stack":"Error: Request failed with status code 500\n at e.exports (https://dev-curator.ghdsi.org/static/js/2.23ec0edc.chunk.js:2:825462)\n at e.exports (https://dev-curator.ghdsi.org/static/js/2.23ec0edc.chunk.js:2:1416822)\n at XMLHttpRequest.p.onreadystatechange (https://dev-curator.ghdsi.org/static/js/2.23ec0edc.chu

[2020-09-03 16:23] axmb commented on #940
From logs:

[code]

Something about a previous request (I believe a `batchUpdate` flipping verification) put these cases into a state where the case object didn't have its revision number incremented, which occurs at the end of the batchUpdate request, but a `caserevision` _was_ saved. Because revisions are keyed on `_id:revisionNumber`, subsequent updates to these cases fail with the above error.

[2020-09-03 16:25] axmb opened #942 "Can't navigate to last page of linelist"
**Describe the bug**
When I try to go to the last linelist page (by hitting the "last page" button at the bottom), the page errors.

**Additional context**
I'm seeing the following in logs:

[code]

Seems like we're perhaps trying to hold and sort the entirety of linelist data in memory as a result of the request.

[2020-09-07 04:07] shroothless opened #948 "UX tweaks"
**Describe the bug**

- Tooltip icon should be in the search field

- Move search bar up to nav bar
- Add download button
- Move pagination up
- Change type face for table rows (not headers) and pagination to Inter

**Screenshots**
https://screenshot.googleplex.com/DNCfDQAirMNvecn

See mocks here for details:
https://www.figma.com/file/TqqzDnXF4KTBAGUchpt4mQ/Global.Health-Marketing-Website?node-id

[2020-09-07 04:14] shroothless opened #949 "Move profile from main menu to top right"
**Describe the bug**
Profile item should be in the top right using the avatar from Google login

**Screenshots**
Details here in this screen shot
https://screenshot.googleplex.com/792ktJR6xsLuKG4

[2020-09-07 08:18] attwad commented on #941
This was fixed in another PR.

[2020-09-07 08:18] #941 closed

[2020-09-07 09:30] attwad commented on #925
I will look at making those case insensitive first, if not well supportable by mongo I'll look into helper text.

[2020-09-07 09:43] #934 closed

[2020-09-07 11:31] #937 closed

[2020-09-07 15:01] attwad opened #954 "Catch error.response.data in UI to display nicer error messages"
As it was done in https://github.com/globaldothealth/list/pull/950

[2020-09-08 08:38] #754 closed

[2020-09-08 10:12] attwad commented on #925
This is fixed in dev, will bump prod and push the new schema indexes there too later today.

[2020-09-08 11:18] #954 closed

[2020-09-08 11:54] attwad commented on #925
okay search for country:china returns the same resutls as country:China now in prod.

[2020-09-08 11:54] #925 closed

[2020-09-08 13:26] attwad commented on #949
Happy to look into this. A few questions though:

Should the avatar be an image button then? or a menu with items to go to the profile page and to logout?
Do we need a default picture when no avatar is set on a person's profile?
Do we need to keep th epicture in sync somehow when they change it in Google?

[2020-09-08 14:18] axmb opened #961 "Fix 60-second request timeout / socket hang up in dev/prod"
**Describe the bug**
Requests in dev/prod time out after 60 seconds.

**To Reproduce**
Send an API request, say to batch upsert, with a large amount of data (>10k rows).

**Expected behavior**
Requests, at least batch upsert, should allow more time to complete.

**Environment (please complete the following information):**
Only occurs in dev/prod -- can't repro locally. I've seen the issue both for

[2020-09-08 14:23] shroothless commented on #949
Do we get integration for free using the google sign on? The avatar is less important than the placement. Let me turn it into a generic account icon and simplify.

[2020-09-08 14:28] shroothless commented on #949
![image](https://user-images.githubusercontent.com/67452108/92489708-149af000-f1be-11ea-86a8-d3bada4481cc.png)

[2020-09-08 14:34] attwad commented on #949
@shroothless Yes we do get the profile url, I actually played a bit with it today and it's fairly easy to keep up to date as well so I think we can go with the actual picture of the user.

The question of what happens when that icon is clicked remains though, is this a menu with two items (profile, logout)?

[2020-09-08 14:50] shroothless commented on #949
Yes, there should be a menu.  Profile, About Global.health, Report an
issue, Logout.
And then we will eliminate the three-dot menu.

On Tue, Sep 8, 2020 at 10:34 AM Timothé <notifications@github.com> wrote:

[2020-09-08 14:52] attwad commented on #949
@shroothless What about the logged-out state then? where should the login action be?

[2020-09-08 15:31] shroothless commented on #949
In the logged out state we could add it to that menu and.  introduce a
login button to the right of the account icon - just trying to keep it
super simple.

On Tue, Sep 8, 2020 at 10:52 AM Timothé <notifications@github.com> wrote:

[2020-09-08 20:17] axmb commented on #961
I've loaded #962 into dev, but it's tough to say whether it had an impact. I'm still seeing hang ups after 1.1min -- specifically, the connection appears to be closed on the data service mid-batchValidate request from the curator service.

[code]

Not clear why we'd be terminating the connection on the data service side; I'll take a closer look.

[2020-09-08 20:48] attwad commented on #961
Perhaps it's mongo related if happening in the data service.
https://mongoosejs.com/docs/connections.html#keepAlive

https://mongoosejs.com/docs/api.html#query_Query-maxTimeMS

Could also be nginx related
https://stackoverflow.com/questions/54366082/nginx-ingress-controller-timing-out-request-after-60s

[2020-09-08 21:38] axmb commented on #961
Interestingly, I'm now seeing our parser Lambdas execute for about 4-5 minutes -- which makes me think, perhaps, that the above change fixed the first issue (but that another issue specific to our frontend, at 1.1min rather than 1min, emerged). The Lambdas still fail after these 4-5 minutes, but it's with a 502 from nginx.

The relevant nginx log is:

[code]

I've previously set `proxy_read_timeou

[2020-09-08 22:01] axmb commented on #961
Ah, interesting -- the failed Lambda invocations (resulting in nginx 502s) are real 502s. It looks like the curator service is OOM'ing. Hadn't noticed this before, but when viewing `--previous` logs:

[code]

Conversely, it seems that the bulk upload failures are also OOMs, though they're in the data service.

[code]

This is for processing all of Japan's data, for reference. It's 74k cases.

[2020-09-08 22:35] axmb commented on #961
One more observation here:

- For Japan, which has ~74k cases, we get ~4-5 minute requests that end in nginx 502 **on batchValidate** because the curator service OOMs (and perhaps the data service OOMs -- I can't quite tell the relation between those two messages just yet).
- For Zurich, which has ~4k cases, we get 1.1 minute requests that end in 500 `socket hang up` **on batchUpsert**. It's possi

[2020-09-09 07:19] attwad commented on #961
Thanks for the investigation Alex, I think holding up a connection for 5 min even if we had enough memory to do so isn't really a great approach.
What we could do to improve the situation is to:
- have parsers yield cases one by one instead of producing the whole list of cases. Cases are independent so this should be fine and memory of lambdas could be predicted better, avoiding yet another let-s-

[2020-09-09 08:25] #949 closed

[2020-09-09 14:34] attwad commented on #932
@sratcliffe118 that docs in your comment points to the bugbash doc, is that intended? I'm sorry I don't really get what's expected of this issue, can you clarify please? thank you

[2020-09-09 14:39] attwad commented on #942
Seems like we're missing an index on the time we use to sort with.

[2020-09-09 15:12] attwad commented on #942
Official docs about this problem:
https://docs.mongodb.com/manual/reference/limits/#Sort-Operations

[2020-09-09 15:24] attwad commented on #942
Ah, I had forgotten about the collation, I got it to work now, will send the PR.

[2020-09-09 15:28] attwad commented on #942
FTR the index I created is:

`db.cases.createIndex({'revisionMetadata.creationMetadata.date': -1}, {collation: {locale: 'en_US', strength: 2}})`

And now https://dev-curator.ghdsi.org/api/cases/?limit=50&page=1404 works

[2020-09-09 18:16] #909 closed

[2020-09-09 18:55] #942 closed

[2020-09-10 06:26] attwad opened #972 "Attach licenses to sources in the UI"
IANAL but it seems like a good idea.

[2020-09-10 08:31] attwad commented on #502
Description of dataset here:
https://www.terviseamet.ee/et/koroonaviirus/avaandmed

[2020-09-10 12:32] #907 closed

[2020-09-10 13:20] #972 closed

[2020-09-10 13:23] axmb commented on #891
Fixed. See:

#892
#899
#900
#902
#913
#976

[2020-09-10 13:23] #891 closed

[2020-09-10 13:31] axmb opened #978 "Add UI-configurable email alerts for automation"
**Describe the solution you'd like**

- Curators can specify email recipients for a given automated source.
- Email notifications are sent for source creation.
- Email notifications are sent for failed ingestion of the source.

**Describe alternatives you've considered**
We use CloudWatch alarms now, but it won't really suite the curation team. When a Lambda fails, an alarm can be sent along an SN

[2020-09-10 13:32] axmb commented on #978
@shroothless / @acansler -- any thoughts on email content for source creation or failed ingestion runs?

I'm just using a basic message now, but if you're keen to put together a couple HTML templates, I can switch to those. Not a big deal, IMO, but a nice to have.

[2020-09-10 13:58] shroothless commented on #978
What would a template look like? Can you send me a sample please..

On Thu, Sep 10, 2020 at 9:32 AM Alex Benjamin <notifications@github.com>
wrote:

[2020-09-10 14:16] allysonjp715 commented on #938
Will track moving the search bar to the top of the screen in #948

[2020-09-10 14:50] #938 closed

[2020-09-10 15:19] allysonjp715 commented on #932
I'm guessing this is the doc he meant to link: https://docs.google.com/spreadsheets/d/1mPYrNaO799ZDSTEgCn2WSHEGlwYYxuG2MG9t5TGpN0E/edit#gid=316665458

[2020-09-10 15:20] allysonjp715 commented on #562
Related: #932

[2020-09-10 16:06] #935 closed

[2020-09-10 16:08] allysonjp715 commented on #797
Duplicate of #933

[2020-09-10 16:08] #797 closed

[2020-09-10 17:53] axmb commented on #978
Yep! Sent over an email.

[2020-09-11 06:28] #484 closed

[2020-09-11 07:08] attwad opened #985 "Add ability to filter cases by dates in the UI"
**Is your feature request related to a problem? Please describe.**
Curators aren't able to filter cases by date in the UI currently.

**Describe the solution you'd like**
Curators should be able to filter by various dates.

Strawman proposal based on the limited parsing capabilities of the library we use to parse the search query:

- add `created_before` and `created_after` search keywords (https:

[2020-09-11 08:08] attwad commented on #517
https://data.cdc.gov.tw/en/download?resourceid=3c1e263d-16ec-4d70-b56c-21c9e2171fc7&dataurl=https://od.cdc.gov.tw/eic/Day_Confirmation_Age_County_Gender_19CoV.csv

[2020-09-11 08:09] attwad commented on #517
Dataset seems to be only in Chinese, let's see how mapbox copes with that.

[2020-09-11 08:45] attwad commented on #517
License is: http://data.gov.tw/license

[2020-09-11 10:32] #933 closed

[2020-09-11 11:58] z023 opened #991 "Portal line list search using admin1 not working for all"
**Describe the bug**
When searching in the line list for admin1:Zurich the correct cases are listed, but when searching for admin1:Hong or admin1:Hong Kong no cases are listed. But the Hong Kong cases are all listed when searching country:China

[2020-09-11 11:59] #991 closed

[2020-09-11 12:05] z023 opened #992 "Search Guide button and text placement"
**Describe the bug**
When searching in the line list for admin1:Zurich the correct cases are listed but when searching for admin1:Hong or admin1:Hong Kong no cases are listed. All Hong Kong cases are listed when searching country:China

[2020-09-11 12:29] attwad opened #994 "Catch bulk write errors when document validation fails"
Looking at prod logs, I see:

[code]

We're not looking at writeErrors so all these details end up being swallowed :(

FYI @axmb

[2020-09-11 12:34] attwad opened #995 "More useful format of console.log lines"
**Is your feature request related to a problem? Please describe.**
When looking at logs in kubernetes, we don't have the context in which they're appearing (time, file, line number).

**Describe the solution you'd like**
standard apache log format or anything really that would make it more useful to debug issues.

Not sure what's the nodejs standard here, perhaps @axmb has an idea?

[2020-09-11 13:33] attwad commented on #994
Here's an actual document schema error:

[code]

I can't figure out what's wrong with this document tbh...

[2020-09-11 13:39] attwad commented on #992
Search with keywords like "admin1" supports exact matches only (it only ignores case), I suggest simply using the full text search functionality in this case: just searching for "Hong Kong" (with parentheses or not, doesn't matter in this particular case) works as intended.

Happy to document that better somewhere if needed!

[2020-09-11 13:55] attwad commented on #994
The document is valid, we just need to push the new schema to prod, @axmb will revive a script we had to do that and push whenever convenient.

[2020-09-11 13:59] attwad commented on #994
Also as for the original issue that I reported, the individual errors are logged by the lambda (this is how I got the example above), this is good enough, I don't think we want to keep those in mongo.

[2020-09-11 14:33] attwad commented on #994
Fixed by #997

[2020-09-11 14:33] #994 closed

[2020-09-11 14:38] #948 closed

[2020-09-13 07:53] Mougk commented on #518
Original data have information of whether the case was imported vs. local. This information is stored in notes. It should also be added to the travel history field.

<img width="671" alt="Screenshot 2020-09-12 at 22 30 04" src="https://user-images.githubusercontent.com/8478551/93013246-e5fa8c00-f5a6-11ea-8d05-2d35962864bc.png">

Original file example:
"4,24/01/2020,23/01/2020,F,62,,Discharged,Non-

[2020-09-13 09:05] Mougk commented on #518
Another note that will need reviewing on this parser:

There is an additional file provided via API from the HK Government that has more information about the location of the cases. Specifically the districts will be relevant as they are Admin 3 regions. There are matching ID's for many of the cases so should be easy to map this file against the HK case doc.

Example of file is below and can be fo

[2020-09-13 20:01] z023 commented on #992
Thanks, yes it works when searching "Hong Kong" so might need that added somewhere.

[2020-09-14 09:49] Mougk opened #1005 "Sorting in line list view"
Would be great to include sorting in line list view.

I downloaded CSV and used sorting function in excel, R which worked fine but is just taking a lot longer. UX may be better having such a simple functionality in the line list view.

[2020-09-14 09:55] Mougk opened #1006 "After opening a line list entry in the Linelist view on the website on page 'X' after closing it user should stay on same page 'X' not on page 1 as it is now"
When I open a line list entry in the Linelist view on the website on let's say page 4 and close it again it defaults back to Page 1. This makes data validation a bit tricky.

Steps to reproduce the behavior:
1. Go to 'https://curator.ghdsi.org/cases'
2. Click on arrow to go to page 2 on line list view
<img width="1191" alt="Screenshot 2020-09-14 at 11 52 32" src="https://user-images.githubusercont

[2020-09-14 13:04] allysonjp715 commented on #1005
There is a bug in material-table around sorting with remote data. Hopefully it is fixed soon:
https://github.com/mbrn/material-table/issues/2322
https://github.com/mbrn/material-table/issues/2252

[2020-09-14 13:47] allysonjp715 commented on #1006
Nearly had a fix for this by saving the page number in the location state, but there is a bug in material table for setting the initial page: https://github.com/mbrn/material-table/issues/964

We should be able to save the search query.

[2020-09-14 14:56] z023 commented on #481
Japan is only showing ~3k cases and should be showing ~75k cases. A parser issue?
Location admin areas 1, 2 and 3 are coming through still in Japanese.

[2020-09-14 15:47] beoutbreakprepared opened #1010 "Filtering of verification status in curator portal"
We discussed the addition of filters to the curator portal GUI to facilitate processing  @allysonjp71 @axmb

e.g. Allow for filtering on verification status so all verified entries can be dropped
e.g. Sorting by Confirmed date so all cases in same time period can be aggregated together more quickly 5

[2020-09-14 15:50] beoutbreakprepared opened #1011 "Notification of parser status and issues"
We know that parsers will fail

Idea:
 - automated status reports on parsers stating success, catastrophic failures (e.g. url has changed), temporal failures (e.g. there is no new data in the parsed location) or other failures
 - either to ping a set mail-list of users or write to a slack channel

[2020-09-14 15:50] beoutbreakprepared commented on #1011
@axmb ?

[2020-09-14 15:50] axmb commented on #1010
Believe we're waiting on a bug for sorting (CMIIW, @allysonjp715). For filtering, we'll get verification status added ASAP.

[2020-09-14 16:03] allysonjp715 commented on #1010
Yep, sorting tracked here: https://github.com/globaldothealth/list/issues/1005
Filtering for dates tracked here: https://github.com/globaldothealth/list/issues/985

We can leave this bug open for filtering by verification status

[2020-09-14 16:04] axmb commented on #1011
Yep! We have an issue tracking this (at least an 80/20 implementation) in #978.

Those changes should be in dev today, and in prod by EOTomorrow.

[2020-09-14 16:05] allysonjp715 commented on #1010
One question I have for filtering by verification status will be how users will know what to search for, since the status shows up as an icon in the UI. We could add info in the tooltip for now, but ideally we could come up with something else (https://github.com/globaldothealth/list/issues/936 ? )

[2020-09-14 16:10] beoutbreakprepared commented on #1011
Great - will close

[2020-09-14 16:10] #1011 closed

[2020-09-14 16:21] beoutbreakprepared commented on #1010
The iconography is pretty clear from my perspective - could it be a toggle with three option: all, verified, unverified. Am naive as to how difficult that is to implement.

[2020-09-14 16:27] Mougk opened #1013 "Add functionality to exclude ID's from auto-ingestion"
Some cases (due to their uniqueness or complexity) will be erroneous and need curators to manually change them. Auto-ingestion will overwrite them with current workflow.

Solution proposed:
Enable easy to configure way for curators to add **ID's** and **fields** that should not be included in auto-ingestion.

[2020-09-14 16:28] allysonjp715 commented on #1010
I meant when searching for cases. So we'll add a filter option for 'verficationStatus:' (or similar) and they will need to know to type in the search bar the values 'verified' or 'pending'. But those values don't show up in the table since they are represented as an icon.

[2020-09-14 21:03] z023 opened #1015 "Adjust structure of downloaded csv file"
Not all the demographic information available when viewing individual cases in the line list is shown when you download the line list. I have added a tab (CaseDemosVSLineListDownload) in the G.h Data Checking Issues google doc (https://docs.google.com/spreadsheets/d/1AZ-RHootmz5NOVyJ4c37fs6lNU3IN27xUZhNJemxWnE/edit#gid=0) where I have listed the demographic categories that are in individual case i

[2020-09-14 23:26] z023 opened #1016 "Import Peru case data"
Uploaded Peru automated source, triggered retrieval and received this error:
Error: Request failed with status code 500

[2020-09-15 06:38] attwad commented on #1005
We'd also need to add indexes in mongo for ALL kind of sorting we'd want to do (all columns currently shown in the linelist) because we've had OOMs in the past due to missing indexes (could not go to the last page for example as the server had to hold the whole dataset in memory in order to sort).

[2020-09-15 07:39] attwad commented on #518
I've sent a PR to consider "imported case" as having traveled in the past 30 days, that sounds reasonable.
I got freaked out by the fine grained detail of the other data set though, going at the admin3 level sounds reasonble but that last link has Residential building level data with "2 or more probable/confirmed cases", from a privacy standpoint that sounds totally untenable.

[2020-09-15 07:41] attwad commented on #992
Okay we need to find a better place for the search documentation then, right now it's just the helper tooltip at the right of the search bar, I am not sure where/how this should be made more visible, calling out our UX friends here for help :)

![image](https://user-images.githubusercontent.com/1255432/93180534-9ac3b300-f737-11ea-9e2c-78dd46a79bad.png)

[2020-09-15 07:43] attwad commented on #502
Needs to be setup in the UI now.

[2020-09-15 07:44] attwad commented on #517
Needs to be setup in the UI now.

[2020-09-15 07:48] attwad commented on #481
The logs of the last run of the parser says that it errored out after having imported 3k cases
![image](https://user-images.githubusercontent.com/1255432/93181246-86cc8100-f738-11ea-9097-6ac97f7e61c1.png)

The parser is fine but the system is having issue that we're tracking in https://github.com/globaldothealth/list/issues/961

[2020-09-15 07:55] attwad commented on #1016
Seems like the data is large and the ingestion function needs more memory to fetch it.

[code]

[2020-09-15 08:24] attwad opened #1020 "Disable charts on homepage for non curators"
**Is your feature request related to a problem? Please describe.**
Charts are meant for curators to see the data aggregates, right now when someone external to the project goes to curator.ghdsi.org what they get is a bunch of empty white boxes.

**Describe the solution you'd like**
we should just remove those if not logged in at all and not curators, pending a nicer homepage.

[2020-09-15 09:00] #1020 closed

[2020-09-15 10:48] attwad opened #1025 "Get rid of reader role"
**Is your feature request related to a problem? Please describe.**
Data is available publicly, we should just require logging-in to view the linelist data in the curator portal.
This will simplify things a bit as well as we have one less role check to do.

This has been requested and approved by @sratcliffe118

[2020-09-15 11:10] Mougk commented on #1016
Just tried again using trigger retrieval. Still does not work (data file has about 729k cases).

[2020-09-15 11:12] attwad commented on #1016
The OOM is gone, the parser runs this time but it seems it needs to be made more robust:

[code]

[2020-09-15 11:13] attwad commented on #1016
Felix can you look at this please?

[2020-09-15 11:24] #1025 closed

[2020-09-15 12:13] sratcliffe118 opened #1030 "Curator data verification: Raw data download functionality"
Functionality to allow a curator to download the raw data from a data source upload to enable spot checks against the line list data created in G.h curator portal.

Process for verification detailed [here](https://docs.google.com/document/d/1tK1PpAqQ37bBVap0g-evGlc06hcnvBpfE6lvpGyu8rc/edit?ts=5f560062#heading=h.rgfqd0hwz5k3)

[2020-09-15 12:24] shroothless commented on #992
Got it let me find a spot.

On Tue, Sep 15, 2020 at 3:41 AM Timothé <notifications@github.com> wrote:

[2020-09-15 12:57] attwad commented on #961
Another thing we should try is reducing the number of cases sent per batch, I arbitrarily set it to 1K but going down to a more reasonable size like just a few hundreds would't hurt latency too much and might make things go smoother.

[2020-09-15 13:03] allysonjp715 commented on #1015
Remaining requests are
- remove `[]` from the download when the value is an empty array
- expand arrays of objects into individual fields in download (e.g. events)

[2020-09-15 13:06] allysonjp715 commented on #1015
For the first request, `[]` does not show up in the download from the UI, it only shows up in the daily exports cc @attwad

[2020-09-15 13:27] attwad commented on #961
FYI I'm also seeing these errors in dev which are not socket hang up but happen at the same time:

[code]

[2020-09-15 13:30] attwad commented on #961
250 items seem to have helped, Estonia was failing in dev but now it succeeded...

[2020-09-15 14:03] attwad commented on #961
For the OOM, curator and data services both request 256Mi of RAM and are capped to 512Mi, we could increase the prod requests and limits a bit, we have two nodes with 2Gi or RAM each so we have some capacity left.

[2020-09-15 14:34] allysonjp715 commented on #939
We should add a loading indicator after clicking those buttons. I'm guessing something like https://github.com/globaldothealth/list/issues/940#issuecomment-686605625 happened to cause the 500 error. If we add a loading indicator showing the progress of the update, that will prevent users from selecting the action again before the first action has completed.

[2020-09-15 15:22] attwad opened #1035 "UI for search broken in dev"
**Describe the bug**
Cannot search in linelist

**To Reproduce**
Steps to reproduce the behavior:
1. Go to linelist
2. Search for "country:Peru"

**Expected behavior**
Peru results appear

**Screenshots**
![image](https://user-images.githubusercontent.com/1255432/93230484-0299ee00-f778-11ea-9438-b9a3d3625a0b.png)

Seems a UI issue as the backend works:
https://dev-curator.ghdsi.org/api/cases/?limi

[2020-09-15 15:23] attwad commented on #1035
Yeah definitely a UI issue as the network works:

![image](https://user-images.githubusercontent.com/1255432/93230674-370daa00-f778-11ea-8567-106e1f85e37d.png)

[2020-09-15 15:27] z023 opened #1036 "Uploads Table adding Source Name column"
Could a column for Source Name (i.e. Country) be added to the Uploads table.

[2020-09-15 15:30] attwad commented on #1035
OK so this is only for Peru, some imported docs do not contain events which contradicts our types.

https://dev-curator.ghdsi.org/api/cases/?limit=50&page=1&q=country%3Aperu
has 100 docs but only 48 confirmed events.

not sure what happened here.

[2020-09-15 15:32] attwad commented on #1035
Prod is fine, I'm guessing this is some conversion script mishappening because those are only imported in dev.

[2020-09-15 15:32] #1035 closed

[2020-09-15 16:54] #939 closed

[2020-09-15 16:56] allysonjp715 commented on #939
Hopefully the cases can no longer get in the faulty state. Please re-open if you see the errors again.

[2020-09-15 16:57] allysonjp715 commented on #940
Hopefully after #1037 the cases can no longer get in a bad state. Leaving this open to track if there is a way to fail more gracefully if there are duplicate case revisions created.

[2020-09-15 16:58] #1036 closed

[2020-09-16 03:17] #978 closed

[2020-09-16 03:26] axmb commented on #961
So I've confirmed that the remaining issues are all OOMs. It's tough to see this in dev, but I was able to repro the most common case locally, which is the data service OOM'ing on `batchValidate`. This is roughly [per above](https://github.com/globaldothealth/list/issues/961#issuecomment-689159886), though in that post I couldn't definitively associate the data service OOMs with the socket hang up

[2020-09-16 08:37] attwad opened #1043 "Lookup existing geocodes before sending request to mapbox improvements"
**Is your feature request related to a problem? Please describe.**
Geocode requests get cached in memory so that we don't call mapbox too much and end up with a large bill, BUT that cache has a fixed size to not eat too much memory (500 items currently) and gets cleared eventually when a service restart happens.

![image](https://user-images.githubusercontent.com/1255432/93347313-3850dc80-f835-11e

[2020-09-16 08:38] allysonjp715 commented on #1010
@shroothless @sratcliffe118 any thoughts on my last comment?

[2020-09-16 08:40] attwad opened #1044 "Mapbox boundaries are in local language"
**Describe the bug**
When importing Thailand case data, we get results like:
![image](https://user-images.githubusercontent.com/1255432/93313440-c367ad80-f808-11ea-9fd9-071ef72570b1.png)

which is technically right but not very useful to non-Thai speaking curators...

Same happens for Japan, except Japan is a bit weirder in that it doesn't have a name at all for the admin3 even though it's correct

[2020-09-16 08:50] sratcliffe118 commented on #1010
IMO we could solve this with a hover over for the icon at the top of the table with the copy:

Verified (Icon): The data source upload has been verified
Unverified (Icon): The data source upload has yet to be verified

[2020-09-16 08:51] sratcliffe118 commented on #1010
@shroothless WDYT?

[2020-09-16 08:58] sratcliffe118 commented on #1010
![Screen Shot 2020-09-16 at 9 57 38 AM](https://user-images.githubusercontent.com/63205311/93315542-13dc0c80-f803-11ea-8766-c2e60fc18e2e.png)
Currently shows as coming soon, we could change this to Verification status

[2020-09-16 09:05] sratcliffe118 opened #1046 "Duplicate line list cases for Japan data set: 2 rows for a USA case"
Looks like there are 2 duplicate data rows for the Japan line list data source

Filter Line list by:
Country: United States

@Mougk Interesting point here is that the data source if Japan but these cases were identified as surfacing in USA.
![Screen Shot 2020-09-16 at 9 58 19 AM](https://user-images.githubusercontent.com/63205311/93316487-2a369800-f804-11ea-987b-0c74e502dee4.png)

[2020-09-16 09:08] z023 commented on #502
The Estonia source lists all people tested so includes both those who were positive and negative so would need to be able to identify those who were positive and negative??
Also the Estonia CSV file when opened is changing some of the age ranges into dates, e.g. age 5-9 is coming through as 5-Sept. This might just be excel when opening and there isn't actually a problem with the file.

[2020-09-16 09:08] attwad commented on #1046
https://en.wikipedia.org/wiki/Japan,_Missouri

/facepalm

[2020-09-16 09:09] attwad commented on #1046
Those have the unique source IDs 10890 and 10891 (check their details), so they are not duplicates.

[2020-09-16 09:14] attwad commented on #1044
Reimported all data in dev and prod.

[2020-09-16 09:15] sratcliffe118 commented on #1046
I did a quick google search and spotted that too :)

Oh ok will close if WAI (good call on the IDs, should have checked that)

[2020-09-16 09:18] attwad commented on #1046
That's still wrong to attribute to US, this was a Japan case.
Here's the raw case that we try to parse:

[code]

"Mid airport" and "port quarantine" ended up being geocoded as that Missouri Japan county which is wrong.

[2020-09-16 09:19] allysonjp715 commented on #1010
Just to double check: I'm talking about searching (aka filtering) rather than sorting. I suppose if we made the hover state of the P icon "pending" and the hover state of the V icon "Verified", and "Verification status" in the header cell as you said. Then in the search bar the users may know what to search for i.e. "verificationStatus:verified" or "verificationStatus:pending". SG enough?

[2020-09-16 09:20] attwad commented on #1046
Looking at the data set, these are the only two cases like that...  we could adapt the parser to ignore them.

[2020-09-16 09:21] attwad commented on #502
Yes only positive cases are imported. And ages should be parsed correctly as well.

[2020-09-16 09:21] #1044 closed

[2020-09-16 09:32] Mougk commented on #1046
Either adapt or we can do manually and note that these ID's do not get updated with new auto ingestion. Also adding @z023 and @outbreakprepared

[2020-09-16 09:53] Mougk commented on #502
Ok, will add feature request to add negatives but that can wait until October.

[2020-09-16 09:54] attwad commented on #502
Why? The list has always been about only positive cases, not a list of all test data. Did something change about that recently?

[2020-09-16 09:55] attwad commented on #502
FTR we have no way of storing negative tests results in the schema, only positive cases.

[2020-09-16 10:01] allysonjp715 commented on #502
We have an issue about non-positive cases already: #457

[2020-09-16 10:02] z023 opened #1047 "Negative COVID test results to also be ingested"
Could cases whose COVID test results are negative also be ingested? E.g. Estonia source data contains positive and negative test results (https://opendata.digilugu.ee/opendata_covid19_test_results.csv).

[2020-09-16 10:04] attwad commented on #1047
Not until the schema supports it: https://github.com/globaldothealth/list/issues/457

[2020-09-16 10:04] Mougk commented on #502
Thanks @allysonjp715 @attwad !

[2020-09-16 10:20] sratcliffe118 commented on #1010
SGTM

Thanks,

Stephen

<https://sites.google.com/a/google.com/gps-email-signature/home/Google_Signature4.png?attredirects=0>

*  •  **Stephen Ratcliffe*

*  • * Google Pay, Product Manager

*  •  *sratcliffe@google.com

  •  Google, Inc.

*If you received this communication by mistake, please don't forward it to
anyone else (it may contain confidential or privileged information), please
erase all

[2020-09-16 10:28] z023 commented on #516
Location.name is in English but location.admins are not being translated.

[2020-09-16 10:29] z023 commented on #481
Location.name is in English but location.admins are not being translated.

[2020-09-16 10:30] attwad commented on #516
I just fixed that an hour ago, please drop Thai data and reimport it will have English names.

[2020-09-16 10:30] attwad commented on #481
Cf my other comment for Thailand, this has been fixed.

[2020-09-16 10:40] z023 commented on #1046
@Mougk Is this the same issue as Indonesia appearing in the Japan dataset?

[2020-09-16 10:53] z023 opened #1049 "Download option for sources list"
It would useful to be able to download the sources list. As a curator, if I am having to delete and re-enter sources it would be helpful to download the list and then I can copy the source information from the list.

[2020-09-16 12:17] z023 opened #1052 "Line list download file name"
When you download the line list the file name comes out as 'cases'. Could the name be more explicit such as 'Global.health COVID-19 cases _date_'

[2020-09-16 13:09] attwad commented on #1043
Okay so a few things as I am trying to sort things out:

1. this requires moving geocoding to data service which is **non trivial**.
2. this requires moving batch validation into the data service as well as part of batch upsert, which was a TODO in the codebase but is not required because of 1.
3. only then can I start thinking about this issue of reusing existing geocodes, that's going to take a

[2020-09-16 13:20] #1052 closed

[2020-09-16 13:22] allysonjp715 commented on #1049
Curious about the user flow here. Why do you need to delete and re-enter a source? Is the edit functionality not sufficient?

[2020-09-16 13:23] allysonjp715 commented on #1047
Duplicate of #457

[2020-09-16 13:23] #1047 closed

[2020-09-16 13:54] z023 commented on #1049
I think if changes are made to the parser, just clicking trigger retrieval might not be initiating the changes??

[2020-09-16 14:24] sratcliffe118 commented on #1046
Also just checked again and it appears these cases are now duplicated in the line list with the same Source IDs

![Screen Shot 2020-09-16 at 3 21 40 PM](https://user-images.githubusercontent.com/63205311/93350550-aba41f80-f830-11ea-811c-fea207706a19.png)

[2020-09-16 14:30] z023 commented on #1046
I re-uploaded Japan and Thailand and thought it would override the cases but it seems to have duplicated them??

[2020-09-16 16:04] dakrownie opened #1055 "Add Individual cases tab, should be what is currently Cases: 3D with new color bands"
Notes:

See [slide 2](https://docs.google.com/presentation/d/1YExjOd8qDXQ-yZm0LDJJXw3doI_V9cQGtPnHipX9FiU/edit?pli=1#slide=id.g978baf5528_8_0)

See color bands [here](https://docs.google.com/presentation/d/1YExjOd8qDXQ-yZm0LDJJXw3doI_V9cQGtPnHipX9FiU/edit?pli=1#slide=id.g978baf5528_0_46)

[Link to beta testing blockers sheet](https://docs.google.com/spreadsheets/d/1wM6se-GPNic3xxyggXPEsk0W6qMo6zl_

[2020-09-16 16:05] dakrownie commented on #1055
Assigned to tommyshimko@google.com

[2020-09-16 16:07] dakrownie opened #1056 "Add Cumulative cases tab, should be what is currently Aggregate, with colored country boundaries and not 3D"
Notes:

See [slide 2](https://docs.google.com/presentation/d/1YExjOd8qDXQ-yZm0LDJJXw3doI_V9cQGtPnHipX9FiU/edit?pli=1#slide=id.g978baf5528_8_0)

See color bands [here](https://docs.google.com/presentation/d/1YExjOd8qDXQ-yZm0LDJJXw3doI_V9cQGtPnHipX9FiU/edit?pli=1#slide=id.g978baf5528_0_46)

[Link to beta testing blockers sheet](https://docs.google.com/spreadsheets/d/1wM6se-GPNic3xxyggXPEsk0W6qMo6zl_

[2020-09-16 16:08] dakrownie commented on #1056
Assigned to tommyshimko@google.com and Manu

[2020-09-16 16:09] dakrownie opened #1057 "Add search/drop down with all countries. Picking a new country will focus the map on enter or click to change the focus of the card to data for that country"
[Link to beta testing blockers list](https://docs.google.com/spreadsheets/d/1wM6se-GPNic3xxyggXPEsk0W6qMo6zl_RRcEwU6OcoU/edit#gid=1506108781)

[2020-09-16 16:11] dakrownie opened #1058 "Individual cases: Remove list of countries"
Design link
Slide 11

[Link to beta testing blockers list](https://docs.google.com/spreadsheets/d/1wM6se-GPNic3xxyggXPEsk0W6qMo6zl_RRcEwU6OcoU/edit#gid=1506108781)

[2020-09-16 16:13] dakrownie opened #1059 "Individual cases: Add filters"
[Link to beta testing blocker list](https://docs.google.com/spreadsheets/d/1wM6se-GPNic3xxyggXPEsk0W6qMo6zl_RRcEwU6OcoU/edit#gid=1506108781)

[2020-09-16 16:14] dakrownie opened #1060 "Adjust all typefaces to Inter"
Notes:
Will align to brand

[Link to beta testing blocker list](https://docs.google.com/spreadsheets/d/1wM6se-GPNic3xxyggXPEsk0W6qMo6zl_RRcEwU6OcoU/edit#gid=1506108781)

[2020-09-16 16:15] dakrownie opened #1061 "Remove top nav bar: remove cases, aggregates, history, fresheness, rank, synch"
[Link to beta testing blocker list](https://docs.google.com/spreadsheets/d/1wM6se-GPNic3xxyggXPEsk0W6qMo6zl_RRcEwU6OcoU/edit#gid=1506108781)

[2020-09-16 16:16] dakrownie opened #1062 "Color adjustment for all map views"
Notes
Define bands for legend

Design link: Slide 9

[Link to beta testing blocker list](https://docs.google.com/spreadsheets/d/1wM6se-GPNic3xxyggXPEsk0W6qMo6zl_RRcEwU6OcoU/edit#gid=1506108781)

[2020-09-16 16:17] dakrownie opened #1063 "G.h Map: Remove the download link from the visualization"
[Link to beta testing blocker list](https://docs.google.com/spreadsheets/d/1wM6se-GPNic3xxyggXPEsk0W6qMo6zl_RRcEwU6OcoU/edit#gid=1506108781)

[2020-09-16 16:18] dakrownie opened #1064 "Mock up and style country zoom"
[Link to beta testing blocker list](https://docs.google.com/spreadsheets/d/1wM6se-GPNic3xxyggXPEsk0W6qMo6zl_RRcEwU6OcoU/edit#gid=1506108781)

[2020-09-16 16:18] dakrownie commented on #1064
Assigned to tommyshimko@google.com and Manu

[2020-09-16 16:19] dakrownie opened #1065 "Mock up and style search drop down"
[Link to beta testing blocker list](https://docs.google.com/spreadsheets/d/1wM6se-GPNic3xxyggXPEsk0W6qMo6zl_RRcEwU6OcoU/edit#gid=1506108781)

[2020-09-16 16:19] dakrownie commented on #1065
Assigned to tommyshimko@google.com and Manu

[2020-09-16 16:21] dakrownie opened #1066 "Add history and coverage to the Individual Cases tab"
[Link to beta testing blocker list](https://docs.google.com/spreadsheets/d/1wM6se-GPNic3xxyggXPEsk0W6qMo6zl_RRcEwU6OcoU/edit#gid=1506108781)

[2020-09-16 16:22] dakrownie commented on #1066
Assigned to tommyshimko@google.com and Manu

[2020-09-16 16:23] dakrownie commented on #1066
From Shroo:
History today is the linelist growth over time. It should be aggregate right?

@leslieleland and @sratcliffe118 Should we document this for future so it shows the pandemic growth as opposed the our collection of data.

[2020-09-16 16:25] dakrownie opened #1067 "History: Adjust bands, play button, scrubber"
[Link to beta testing blocker list](https://docs.google.com/spreadsheets/d/1wM6se-GPNic3xxyggXPEsk0W6qMo6zl_RRcEwU6OcoU/edit#gid=1506108781)

[2020-09-16 16:25] dakrownie commented on #1067
Assigned to tommyshimko@google.com

[2020-09-16 16:26] dakrownie opened #1068 "Coverage: adjust bands"
[Link to beta testing blocker list](https://docs.google.com/spreadsheets/d/1wM6se-GPNic3xxyggXPEsk0W6qMo6zl_RRcEwU6OcoU/edit#gid=1506108781)

[2020-09-16 16:26] sratcliffe118 opened #1069 "Link to download the data dictionary form the list view"
Provide a unique link to download the line list data dictionary when in the line list tab view

@shroothless Please add in the UX for location and link and assign to @allysonjp715

[2020-09-16 16:26] dakrownie commented on #1068
Assigned to tommyshimko@google.com

[2020-09-16 16:27] dakrownie opened #1070 "Style the hover state for country"
Need design

[Link to beta testing blocker list](https://docs.google.com/spreadsheets/d/1wM6se-GPNic3xxyggXPEsk0W6qMo6zl_RRcEwU6OcoU/edit#gid=1506108781)

[2020-09-16 16:27] dakrownie commented on #1070
Assigned to tommyshimko@google.com

[2020-09-16 16:28] dakrownie opened #1071 "Visual bug bash issues"
UI issues identified form the bug bash

[2020-09-16 16:30] sratcliffe118 opened #1072 "Link from the curator portal to the G.h Visualization (aka G.h Map)"
Link from the curator portal to the G.h Visualization (aka G.h Map) [link](http://covid-19.global.health/#coverage)

@shroothless please add the UX mock and assign to @allysonjp715

[2020-09-16 16:33] dakrownie opened #1073 "Add search by country or filter category"
[Link to beta testing blocker list](https://docs.google.com/spreadsheets/d/1wM6se-GPNic3xxyggXPEsk0W6qMo6zl_RRcEwU6OcoU/edit#gid=1506108781)

[2020-09-16 16:34] dakrownie opened #1074 "Display counts/percentage coverage of available fields by country in Map"
[Link to beta testing blocker list](https://docs.google.com/spreadsheets/d/1wM6se-GPNic3xxyggXPEsk0W6qMo6zl_RRcEwU6OcoU/edit#gid=1506108781)

[2020-09-16 16:35] dakrownie opened #1075 "It is unclear if data is the same as available for download"
[Link to beta testing blocker list](https://docs.google.com/spreadsheets/d/1wM6se-GPNic3xxyggXPEsk0W6qMo6zl_RRcEwU6OcoU/edit#gid=1506108781)

[2020-09-16 16:38] dakrownie opened #1076 "The download link is does not download - there are 3 ways to download data. Discussion of which way this button will work"
[](https://curator.ghdsi.org/cases
)

[Link to beta testing blocker list](https://docs.google.com/spreadsheets/d/1wM6se-GPNic3xxyggXPEsk0W6qMo6zl_RRcEwU6OcoU/edit#gid=1506108781)

[2020-09-16 16:41] dakrownie commented on #1076
@attwad: Calling your attention to this.

Tim: @allysonjp715 do you know anything about a broken download link?

Allyson: This is under data viz component, so I think this is on @manucornet@google.com page

Tim: ohhh, sorry I missed that. Alright then, not sure what's broken? That link is working but perhaps it's the reader role issue highlighted below that is the problem?

Allyson: not sure... @a

[2020-09-16 16:42] dakrownie opened #1077 "The Line List/Portal link is broken"
https://curator.ghdsi.org/cases

[Link to beta testing blocker list](https://docs.google.com/spreadsheets/d/1wM6se-GPNic3xxyggXPEsk0W6qMo6zl_RRcEwU6OcoU/edit#gid=1506108781)

[2020-09-16 16:43] dakrownie opened #1078 "Add Individual cases, Total cases tabs"
[Link to beta testing blocker list](https://docs.google.com/spreadsheets/d/1wM6se-GPNic3xxyggXPEsk0W6qMo6zl_RRcEwU6OcoU/edit#gid=1506108781)

[2020-09-16 16:43] dakrownie opened #1079 "Add search/drop down with all countries. Picking a new country will focus the map and change the focus of the card to data for that country"
[See slide 3](https://docs.google.com/presentation/d/1YExjOd8qDXQ-yZm0LDJJXw3doI_V9cQGtPnHipX9FiU/edit?pli=1#slide=id.g978baf5528_0_38
)

[Link to beta testing blocker list](https://docs.google.com/spreadsheets/d/1wM6se-GPNic3xxyggXPEsk0W6qMo6zl_RRcEwU6OcoU/edit#gid=1506108781)

[2020-09-16 16:44] dakrownie opened #1080 "Keep Case, Remove Deaths"
[Link to beta testing blocker list](https://docs.google.com/spreadsheets/d/1wM6se-GPNic3xxyggXPEsk0W6qMo6zl_RRcEwU6OcoU/edit#gid=1506108781)

[2020-09-16 16:45] dakrownie opened #1081 "Remove list of countries and replace with filters"
[Link to beta testing blocker list](https://docs.google.com/spreadsheets/d/1wM6se-GPNic3xxyggXPEsk0W6qMo6zl_RRcEwU6OcoU/edit#gid=1506108781)

[2020-09-16 16:47] dakrownie opened #1082 "Show data coverage per filter"
[Link to beta testing blocker list](https://docs.google.com/spreadsheets/d/1wM6se-GPNic3xxyggXPEsk0W6qMo6zl_RRcEwU6OcoU/edit#gid=1506108781)

[2020-09-16 16:48] dakrownie opened #1083 "The navigation is different (linelist cases and aggregate cases views)"
WIP update here p5 ([link](https://docs.google.com/presentation/d/1YExjOd8qDXQ-yZm0LDJJXw3doI_V9cQGtPnHipX9FiU/edit?pli=1#slide=id.g987c4c1b8f_3_50
))

[Link to beta testing blocker list](https://docs.google.com/spreadsheets/d/1wM6se-GPNic3xxyggXPEsk0W6qMo6zl_RRcEwU6OcoU/edit#gid=1506108781)

[2020-09-16 16:50] dakrownie opened #1084 "Remove top nav bar: remove cases, aggregates, history, freshness, rank, synch"
Note:
We are updating design proposal here

[Link to beta testing blocker list](https://docs.google.com/spreadsheets/d/1wM6se-GPNic3xxyggXPEsk0W6qMo6zl_RRcEwU6OcoU/edit#gid=1506108781)

[2020-09-16 16:50] dakrownie commented on #1084
Assigned to tommyshimko@google.com and Manu

[2020-09-16 16:51] dakrownie opened #1085 "Rollover states"
[Link to beta testing blocker list](https://docs.google.com/spreadsheets/d/1wM6se-GPNic3xxyggXPEsk0W6qMo6zl_RRcEwU6OcoU/edit#gid=1506108781)

[2020-09-16 16:51] dakrownie opened #1086 "Visual details"
[Link to beta testing blocker list](https://docs.google.com/spreadsheets/d/1wM6se-GPNic3xxyggXPEsk0W6qMo6zl_RRcEwU6OcoU/edit#gid=1506108781)

[2020-09-16 16:52] dakrownie opened #1087 "Remove per capita checkbox"
[Link to beta testing blocker list](https://docs.google.com/spreadsheets/d/1wM6se-GPNic3xxyggXPEsk0W6qMo6zl_RRcEwU6OcoU/edit#gid=1506108781)

[2020-09-16 16:53] dakrownie opened #1088 "Add the date updated in the header instead of per filter"
[Link to beta testing blocker list](https://docs.google.com/spreadsheets/d/1wM6se-GPNic3xxyggXPEsk0W6qMo6zl_RRcEwU6OcoU/edit#gid=1506108781)

[2020-09-16 16:54] dakrownie opened #1089 "Per filter show update date"
[Link to beta testing blocker list](https://docs.google.com/spreadsheets/d/1wM6se-GPNic3xxyggXPEsk0W6qMo6zl_RRcEwU6OcoU/edit#gid=1506108781)

[2020-09-16 16:55] dakrownie opened #1090 "Add direct download"
[Link to beta testing blocker list](https://docs.google.com/spreadsheets/d/1wM6se-GPNic3xxyggXPEsk0W6qMo6zl_RRcEwU6OcoU/edit#gid=1506108781)

[2020-09-16 16:55] dakrownie opened #1091 "Content for the “About” page contains filler text under the mission"
[Link to beta testing blocker list](https://docs.google.com/spreadsheets/d/1wM6se-GPNic3xxyggXPEsk0W6qMo6zl_RRcEwU6OcoU/edit#gid=1506108781)

Notes:
Isamar to help here (remove filler text), Avani to update About page design to include Get Involved

[2020-09-16 16:58] dakrownie commented on #1091
Assigned to
avaniagarwal@google.com, isamarpena@google.com and @rkassa

[2020-09-16 17:01] sratcliffe118 opened #1092 "Global.health Terms of Use on Line List tab"
We need to add the Terms of Use to the LineList tab in the G.h List view.

Terms of use content can found [here](https://docs.google.com/document/d/1zj_4TNcqEzYxPk-NKdgPJRchhySNrlb5m56cp2bP2hA/edit)

@shroothless can you mock up where these could go on the page, we can either have them fully displayed or they could be access via a link: Terms of Use

[2020-09-16 17:06] dakrownie commented on #1091
@dakrownie  @avaniagarwal@google.com Is there a marketing contact we can assign this to? We can break up the writing responsibility from the implementation.

Kernie: @isamarpena@google.com Since you are leading efforts on the 'About' page, can you take this?

Isamar: definitely happy to take!

Shroo: Thanks Isamar, we are updating the design so there is one About page, with mission and get involve

[2020-09-16 17:11] dakrownie opened #1093 "For the beta test, data viz can be a static image"
Moving all data viz action items to Data Viz tab

[Link to beta testing blocker list](https://docs.google.com/spreadsheets/d/1wM6se-GPNic3xxyggXPEsk0W6qMo6zl_RRcEwU6OcoU/edit#gid=1506108781)

[2020-09-16 17:12] dakrownie commented on #1093
Leslie: @shroo@google.com can you assign to the owner who will update the data viz to a static image for the Beta Test only?

[2020-09-16 17:14] dakrownie opened #1094 "What data is actually available?"
Data for Beta Test with Researchers should be latest/greatest real world data

Currently at 10 sources ([https://curator.ghdsi.org/sources](https://curator.ghdsi.org/sources))

List of parsers available ([link](https://github.com/globaldothealth/list/blob/main/ingestion/functions/README.md#writing-a-parser-where-deduplication-of-patients-cannot-be-done))

[Link to beta testing blocker list](https:

[2020-09-16 17:16] dakrownie commented on #1094
Currently at 10 sources
[](https://curator.ghdsi.org/sources)
List of parsers available: [](https://github.com/globaldothealth/list/blob/main/ingestion/functions/README.md#writing-a-parser-where-deduplication-of-patients-cannot-be-done)

[2020-09-16 17:23] sratcliffe118 commented on #1094
List of parsers are here

https://github.com/globaldothealth/list/tree/main/ingestion/functions#parsers

[2020-09-16 17:26] sratcliffe118 commented on #1094
Not sure what the issue is here?

[2020-09-16 17:26] acansler commented on #1076
Correct, this was referencing the data viz component download button, which appears to now links to the portal.

[2020-09-16 17:28] sratcliffe118 commented on #1090
No data download from map for MVP

[2020-09-16 17:28] #1090 closed

[2020-09-16 17:28] sratcliffe118 commented on #1089
Decision made to not show on filter level, will show update at top data level

[2020-09-16 17:28] #1089 closed

[2020-09-16 17:29] sratcliffe118 commented on #1088
Not sure what this referencing, can we add more details?

[2020-09-16 17:33] sratcliffe118 commented on #1086
We need more detail on this

[2020-09-16 17:36] dakrownie opened #1095 "20 different countries available in the line List data set"
Seems like this is working as intended for Beta. We have 10 available for configuration now, which is [the target we'd set](https://docs.google.com/document/d/1kYKNW56Ta7KaLSYD15Jqoz0wEshHwLNqil_cQp0JCr8/edit#heading=h.6s5o6poh8b3a)

Plan is 20 within the next 12 days. The available parsers are [documented here](https://github.com/globaldothealth/list/tree/main/ingestion/functions#parsers), and th

[2020-09-16 17:37] dakrownie opened #1096 "Create a static image for G.h website"
Will use static images for beta test which will improve performance.  Will mark as done when we can do a preview with static image

[Link to beta testing blocker list](https://docs.google.com/spreadsheets/d/1wM6se-GPNic3xxyggXPEsk0W6qMo6zl_RRcEwU6OcoU/edit#gid=1506108781)

[2020-09-16 17:39] dakrownie opened #1097 "G.h list: Data download needs documentation"
Provide documentation to the user to explain the data download process

[2020-09-16 17:42] dakrownie opened #1098 "Pop-up for first-time users on Line List Platform/G.h Map"
[Link to beta testing blocker list](https://docs.google.com/spreadsheets/d/1wM6se-GPNic3xxyggXPEsk0W6qMo6zl_RRcEwU6OcoU/edit#gid=1506108781)

Need to add a first time use state, status: Design TBD

[2020-09-16 17:42] dakrownie commented on #1098
Assigned to tommyshimko@google.com and Shroo

[2020-09-16 17:44] dakrownie opened #1099 "G.h Website: Global Cases - headers/links don’t work"
Add articles in wordpress- Need admin access to wordpress (Marketing, Design)

[Link to beta testing blocker list](https://docs.google.com/spreadsheets/d/1wM6se-GPNic3xxyggXPEsk0W6qMo6zl_RRcEwU6OcoU/edit#gid=1506108781)